$blackPrimary: rgba(19, 17, 18, 1);
$darkPrimary: rgba(1, 22, 39, 1);
$grayPrimary: rgba(96, 101, 111, 1);
$whitePrimary: rgba(247, 247, 255, 1);
$redPrimary: rgba(255, 0, 34, 1);
$goldPrimary: rgba(242, 201, 76, 1);
$greenPrimary: rgba(39, 174, 96, 1);
$bluePrimary: rgba(39, 154, 241, 1);
$lightLight: rgba(240, 233, 233, 1);
$blackLight: rgba(2, 4, 15, 1);
$brightLight: rgba(229, 149, 0, 1);
$redLight: rgba(125, 0, 45, 1);
$cobaltLight: rgba(61, 52, 139, 1);
$blueLight: rgba(0, 96, 136, 1);
$body: 'Montserrat', "Segoe UI", "Helvetica", sans-serif;
$code: 'Native', monospace;
