@media only screen and (min-width: 720px) {
  :root {
    --headerPadding: 5.5rem;
    --readingFont: 1.9rem;
    --subFont: 1.7rem;
  }

  #close,
  #menu {
    display: none;
  }

  .mainNavigation {
    height: auto;
    width: 100%;
    padding: .5rem 1rem;
    position: static;
    background-color: transparent;
    font-weight: 700;
  }

  ul.navbar {
    flex-direction: row;

    li {
      padding: .3rem;

      &:nth-child(1) {
        margin-right: auto;
      }

      &:nth-child(1n+2) {
        margin: 0 1rem;
      }
    }

    a {
      padding: .3rem;
      color: $whitePrimary;
    }
  }

  #link__blog:hover,
  #link__home:hover,
  #link__music:hover {
    background-color: transparent;
    text: {
      decoration: underline;
      decoration-thickness: .3rem;
    }
  }

  #link__home:hover {
    text-decoration-color: $redPrimary;
  }

  #link__projects:hover {
    background: $goldPrimary;
    color: $blackPrimary;
  }

  #link__music:hover {
    text-decoration-color: $goldPrimary;
  }

  #link__contact:hover {
    background: $bluePrimary;
    color: $blackPrimary;
    border-radius: 1rem;
  }

  #link__blog:hover {
    text-decoration-color: $greenPrimary;
  }

  .button__container {
    place-items: start;
  }

  .split {
    grid-template-columns: 1fr 1fr;
    align-items: first baseline;
    max-width: 1350px;
  }

  .contactPage .split {
    place-items: center;
    width: 100%;
  }
}
@media only screen and (min-width: 1062px) {
  :root {
    --gap: 4rem;
  }

  .homepage {
    --animateWidthLg: 48rem;
    --animateWidthSm: 42.5rem;

    .typewriter__2 {
      font-size: 5rem;
    }
  }
  @keyframes typing {
    from {
      width: 0;
    }

    to {
      width: var(--animateWidthSm);
    }
  }
  @keyframes typing-2 {
    from {
      width: 0;
    }

    to {
      width: var(--animateWidthLg);
    }
  }

  h1 {
    font-size: 6rem;
  }

  h2 {
    font-size: 4.4rem;
  }

  h3 {
    font-size: 3.2rem;
  }

  h4 {
    font-size: 2.8rem;
  }

  h5 {
    font-size: 2.5rem;
  }

  h6 {
    font-size: 2.2rem;
  }

  ul.navbar {
    font-size: 2.1rem;
  }

  #me {
    max-width: 130px;
  }

  .footer__wrapper {
    max-width: 300px;
  }

  .footer__icons {
    --gap: 2rem;
  }

  .section-header p {
    max-width: 50vw;
  }

  .skew .content {
    grid-template-columns: 1fr 1fr;
    --readingFont: 2.1rem;
  }
}
@media (prefers-color-scheme: light) {
  :root {
    --headings: 'Lora', sans-serif;
    --headerBorder: 2px solid rgba(2, 4, 15, 1);
  }

  html {
    background: $lightLight;
    color: $blackLight;
    font-weight: 400;
  }
  @keyframes cursor {
    0% {
      border-right-color: $blackLight;
    }

    100% {
      border-right-color: transparent;
    }
  }

  .mainNavigation {
    background-color: $blackLight;
  }

  .banner {
    background: $blackLight;
    color: $lightLight;
  }

  ul.navbar {
    a {
      color: $lightLight;

      &:focus {
        background: $lightLight;
        color: $blackLight;
      }
    }
  }

  #open svg > path {
    stroke: $blackLight;
  }

  #close svg > path {
    stroke: $lightLight;
  }

  a {
    color: $redLight;

    &:hover {
      color: $cobaltLight;
    }
  }

  .button {
    background: $redLight;
    color: $lightLight;

    &:hover {
      background-color: $cobaltLight;
    }

    &:focus {
      outline-color: $blackLight;
    }
  }

  figcaption {
    color: $blackLight;
  }

  .contact-form {
    background: $blackLight;
    color: $lightLight;
    border: 1px solid $blackLight;
  }

  .hero,
  .hero__header {
    background-color: $lightLight;
  }

  .icon-bar {
    background: $blackLight;
  }

  .blog-listing,
  .blog__header,
  blockquote {
    border-color: $redLight;
  }

  #frontRoyal img,
  #troy img {
    filter: invert(100%);
  }

  #froro {
    &::before {
      background: $blackLight;
    }

    .content {
      color: $lightLight;
    }
  }

  #pang {
    &::before {
      background: $redLight;
    }

    .content {
      color: $lightLight;
    }
  }
}
@media (prefers-color-scheme: light) and (min-width: 720px) {
  .mainNavigation {
    background-color: transparent;
  }

  ul.navbar a {
    color: $blackLight;
  }

  #link__home:hover {
    text-decoration-color: $blueLight;
  }

  #link__projects:hover {
    background: $brightLight;
    color: $blackLight;
  }

  #link__music:hover {
    text-decoration-color: $redLight;
  }

  #link__contact:hover {
    background: $blueLight;
    color: $lightLight;
  }

  #link__blog:hover {
    text-decoration-color: $cobaltLight;
  }
}
@media (prefers-reduced-motion) {
  .animated-header {
    .typewriter__1,
    .typewriter__2 {
      animation: none;
    }
  }
}