/* content styles */
.welcome {
  width: 100%;
  margin: 0 auto 0px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
#headshot {
  margin: 3% auto 5%;
  width: 60vw;
}
#resumeButton {margin: 3% auto;}
#blurb {
  width: 100%;
  font-size: .9rem;
  text-align: center;
  margin: 0 auto;
  padding: 0 2%;
}
.downArrow {
  width: 100%;
  margin: 7% auto;
  text-align: center;
}
.card {
  width: 90%;
  margin: 0 auto 2vh;
  padding: 2% 2%;
}
.card h2 {font-weight: bold;}
#whatsThis {
  background-color: var(--black-one);
  color: var(--white-one);
}
#whatsThis h2, #myBands h2 {text-align: center;}
#briefExplanation {margin: 5% auto;}
#musicIntro {
  color: var(--white-one);
  position: relative;
}
#musicIntro::before {
  content : "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background: url("../images/guitar-tracking-blur_med.jpg") center;
  background-size: cover;
  width: 100%;
  height: 100%;
  opacity: 0.8;
  z-index: -1;
}
#musicIntro h2 {text-align: right;}
#musicContent p, #musicContent h2 {
  background-color: var(--black-one);
  padding: 5px;
  -webkit-clip-path: polygon(0% 5%, 100% 0%, 98% 95%, 0% 100%);
  clip-path: polygon(0% 5%, 100% 0%, 98% 95%, 0% 100%);
}
.bandLogo {
  display: block;
  max-width: 90vw;
  margin: 30px auto 0;
}
#ahLogo {width: 50%;}
#frLogo {width: 80%;}
.plate {
  display: block;
  width: 75%;
  max-width: 400px;
  margin: 10px auto;
  border: 1px solid transparent;
  padding: 10px;
  white-space: nowrap;
  text-align: center;
  font-style: italic;
  color: var(--white-one);
}
#ah {background-color: var(--purple-one);}
#fr {background-color: var(--black-one);}

/*easter eggs*/
#egg1btn {
  z-index: 1;
  position: absolute;
  top: 0;
  right: 0;
  font-size: .6rem;
  margin: 5px 5px 0 0;
  color: var(--white-two);
  background-color: var(--white-two);
  border: none;
}
#egg1btn:hover {
  color: var(--black-one);
  border: 2px solid var(--black-one);
}

/* desktop styles */
@media only screen and (min-width: 1024px) {
  .welcome {
    width: 90vw;
    margin: 5vh auto;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: auto auto 1fr;
    grid-template-areas:
      "header img"
      "button img"
      "blurb img";
  }
  .welcome h1 {
    grid-area: header;
    margin: 10% auto 5%;
  }
  .headshot {
    grid-area: img;
    align-self: center;
  }
  #welcomeButton {grid-area: button;}
  #blurb {
    grid-area: blurb;
    font-size: revert;
  }
  #headshot {
    width: 90%;
    margin: auto;
    float: right;
  }
  .downArrow {
    margin-bottom: 0;
    font-size: .7rem;
  }
  .card {margin-bottom: 5vh;}
  #whatsThis {
    text-align: center;
    width: 80%;
  }
  #whatsThis.card {padding: 2% 0 0;}
  #whatsThis p {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
  #briefExplanation.card {
    width: 95vw;
    padding: 0 1vw;
  }
  #briefExplanation {
    display: grid;
    margin: 5vh auto;
    grid-template-columns: 35% 65%;
    grid-template-rows: repeat(4, auto);
    grid-template-areas:
      ". text"
      "header text"
      "button text"
      ". text";
  }
  #briefExplanation h2 {grid-area: header;}
  #briefContent {
    grid-area: text;
    text-align: right;
    font-size: .9rem;
  }
  #aboutButton {grid-area: button;}
  #aboutButton a.button {margin: 2% auto 2% 0;}
  #musicIntro h2 {text-align: left;}
  #musicContent p, #musicContent h2 {
    padding: 10px;
    -webkit-clip-path: polygon(1% 15%, 100% 0%, 98% 85%, 0% 100%);
    clip-path: polygon(1% 15%, 100% 0%, 98% 85%, 0% 100%);
  }
  #container-music {
    display: flex;
    flex-direction: row;
    margin: 5vh auto;
    padding: 0 2vw;
  }
  #container-bands {
    display: flex;
    flex-direction: row;
    align-items: baseline;
  }
  #myBands {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  .bandLogo {margin: 10px auto;}
  .plate {font-size: .8rem;}
}

@media only screen and (min-width: 1440px) {
  .welcome {max-width: 1600px;}
  #headshot {
    width: 75%;
    float: none;
  }
  #blurb {padding: 0 6vw;}
  #whatsThis {width: 65%;}
  #projectsButton a.button {margin: 2% auto 4%;}
  #briefExplanation.card {
    padding: 0 5vw;
    width: 90%;
  }
  #briefExplanation {
    grid-template-columns: 40% 60%;
    margin: 3vh auto;
  }
  #briefContent {text-align: center;}
  #container-music {
    width: 90vw;
    padding: 0 5vw;
    margin-bottom: 0;
  }
  #actionhamilton, #frontroyal {width: 50%;}
  #frLogo {width: 100%;}
  #musicIntro::before {background-size: revert;}
}

@media only screen and (min-width: 1800px) {
  #headshot {width: 65%;}
  .welcome h1 {margin-bottom: 4%;}
  #whatsThis {width: 60vw;}
  #briefContent {
    padding: 0 5%;
    font-size: revert;
  }
  #briefExplanation.card {width: 80%;}
  #briefExplanation h2 {width: 80%;}
}
/* end desktop styles */
