/* ======================
  Page Styles
  ======================= */
#blog .button-wrapper {
	margin-top: 2rem;
}

#frontRoyal,
#troy {
	width: max(150px, min(40%, 400px));
	width: clamp(150px, 40%, 400px);
}

.music {
	justify-content: space-around;
	align-items: center;
}

main {
	margin-top: 2rem;
}

.collection {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.collection figure {
	--figureMd: 240px;
	width: max(123px, min(100%, var(--figureMd)));
	width: clamp(123px, 100%, var(--figureMd));
}
/* ======================
  Tablet and Desktop Styles
  ======================= */
@media only screen and (min-width: 720px) {
	.button-wrapper {
		place-items: center;
	}
}
@media only screen and (min-width: 1062px) {
	.homepage main > section {
		margin-bottom: 6rem;
	}

	main {
		margin-top: 5rem;
	}

	.section {
		display: grid;
		max-width: 1250px;
	}

	.header {
		grid-area: 1 / 1 / 2 / 2;
		align-self: end;
	}

	.header p {
		width: 75%;
	}

	.button-wrapper {
		grid-area: 2 / 1 / 3 / 2;
		place-items: start;
	}

	.blog-container,
	.collection {
		grid-area: 1 / 2 / 3 / 3;
	}

	.collection {
		justify-content: space-evenly;
	}

	#projects {
		grid-template-columns: 500px auto;
		margin-bottom: 0;
	}

	#music {
		grid-template-columns: 2fr 1fr;
		margin-bottom: 0;
	}

	#frontRoyal,
	#troy {
		width: 100%;
	}

	#contact {
		grid-template-columns: 1fr 1fr;
	}

	#contact .header {
		align-self: center;
	}
}