@import "_globals";
@import "_mixins";
@import "localfonts";
@import "normalize";
/* ======================
  My Styles
  ======================= */
:root {
  --headings: 'Quicksand', sans-serif;
  --headerPadding: 4rem;
  --headerBorder: 2px solid rgba(247, 247, 255, 1);
  --gap: 3rem;
  --readingFont: 1.6rem;
  --subFont: 1.4rem;
  --figureMd: 340px;
  --skewUp: skewy(-3deg);
  --skewDown: skewy(3deg);
}

html {
  @include colors($darkPrimary, $whitePrimary);
  font: {
    size: 10px;
    family: $body;
    weight: 300;
  }
  line-height: 1.5;
  word-wrap: break-word;
}

body {
  transition: margin-left .5s;
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  // gap: var(--gap);
}

main {
  margin-bottom: 5rem; // only here because gap is not fully supported on flex containers
}
/* ======================
  Animation Styles
  ======================= */
.homepage {
  --animateWidthLg: 28.5rem;
  --animateWidthSm: 26rem;

  .type-animation__second {
    font-weight: 700;
  }
}

.projectsPage {
  --animateWidthLg: 23rem;
  --animateWidthSm: 21rem;

  .animated-header {
    padding: 0 1rem;
  }
}

.animated-header {
  display: flex;
  flex-direction: column;
  width: var(--animateWidthLg);
}

.typewriter {
  border-right: 2px solid transparent;
  white-space: nowrap;
  overflow: hidden;
}

.type-animation__first {
  /* name, duration, number of steps, delay, repetitions */
  animation: typing 1.5s steps(25) .5s 1 normal both, cursor 500ms steps(25) 5 normal;
}

.type-animation__second {
  font: {
    size: 2.7rem;
    family: var(--headings);
  }
  margin: 0;
  animation: typing-2 1.5s steps(25) 3s 1 normal both, cursor 500ms steps(25) 2.5s infinite normal;
}
@keyframes typing {
  0% {
    width: 0;
  }

  100% {
    width: var(--animateWidthLg);
  }
}
@keyframes typing-2 {
  0% {
    width: 0;
  }

  100% {
    width: var(--animateWidthSm);
  }
}
@keyframes cursor {
  0% {
    border-right-color: var(--white);
  }

  100% {
    border-right-color: transparent;
  }
}
/* ======================
  Headings Styles
  ======================= */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--headings);
}

h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  margin: 0;
}

h1 {
  font: {
    size: 4rem;
    weight: 700;
  }
  margin: 0;
}

h2 {
  font-size: 2.8rem;
}

h3 {
  font-size: 2.25rem;
}

h4 {
  font-size: 2rem;
}

h5 {
  font-size: 1.8rem;
}

h6 {
  font-size: 1.4rem;
}

.blogPage {
  /* Photo by Mike Kus made available by being a user of Team Treehouse via https://teamtreehouse.com/perks */
  --banner: url("https://troyv.dev/images/road.jpg");
}

.projectsPage {
  --banner: url("https://troyv.dev/images/caution-bg.jpg");
}

.musicPage {
  --banner: url("https://troyv.dev/images/guitar-on-bed.jpg");
}

.contactPage {
  --banner: url("https://troyv.dev/images/cleveland.jpg");
}

.contactPage .hero-header,
.projectsPage .hero-header {
  margin-top: auto;
  border-bottom: var(--headerBorder);
}

.contactPage .header,
.projectsPage .header {
  padding-bottom: var(--headerPadding);
}

.blogPage .hero-header,
.musicPage .hero-header {
  margin-bottom: auto;
  border-top: var(--headerBorder);
}

.blogPage .header,
.musicPage .header {
  padding-top: var(--headerPadding);
}
/* ======================
  Navigation Styles
  ======================= */
.mainNavigation {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: $whitePrimary;
  overflow-x: hidden;
  padding-top: 5rem;
  transition: .5s;
  font: {
    family: var(--headings);
    weight: 500;
  }
}

ul.navbar {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  font-size: var(--readingFont);
  padding: 0;

  li {
    white-space: nowrap;
  }

  a {
    color: $blackPrimary;
    display: block;
    padding: 1rem 1rem 1rem 2rem;
    text-decoration: none;

    &:focus {
      @include colors($blackPrimary, $whitePrimary);
    }
  }
}

#open {
  opacity: 1;
  transition: opacity .5s;
  padding: 1rem 0 0 1rem;

  &.fade {
    opacity: 0;
  }

  svg > path {
    @include svgSize($whitePrimary);
  }
}

#close {
  position: absolute;
  top: 1rem;
  right: 1rem;

  svg > path {
    @include svgSize($darkPrimary);
  }
}

#close,
#open {
  background-color: transparent;
  border: none;
}
// classes added via JS

.openNavSide {
  width: 220px;
}

.openNavMain {
  margin-left: 220px;
  overflow: hidden;
}
/* ======================
  Content Styles
  ======================= */
.center {
  text-align: center;
}

.italic {
  font-style: italic;
}

.flex__col {
  display: flex;
  flex-direction: column;
}

.full-width {
  width: 100%;
}

.flex__centered-col {
  @include flexCenter;
  flex-direction: column;
}

.flex__centered-row {
  @include flexCenter;
  flex-wrap: wrap;
}

.grid__centered {
  @include gridCenter;
  gap: var(--gap);
}

img {
  display: block;
  max-width: 100%;
  margin: auto;
  height: auto;
}

footer img[height],
main img[height] {
  height: auto; // Keep this so aspect ratios can be set on images while maintaining proper image display
}

figcaption,
ol,
p,
ul {
  font-size: var(--readingFont);
}

a {
  color: $goldPrimary;

  &:hover {
    color: $greenPrimary;
    text-decoration-thickness: .3rem;
  }

  &:focus {
    outline-width: .3rem;
  }
}
// code snippet styling

.code,
code,
pre {
  font: {
    family: $code;
    weight: 300;
  }
}

pre {
  white-space: pre-wrap;
  font-size: calc(var(--readingFont) - .5em);
}

.button-wrapper {
  @include gridCenter; // button styling
}

.button {
  white-space: nowrap;
  background-color: $goldPrimary;
  border-radius: 1.5rem;
  font: {
    size: var(--readingFont);
    weight: 400;
  }
  padding: 1rem 2.5rem;
  color: $blackPrimary;
  text-decoration: none;

  &:hover {
    transition: .2s;
    @include colors($grayPrimary, $whitePrimary);
  }

  &:focus {
    outline-color: $whitePrimary;
  }
}
// for image collections

.collection {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(315px, 1fr));

  figure {
    margin: 1rem;
    max-width: 600px;
  }

  a {
    text-decoration: none;
  }
}

figcaption {
  color: $whitePrimary;
  padding: 1rem 0;
}
/* ======================
  Contact Form Styles
  ======================= */
.contact-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 1px solid $whitePrimary;
  border-radius: 2rem;
  padding: 2.5rem;
  margin: auto;
  max-width: 440px;

  label {
    display: flex;
    flex-direction: column;
    font: {
      size: var(--subFont);
      family: var(--headings);
      weight: 500;
    }
    margin: 1rem 0;
  }
}

#email,
#message,
#name {
  padding: .5rem;
  border: {
    radius: .5rem;
    color: transparent;
  }
  margin-top: .7rem;
}

#message {
  height: 15rem;
}

#submit {
  border-color: transparent;
  padding: .5rem 2.5rem;
  margin: {
    left: auto;
    right: auto;
  }
}
/* ======================
  Footer Styles
  ======================= */
footer {
  @include gridCenter;
  @include colors($whitePrimary, $blackPrimary);
  width: 97vw;
  margin: auto auto 1rem;
  padding: 1rem;

  p {
    margin: .5rem 0 0;
    font: {
      family: var(--headings);
      size: var(--subFont);
      weight: 500;
    }
  }
}

.footer-wrapper {
  width: 100%;
  max-width: 200px;
  display: flex;
  justify-content: space-around;
}

#me {
  max-width: 88px;
}

.footer-icons {
  @include gridCenter;
  grid-template-columns: 1fr 1fr;
  align-content: center;
  gap: 1rem;
}

.icon-link img {
  max-width: 32px;
}
/* ======================
  Misc. Page Styles
  ======================= */
.header {
  margin: 0 auto;
  background: var(--banner) center / cover no-repeat $darkPrimary;
  width: 100%;
}

.hero-header {
  width: min-content;
  background-color: $darkPrimary;
  padding: 0 1.5rem;
  border-right: var(--headerBorder);
}

.row {
  display: flex;
  flex-direction: column;
  width: 97vw;
}

.icon-bar {
  background-color: $whitePrimary;
  padding: 1rem 1.5rem;
  border-radius: 3rem;
  display: flex;
  justify-content: space-around;
  width: 100%;
  max-width: 325px;
  margin: auto;
  align-items: center;

  img {
    max-width: 48px;
  }
}

.grid__1-col__2-col {
  display: grid;
  grid-template-columns: 1fr;
  margin: auto;
  width: 95%;
  gap: var(--gap);
}

.blog-listing-container {
  display: grid;
  gap: var(--gap);
  width: 100%;
  max-width: 90em;
}

.blog-listing {
  padding-left: 2rem;

  p {
    margin: 1rem 0 0;
  }
}

.blog-header {
  border-bottom: 2px solid $goldPrimary;
}

.article {
  width: 95%;
  max-width: 800px;
  margin: {
    left: auto;
    right: auto;
  }

  h2 {
    margin-top: 8%;
  }
}

.album-description {
  max-width: 400px;
}

.album-listen {
  display: block;
  border: none;
  max-width: 350px;
  margin: auto;
}

.musicPage {
  #frontRoyal,
  #troy {
    margin-bottom: 3.5rem;
  }

  #frontRoyal:nth-child(1),
  #troy:nth-child(1) {
    max-width: 300px;
  }
}

.left-column iframe {
  height: 380px;
}

.right-column iframe {
  height: 565px;
}

.view-more {
  width: 95%;

  .collection {
    display: flex;
    justify-content: space-around;

    a {
      max-width: 123px;
    }
  }
}

blockquote {
  margin: 0 2rem;
  font-style: italic;
  border-left: 2px solid $goldPrimary;

  p {
    padding: 1.5rem;
  }
}

.websites {
  display: grid;

  h3 {
    width: 100%;
  }
}

.skew {
  margin: 2rem auto 4rem;
}

.skew__up {
  transform: var(--skewUp);
}

.skew__down {
  transform: var(--skewDown);
}

.website {
  position: relative;

  &::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: $whitePrimary;
    transform: var(--skewUp);
  }

  > div {
    color: $blackPrimary;
    position: relative;
  }

  .content {
    margin: 1rem auto;
    padding: 3vw;
    display: grid;
    gap: var(--gap);
    place-items: center;
  }

  img.site__example {
    width: 100%;
    max-width: 350px;
  }
}

#pang::before {
  background: $goldPrimary;
}

.website__description {
  p {
    margin: 0;
    font-size: var(--subFont);
  }
}
/* ======================
  Tablet and Desktop Styles
  ======================= */
@media only screen and (min-width: 720px) {
  :root {
    --headerPadding: 5.5rem;
    --readingFont: 1.9rem;
    --subFont: 1.7rem;
  }

  #close,
  #menu {
    display: none;
  }

  .mainNavigation {
    height: auto;
    width: 100%;
    padding: .5rem 1rem;
    position: static;
    background-color: transparent;
    font-weight: 700;
  }

  ul.navbar {
    flex-direction: row;

    li {
      padding: .3rem;

      &:nth-child(1) {
        margin-right: auto;
      }

      &:nth-child(1n+2) {
        margin: 0 1rem;
      }
    }

    a {
      padding: .3rem;
      color: $whitePrimary;
    }
  }

  #link__blog:hover,
  #link__home:hover,
  #link__music:hover {
    background-color: transparent;
    text: {
      decoration: underline;
      decoration-thickness: .3rem;
    }
  }

  #link__home:hover {
    text-decoration-color: $redPrimary;
  }

  #link__projects:hover {
    @include colors($goldPrimary, $blackPrimary);
  }

  #link__music:hover {
    text-decoration-color: $goldPrimary;
  }

  #link__contact:hover {
    @include colors($bluePrimary, $blackPrimary);
    border-radius: 1rem;
  }

  #link__blog:hover {
    text-decoration-color: $greenPrimary;
  }

  .button-wrapper {
    place-items: start;
  }

  .grid__1-col__2-col {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: first baseline;
    max-width: 1350px;
  }

  .contactPage .grid__1-col__2-col {
    place-items: center;
    width: 100%;
  }
}
@media only screen and (min-width: 1062px) {
  :root {
    --gap: 4rem;
  }

  .homepage {
    --animateWidthLg: 48rem;
    --animateWidthSm: 42.5rem;

    .type-animation__second {
      font-size: 5rem;
    }
  }

  .projectsPage {
    --animateWidthLg: 21rem;
    --animateWidthSm: 36rem;

    .animated-header {
      margin-bottom: 3rem;
      width: var(--animateWidthSm);
    }
  }
  @keyframes typing {
    from {
      width: 0;
    }

    to {
      width: var(--animateWidthSm);
    }
  }
  @keyframes typing-2 {
    from {
      width: 0;
    }

    to {
      width: var(--animateWidthLg);
    }
  }

  h1 {
    font-size: 6rem;
  }

  h2 {
    font-size: 4.4rem;
  }

  h3 {
    font-size: 3.2rem;
  }

  h4 {
    font-size: 2.8rem;
  }

  h5 {
    font-size: 2.5rem;
  }

  h6 {
    font-size: 2.2rem;
  }

  ul.navbar {
    font-size: 2.1rem;
  }

  #me {
    max-width: 130px;
  }

  .footer-wrapper {
    max-width: 300px;
  }

  .footer-icons {
    gap: 2rem;
  }

  .row-header p {
    max-width: 50vw;
  }

  .website {
    .content {
      grid-template-columns: 1fr 1fr;
    }
  }
}
@media (prefers-color-scheme: light) {
  :root {
    --headings: 'Lora', sans-serif;
    --headerBorder: 2px solid rgba(2, 4, 15, 1);
  }

  html {
    @include colors($lightLight, $blackLight);
    font-weight: 400;
  }
  @keyframes cursor {
    0% {
      border-right-color: var(--black);
    }

    100% {
      border-right-color: transparent;
    }
  }

  .mainNavigation {
    background-color: $blackLight;
  }

  ul.navbar {
    a {
      color: $lightLight;

      &:focus {
        @include colors($lightLight, $blackLight);
      }
    }
  }

  #open svg > path {
    stroke: $blackLight;
  }

  #close svg > path {
    stroke: $lightLight;
  }

  a {
    color: $redLight;

    &:hover {
      color: $cobaltLight;
    }
  }

  .button {
    @include colors($redLight, $lightLight);

    &:hover {
      background-color: $cobaltLight;
    }

    &:focus {
      outline-color: $blackLight;
    }
  }

  figcaption {
    color: $blackLight;
  }

  .contact-form {
    @include colors($blackLight, $lightLight);
    border: 1px solid $blackLight;
  }

  .header,
  .hero-header {
    background-color: $lightLight;
  }

  .icon-bar {
    background-color: $blackLight;
  }

  .blog-header,
  .blog-listing,
  blockquote {
    border-color: $redLight;
  }

  #frontRoyal img,
  #troy img {
    filter: invert(100%);
  }

  .website {
    &::before {
      background: $blackLight;
    }

    > div {
      color: $lightLight;
    }
  }

  #pang::before {
    background: $redLight;
  }
}
@media (prefers-color-scheme: light) and (min-width: 720px) {
  .mainNavigation {
    background-color: transparent;
  }

  ul.navbar a {
    color: $blackLight;
  }

  #link__home:hover {
    text-decoration-color: $blueLight;
  }

  #link__projects:hover {
    @include colors($brightLight, $blackLight);
  }

  #link__music:hover {
    text-decoration-color: $redLight;
  }

  #link__contact:hover {
    @include colors($blueLight, $lightLight);
  }

  #link__blog:hover {
    text-decoration-color: $cobaltLight;
  }
}
@media (prefers-reduced-motion) {
  .type-animation__first,
  .type-animation__second {
    animation: none;
  }
}