.homepage main > section {
	margin: 3rem auto;
}

.animated-header {
	display: flex;
	flex-direction: column;
	width: 29rem;
	margin: 0 auto;
}

.typewriter {
	border-right: 2px solid transparent;
	white-space: nowrap;
	overflow: hidden;
}

.type-animation__first {
	/* name, duration, number of steps, delay, repetitions */
	animation: typing 1.5s steps(25) 0.5s 1 normal both,
		cursor 500ms steps(25) 5 normal;
}

.type-animation__second {
	font-size: 2.7rem;
	font-weight: bold;
	margin: 0;
	animation: typing 1.5s steps(25) 3s 1 normal both,
		cursor 500ms steps(25) 2.5s infinite normal;
}

@keyframes typing {
	from {width: 0;}
	to {width: 28.7rem;}
}

@keyframes cursor {
	/* add width dimensions here to make it choppy */
	from {border-right-color: var(--white);}
	to {border-right-color: transparent;}
}

.section-container {
	display: flex;
	flex-direction: column;
	width: 90vw;
}

.section-header p {
	width: 75%;
}

#troy {
	width: 85px;
}

#frontRoyal {
	width: 142px;
}

.music {
	justify-content: space-between;
}

.music figure {
	margin: 0;
}







/* desktop styles */
@media only screen and (min-width: 850px) {
  /* begin desktop navigation */
  #menu, #close {display: none;}
  .sideNavigation {
    height: 45px;
    width: 100%;
    /*background-color: SOME COLOR;*/
    overflow-y: hidden;
    padding-top: 0;
    display: block;
    position: static;
  }
  ul.navbar {font-size: .9rem;}
  ul.navbar li {display: inline-block;}
  /*ul.navbar a {color: SOME COLOR;}*/
  ul.navbar a:hover {
    /*background-color: SOME COLOR;*/
    /*color: SOME COLOR;*/
  }
  /* end desktop navigation */
}
