.animated-header {
	display: flex;
	flex-direction: column;
	width: 29rem;
	margin: 0 auto;
}

.typewriter {
	border-right: 2px solid transparent;
	white-space: nowrap;
	overflow: hidden;
}

.type-animation__first {
	/* name, duration, number of steps, delay, repetitions */
	animation: typing 1.5s steps(25) 0.5s 1 normal both,
		cursor 500ms steps(25) 5 normal;
}

.type-animation__second {
	font-size: 2.7rem;
	font-weight: bold;
	margin: 0;
	animation: typing 1.5s steps(25) 3s 1 normal both,
		cursor 500ms steps(25) 2.5s infinite normal;
}

@keyframes typing {
	from {width: 0;}
	to {width: 28.7rem;}
}

@keyframes cursor {
	/* add width dimensions here to make it choppy */
	from {border-right-color: var(--white);}
	to {border-right-color: transparent;}
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.section-container {
	display: flex;
	flex-direction: column;
	width: 90vw;
}

.section-header p {
	width: 75%;
}

.image-collection {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.image-collection figure {
	width: 100%;
	max-width: 260px;
}

.image-collection figcaption {
	text-align: center;
	font-size: 1.3rem;
	color: var(--white);
	padding: 1rem 0;
}







/* TODO Style the buttons better */
.button {
  display: block;
  line-height: 1.42857143;
  width: 70vw;
  max-width: 300px;
  white-space: nowrap;
  text-align: center;
  background-color: var(--blue);
  border-radius: 20px;
  border: 1px solid transparent;
  font-size: 1.30rem;
  padding: 9px 25px;
  color: var(--white);
  margin: 2% auto;
}

.button:hover {
  transition: .3s;
  color: var(--black);
  background-color: var(--gold);
}

/* desktop styles */
@media only screen and (min-width: 850px) {
  /* begin desktop navigation */
  #menu, #close {display: none;}
  .sideNavigation {
    height: 45px;
    width: 100%;
    /*background-color: SOME COLOR;*/
    overflow-y: hidden;
    padding-top: 0;
    display: block;
    position: static;
  }
  ul.navbar {font-size: .9rem;}
  ul.navbar li {display: inline-block;}
  /*ul.navbar a {color: SOME COLOR;}*/
  ul.navbar a:hover {
    /*background-color: SOME COLOR;*/
    /*color: SOME COLOR;*/
  }
  /* end desktop navigation */
}
