:root {
  --banner: url('../images/caution-bg.webp')
}

/* this changes per page */
.projectsPage .hero-header {
  justify-content: flex-start;
}

/*
keeping --banner and will change the variable per page, DO NOT add --banner to the global scope

Keep global styles below here unless otherwise needed
*/

.header {
  width: 100%;
  margin: 1.8rem auto;
}

.hero-header {
	background: var(--banner) center / cover no-repeat var(--dark);
	width: 100%;
  margin: 0;
	display: flex;
	flex-direction: column;
	height: calc(3vh + 2em);
}

.row {
  width: 95vw;
  display: flex;
  flex-direction: column;
}

.data figure {
  max-width: 220px;
}

.data figcaption {
  font-size: 1.4rem;
  text-align: left;
}
