---
title: Projects
description: These are a few of the projects I've made, but there are many more.
layout: primary
pageName: projectsPage
---
<main class="grid place-center">
  <section class="hero">
    <h1 class="hero__header">{{ title }}</h1>
  </section>
  <article class="grid full-width">
    <section class="flex col full-width skew__up">
      <h2 class="full-width">Front Royal (The Band, Not The Town)</h2>
      <section class="skew skew__down" id="froro">
        <div class="grid place-center content">
          <div>
            <p>When we decided to take the plunge and have a website of our own, I signed myself up to make it. It gave me the opportunity to try some new things out and I'm proud of the result.</p>
            <p class="description"><b>Built With:</b> Eleventy.</p>
            <p class="description"><b>Hosted On:</b> Netlify.</p>
          </div>
          <div>
            {% screenshot 'https://www.frontroyalband.com', 'front-royal', 'Screenshot of the Front Royal website' %}
          </div>
        </div>
      </section>
    </section>
    <section class="flex col full-width skew__up">
      <h2 class="full-width">Pang: A New Type of Social Media</h2>
      <section class="skew skew__down" id="pang">
        <div class="grid place-center content">
          <div>
            <p>You ever wish you had a social media platform that didn't consume your life, but still gave you entertainment? Look no further than Pang.</p>
            <p class="description"><b>Built With:</b> Nuxt.</p>
            <p class="description"><b>Hosted On:</b> Netlify.</p>
          </div>
          <div>
            {% screenshot 'https://pang.netlify.app', 'pang', 'Screenshot of the Pang website' %}
          </div>
        </div>
      </section>
    </section>
    <section class="flex col full-width skew__up">
      <h2 class="full-width">Abandoned.Website</h2>
      <section class="skew skew__down" id="abandoned">
        <div class="grid place-center content">
          <div>
            <p>What if a website, left to wither away and be forgotten, actually looked abandoned over time?</p>
            <p class="description"><b>Built With:</b> Hugo.</p>
            <p class="description"><b>Hosted On:</b> Netlify.</p>
          </div>
          <div>
            {% screenshot 'https://www.abandoned.website', 'abandoned-website', 'Screenshot of the Abandoned Website homepage' %}
          </div>
        </div>
      </section>
    </section>
    <section class="flex col full-width skew__up">
      <h2 class="full-width">troy. is a band</h2>
      <section class="skew skew__down" id="validcharacters">
        <div class="grid place-center content">
          <div>
            <p>I decided to give troy. - a band I have - a website. While I don't do anything serious with the band, it was fun to make something.</p>
            <p class="description"><b>Built With:</b> Eleventy</p>
            <p class="description"><b>Hosted On:</b> Netlify.</p>
          </div>
          <div>
            {% screenshot 'https://validcharacters.netlify.app', 'validcharacters', 'Screenshot of the troy. homepage' %}
          </div>
        </div>
      </section>
    </section>
  </article>
  <article class="flex col contain">
    <header class="section-header">
      <h3>View More on CodePen</h3>
      <p>I've made a lot of things - bigger and smaller - that would be impossible to keep track of on here. From practicing responsive design and JavaScript frameworks, to even coding emails (yikes!), I'm always creating new things.</p>
      <p>You could say I'm kinda just winging it, but those random projects tend to live over on CodePen.</p>
    </header>
    {% button 'https://codepen.io/troyvassalotti', 'View more experiments on my CodePen', 'Visit My CodePen' %}
  </article>
  <article class="flex col contain">
    <header class="section-header">
      <h2>Big Data</h2>
      <p>I enjoy tracking random parts of my life, such as my migraines or how my Spotify listening habits change with the season.</p>
    </header>
    <section class="collection">
      {% figure '/blog/i-logged-my-migraines-for-a-year/', 'migraines-2019', 'Screenshot of my a graph of my 2019 Migraine Calendar', '2019 Migraine Calendar', 600, 302, '' %}
      <figure>
        <picture>
          <source srcset="/images/coming-soon.webp" type="image/webp"/>
          <img src="/images/coming-soon.jpg" alt="" width="600" height="302" loading="lazy" data-state="stay"/>
        </picture>
        <figcaption>More Coming Soon...</figcaption>
      </figure>
    </section>
  </article>
  <article class="flex col contain">
    <header class="section-header">
      <h2>Video Editing</h2>
      <p>I occasionally edit videos for fun. Here are two times I secretly took over the Front Royal band vlog.</p>
    </header>
    <section class="collection">
      {% figure 'https://www.youtube.com/watch?v=DN29m0xBCDg', 'takeover-1', 'Screenshot from my first real vlog', 'Vlog Takeover #1', 600, 302 %}
      {% figure 'https://www.youtube.com/watch?v=8LUoVGik9g8', 'takeover-2', 'Screenshot from my second real vlog', 'Vlog Takeover #2', 600, 302 %}
    </section>
  </article>
</main>
