---
title: Projects
description: These are a few of the projects I've made, but there are many more.
layout: primary.liquid
pageName: projectsPage
inline: >
  :root {--banner:url('/images/caution-bg.webp')}
---
<main class="flex__centered-col">
  <section class="header">
    <h1 class="hero-header">{{title}}</h1>
  </section>
  <section class="row">
    <div class="row-header">
      <h2>Phase 1</h2>
      <p>I started by <del>perfecting</del> getting the hang of responsive web design.</p>
    </div>
    <div class="collection">
      {% for project in projects.phase1 -%}
        {% figure project.href, project.img, project.alt, project.caption %}
      {% endfor -%}
    </div>
  </section>
  <section class="row">
    <div class="row-header">
      <h2>Phase 2</h2>
      <p>Then I moved on to more advanced scripting, mostly with the use of frameworks like React.</p>
    </div>
    <div class="collection">
      {% for project in projects.phase2 -%}
        {% figure project.href, project.img, project.alt, project.caption %}
      {% endfor -%}
    </div>
  </section>
  <section class="row">
    <div class="row-header">
      <h3>View More On CodePen</h3>
      <p>I create more, smaller projects and try to break your web browser over on CodePen.</p>
    </div>
    {% button 'https://codepen.io/troyvassalotti', 'View more experiments on my CodePen', 'Visit My CodePen' %}
  </section>
  <section class="row">
    <div class="row-header">
      <h2>Big Data</h2>
      <p>I enjoy tracking random parts of my life, such as my migraines or how my Spotify listening habits change with the season.</p>
    </div>
    <div class="collection collection__bigger">
      {% figure '/blog/i-logged-my-migraines-for-a-year/', 'Migraines-2019', 'Screenshot of my a graph of my 2019 Migraine Calendar', '2019 Migraine Calendar', '' %}
      <figure>
        <picture>
          <source srcset="/images/coming-soon.webp" type="image/webp"/>
          <img src="/images/coming-soon.jpg" alt="" loading="lazy"/>
        </picture>
        <figcaption>More Coming Soon...</figcaption>
      </figure>
    </div>
  </section>
  <section class="row">
    <div class="row-header">
      <h2>Emails</h2>
      <p>My work with building and designing marketing emails are the reason I got into coding. They're a pain to work with, but fun to look at. Here are two templates I use in my own designs.</p>
    </div>
    <div class="collection collection__bigger">
      {% figure 'emails/classic/', 'classic-template', 'Screenshot of a classic email template', 'Classic Template', '' %}
      {% figure 'emails/simple/', 'simple-template', 'Screenshot of a simple email template', 'Simple Template', '' %}
    </div>
  </section>
  <section class="row">
    <div class="row-header">
      <h2>Video Editing</h2>
      <p>I occasionally edit videos for fun. Here are two times I secretly took over the Front Royal band vlog.</p>
    </div>
    <div class="collection collection__bigger">
      {% figure 'https://www.youtube.com/watch?v=DN29m0xBCDg', 'takeover-1', 'Screenshot from my first real vlog', 'Vlog Takeover #1' %}
      {% figure 'https://www.youtube.com/watch?v=8LUoVGik9g8', 'takeover-2', 'Screenshot from my second real vlog', 'Vlog Takeover #2' %}
    </div>
  </section>
</main>
