---
title: My Spotify API
description: Oops, there's nothing here yet. Don't worry though, I'm still learning how to use the Spotify Web API and this page will be awesome.
layout: primary.liquid
pageName: spotifyAPIPage
inline: >
  :root {--banner:url('/images/caution-bg.webp')}
---
<main class="flex__centered-col">
  <section class="header">
    <h1 class="hero-header">{{title}}</h1>
  </section>
  <section class="row">
    <div class="row-header">
      <p>{{description}}</p>
    </div>
  </section>
</main>
