.section-title {
	text-align: center;
	border-bottom: 2px dashed #f7f7ff;
}

.content {
	padding: 1rem;
}

.skills__list {
	display: grid;
}

.skillset {
	margin: 0;
}

.profile {
	max-width: 150px;
	border-radius: 50%;
}

.dated-header {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.dated-header p {
	margin: 0;
}

.dated-header > * {
	font-size: 1.6rem;
	font-style: italic;
}

.resume {
	display: grid;
	grid-template-columns: 1fr;
	gap: var(--gap);
	grid-template-areas: "photo" "name" "skills" "work" "education" "certifications";
}

.resume ul {
	padding-left: 20px;
	display: grid;
	gap: 2rem;
}

.resume ul[data-state="tight"] {
	gap: 0;
}

.name {
	grid-area: name;
	display: grid;
	place-items: center;
}

.name p {
	margin: .5rem;
}

.photo {
	grid-area: photo;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.skills {
	grid-area: skills;
}

.work {
	grid-area: work;
}

.work .content {
	display: grid;
	gap: 2rem;
}

.job h3 {
	font-weight: 700;
}

.education {
	grid-area: education;
}

.certifications {
	grid-area: certifications;
}

@media (min-width: 720px) {
	.skills__list {
		grid-template-columns: 1fr 1fr;
		justify-items: center;
	}
}

@media (min-width: 900px) {
	.resume {
		grid-template-columns: 2fr 1fr;
		grid-template-areas: "name photo" "skills skills" "work work" "education education" "certifications certifications";
	}
}

@media (min-width: 1150px) {
	.resume {
		grid-template-areas: "name photo" "work skills" "work education" "work certifications";
	}
}

@media (prefers-color-scheme: light) {
	.section-title {
		border-color: #02040f;
	}
}

@media print {
	@page {
		size: letter;
	}
	html {
		font-size: 5.25px;
	}
	body {
		padding: 0;
		margin: 0;
	}
	.hideOnPrint {
		display: none;
	}
	.resume {
		grid-template-columns: 2fr 1fr;
		grid-template-areas: "name photo" "work skills" "work education" "work certifications";
	}
}
