div#calendar-heatmap {
  overflow: auto;
  background-color: var(--whitePrimary);
  padding-block-start: 1em;
  padding-block-end: 1em;
}

div#calendar-heatmap svg.calendar {
  width: max(56.25rem, 100%);
  color: var(--blackPrimary);
}
