.main-info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.about .resumes {
  flex: 1 0 40%;
}

.about .resumes header p {
  max-width: 45ch;
}

.about .form .wrapper {
  display: flex;
  justify-content: flex-end;
}

.about .form {
  flex: 1 0 50%;
}

.about .form .content header {
  text-align: end;
}