.posts .post-listing {
  padding-inline-start: 1ex;
  padding-inline-end: 1ex;
  border: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.posts .all-posts h2 {
  font-size: var(--step-2);
}

.posts .posts-container {
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  /* align-items: center; */
}

@media (prefers-color-scheme: light) {
  h2 a {
    color: currentColor;
  }
}
