#proj-title {
    display: inline-block;
}

.projects__focus {
    --min: 20rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(var(--min), 1fr));
    gap: 2rem;
}

.projects__focus h2 {
    font-size: var(--step-2);
}

.projects__focus .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
    box-shadow: inset 5px 5px 10px #080707,
    inset -5px -5px 10px #1e1b1d;
}

.projects__focus img {
    transition: 0.3s ease;
}

.projects__focus img:hover {
    filter: brightness(0.5);
    transform: scale(1.02);
}

.codepen .wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.codepen .wrapper p {
    max-width: 45ch;
    text-align: end;
}

.projects__misc {
    display: flex;
    overflow-x: auto;
}

.projects__misc .caption-overlay {
    flex: 0 0 clamp(12.5rem, 20vw, 30rem);
    margin-inline-start: 1em;
    margin-inline-end: 1em;
}

.projects__misc .caption-overlay h3 {
    font-size: var(--step-1);
}

.misc header {
    padding-inline-start: 1em;
}

@media (min-width: 1200px) {
    .projects__focus {
        --min: 30rem;
    }
}

@media (prefers-color-scheme: light) {
    .projects__focus .container {
        box-shadow: inset 5px 5px 10px #d2d2d9,
        inset -5px -5px 10px #ffffff;
    }
}
