.resume {
    --heading-color: hsl(0, 0%, 5%);
    --text-color: hsl(0, 0%, 25%);
    --subtext-color: hsl(0, 0%, 35%);
    --primary-color: hsl(349, 100%, 50%);
    --fallback: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    --serif: DM Sans, var(--fallback);
    --sans-serif: Oli Grotesk, var(--fallback);
    --monospace: Native, Monospace, monospace;
    font-family: var(--sans-serif);
    color: var(--text-color);
    background-color: white;
    font-size: initial;
}

.resume p {
    margin: 0;
}

.resume img {
    margin: initial;
}

.resume :is(h1, h2, h3, h4) {
    font-family: var(--serif);
    color: var(--heading-color);
    font-weight: 500;
}

.resume h1 {
    font-size: 3rem;
    line-height: 1.25;
}

.resume h2 {
    font-size: 2.25rem;
    border-block-end: 1px solid black;
}

.resume h3 {
    font-size: 1.25rem;
}

.resume :is(a, .print-this button) {
    --lightness: 40%;
    --link-color: hsl(222, 100%, var(--lightness));
    --transition: 0.2s ease;
    color: var(--link-color);
    transition: color var(--transition);
    text-decoration: underline;
}

.resume :is(a:hover, .print-this button:hover) {
    --lightness: 70%;
}

@media print {
    .resume :is(a, .print-this button) {
        text-decoration: none;
    }
}

.resume :is(a svg, .print-this button svg) {
    fill: var(--link-color);
    transition: fill var(--transition);
}

.resume :is(.contact__links, .contact__info, .contact__social) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: start;
    gap: 1ch;
}

.resume :is(.contact__links, .contact__info, .contact__social) :is(a, .print-this button) {
    display: flex;
    align-items: center;
    width: max-content;
}

.resume :is(.contact__links, .contact__info, .contact__social) :is(a svg, .print-this button svg) {
    margin-inline-end: 0.5ch;
}

.resume .print-this button {
    cursor: pointer;
    border: 0;
    padding: 0;
    -webkit-appearance: none;
    background-color: transparent;
}

@media (min-width: 668px) {
    .resume :is(.contact__info, .contact__social) {
        flex-direction: row;
    }
}

.resume .contact__links {
    margin-block-start: 1rem;
    margin-block-end: 1rem;
}

.resume .meta {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.resume .header {
    padding-block-start: 2rem;
    padding-block-end: 2rem;
}

.resume .name {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
}

.resume .name h1 {
    margin-inline-end: 0.5ex;
}

.resume .photo {
    border-radius: 50%;
    border: 3px solid white;
    box-shadow: 8px 8px 40px -10px rgba(0, 0, 0, 0.3);
    max-width: 11rem;
    max-height: 11rem;
}

.resume .pronouns {
    font-family: var(--serif);
    font-style: italic;
    color: var(--subtext-color);
}

.resume .my-title {
    font-size: 1.25rem;
    margin-block-start: 1ex;
    margin-block-end: 0;
    font-weight: 300;
}

.resume .container {
    padding-inline-start: 5%;
    padding-inline-end: 5%;
}

.resume .entrylist {
    position: relative;
    padding-inline-start: 1rem;
}

.resume .entrylist > * + * {
    margin-block-start: 2rem;
}

.resume .entrylist::before {
    content: "";
    display: block;
    width: 1px;
    background: #818a91;
    background: linear-gradient(to top, rgba(129, 138, 145, 0) 0, #818a91 100px, #818a91 100%);
    position: absolute;
    top: 2.25rem;
    left: 1rem;
    bottom: 0;
}

.resume .entrylist li {
    position: relative;
    padding-inline-start: 1rem;
}

.resume .entrylist li::before {
    content: "";
    display: block;
    width: 0.625rem;
    height: 0.625rem;
    border-radius: 50%;
    background-color: var(--primary-color);
    position: absolute;
    top: 2.25rem;
    left: 0;
    transform: translate(-50%, 0);
}

.resume .entrylist li .entrylist__header {
    display: flex;
    flex-direction: column;
}

.resume .entrylist li .entry__content {
    max-width: 70ch;
}

.resume .dates {
    order: -1;
    color: var(--subtext-color);
    font-family: var(--monospace);
}

.resume .organization {
    font-style: italic;
    font-weight: 300;
}

.resume ul:not([class]) li::marker {
    color: var(--primary-color);
}

.resume .bold {
    font-weight: bold;
}

.resume .footer {
    background-color: #f2f2f2;
    font-size: 0.9rem;
    text-align: center;
    padding-block-start: 2rem;
    padding-block-end: 2rem;
}

@media (min-width: 668px) {
    .resume .footer .container {
        display: flex;
        justify-content: space-between;
        max-width: 75ch;
        margin: auto;
    }
}

@media print, (min-width: 668px) {
    .resume .skills-certs {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 4rem;
    }
}

.resume .skills-certs .certifications li {
    max-width: 60ch;
}

@media (min-width: 950px) {
    .resume {
        position: relative;
        display: grid;
        grid-template-areas: "sidebar main" "sidebar footer";
        grid-template-columns: 30% 70%;
    }

    .resume .footer {
        grid-area: footer;
    }

    .resume .main {
        grid-area: main;
        padding-block-start: 2rem;
        padding-block-end: 2rem;
    }

    .resume .header {
        grid-area: sidebar;
        height: 100%;
        background-color: rgba(148, 209, 255, 0.2);
    }

    .resume .header .container {
        position: sticky;
        top: 2rem;
        padding-inline-end: 2%;
    }
}

@media print {
    @page {
        size: letter;
    }

    .resume {
        font-size: 10pt;
    }

    .resume .header {
        padding-block-start: 0;
        padding-block-end: 1rem;
    }

    .resume h1 {
        font-size: 20pt;
    }

    .resume h2 {
        font-size: 14pt;
    }

    .resume h3 {
        font-size: 12pt;
    }

    .resume .meta {
        justify-content: center;
    }

    .resume .my-title {
        font-size: 12pt;
    }

    .resume .contact__links {
        margin-block-end: 0;
        margin-block-start: 0.5rem;
    }

    .resume :is(.contact__info, .contact__social) {
        font-size: 9pt;
        flex-direction: row;
    }

    .resume .entrylist {
        padding-inline-start: 0.5rem;
    }

    .resume .entrylist > * + * {
        margin-block-start: 1rem;
    }

    .resume .entrylist li .entry__content {
        max-width: 100%;
    }

    .resume .additional-info {
        display: flex;
        gap: 1.5rem;
    }

    .resume .education ol {
        padding: 0;
    }

    .resume .additional-info h3 {
        font-size: 10pt;
    }

    .resume .additional-info .dates {
        width: max-content;
    }

    .resume .skills-certs {
        gap: 1.5rem;
        grid-template-columns: 1fr 2fr;
    }

    .resume .skills-certs li {
        font-size: 9pt;
    }

    .resume .photo {
        max-width: 6rem;
        max-height: 6rem;
    }

    .resume .interests ul {
        margin-block-end: 0;
    }

    .hideOnPrint {
        display: none !important;
    }

    *::before,
    *::after {
        display: none !important;
    }
}
