@font-face {
    font-family: "Native";
    src: url("/assets/css/fonts/native/Native-Light.woff2") format("woff2");
    font-weight: 300;
    font-style: normal;
    font-display: fallback;
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

@font-face {
    font-family: "Native";
    src: url("/assets/css/fonts/native/Native-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: fallback;
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

@font-face {
    font-family: "DM Sans";
    src: url("/assets/css/fonts/dmsans/dm-sans-v6-latin-regular.woff2") format("woff2");
    font-style: normal;
    font-weight: 400;
    font-display: fallback;
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

@font-face {
    font-family: "DM Sans";
    src: url("/assets/css/fonts/dmsans/dm-sans-v6-latin-500.woff2") format("woff2");
    font-style: normal;
    font-weight: 500;
    font-display: fallback;
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

@font-face {
    font-family: "DM Sans";
    src: url("/assets/css/fonts/dmsans/dm-sans-v6-latin-700.woff2") format("woff2");
    font-style: normal;
    font-weight: 700;
    font-display: fallback;
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

/* ======================
  Variables
  ======================= */
:root {
    /* @link https://utopia.fyi/generator-mk-ii?c=320,18,1.2,1140,21,1.25,6,3, */
    --step--3: clamp(0.6513rem, 0.5949rem + 0.2817vw, 0.7956rem);
    --step--2: clamp(0.7813rem, 0.7134rem + 0.339vw, 0.955rem);
    --step--1: clamp(0.9375rem, 0.8563rem + 0.4061vw, 1.1456rem);
    --step-0: clamp(1.125rem, 1.0762rem + 0.2439vw, 1.25rem);
    --step-1: clamp(1.35rem, 1.2329rem + 0.5854vw, 1.65rem);
    --step-2: clamp(1.62rem, 1.4795rem + 0.7024vw, 1.98rem);
    --step-3: clamp(1.9438rem, 1.775rem + 0.8439vw, 2.3763rem);
    --step-4: clamp(2.3325rem, 2.1301rem + 1.0122vw, 2.8513rem);
    --step-5: clamp(2.7994rem, 2.5567rem + 1.2134vw, 3.4213rem);
    --step-6: clamp(3.3594rem, 3.0682rem + 1.4561vw, 4.1056rem);
    /* font styles */
    --fallback: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji,
    Segoe UI Symbol;
    --body: Oli Grotesk, var(--fallback);
    --code: Native, Monospace, monospace;
    --headings: DM Sans, var(--fallback);
    /* main palette colors */
    --blackPrimary: hsl(330, 5%, 7%);
    --grayPrimary: hsl(220, 7.2%, 40%);
    --whitePrimary: hsl(240, 100%, 98%);
    --redPrimary: hsl(352, 100%, 44%);
    --goldPrimary: hsl(39, 100%, 45%);
    --greenPrimary: hsl(145, 63%, 42%);
    --bluePrimary: hsl(212, 74%, 46%);
    /* use these colors to determine the nav underlines and roughnotation effects */
    --homeColor: var(--redPrimary);
    --aboutColor: var(--bluePrimary);
    --postsColor: var(--greenPrimary);
    --projectsColor: var(--goldPrimary);
    --musicColor: currentColor;
    /* other things */
    --gap: 1em;
}

/* ======================
  Globals
  ======================= */
html {
    line-height: 1.5;
    word-wrap: anywhere;
    background: var(--blackPrimary);
    color: var(--whitePrimary);
    font-family: var(--body);
}

body {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    font-size: var(--step-0);
}

img {
    display: block;
    /* width: 100%; */
    /* if you remove the above width rule, remember to clean up the full width classes on all your images. you commented it out so that your blog post images would stay their normal size, but also so small images would not be overly large. */
    max-width: 100%;
    margin: auto;
    height: auto;
}

img[height] {
    height: auto;
}

a {
    --lightness: 45%;
    color: hsl(39, 100%, var(--lightness));
    transition: color .3s ease;
}

a:hover {
    --lightness: 65%;
}

.code,
code,
pre {
    font-family: var(--code);
}

pre {
    white-space: pre-wrap;
    font-size: var(--step--2);
    font-weight: 300;
}

blockquote {
    border-inline-end: 2px solid var(--goldPrimary);
    border-inline-start: 2px solid var(--goldPrimary);
    font-style: italic;
}

blockquote p {
    padding: 1ch;
}

a.animated-link {
    --linkStateRest: scaleX(1);
    --linkStartRest: left;
    --linkStateHover: scaleX(0);
    --linkStartHover: right;
    text-decoration: underline;
}

/* ======================
  Composition
  ======================= */
.flex {
    display: flex;
}

.col {
    flex-direction: column;
}

.wrapper {
    width: 95%;
    max-width: 100rem;
    margin: auto;
}

.wrapper[data-constrain="some"] {
    max-width: 81.25rem !important;
}

.wrapper[data-constrain="more"] {
    max-width: 68.75rem !important;
}

.wrapper[data-constrain="most"] {
    max-width: 37.5rem !important;
}

.full {
    width: 100%;
}

.tall {
    height: 100%;
}

.marginalize {
    margin: auto;
}

.rm-m-bs {
    margin-block-start: 0;
}

.rm-m-be {
    margin-block-end: 0;
}

*[data-state="reversed"] {
    flex-direction: column-reverse !important;
}

img[data-state="stay"] {
    transition: none !important;
}

img[data-state="stay"]:hover {
    transition: none !important;
    transform: none !important;
}

picture {
    display: inline-block;
}

.grid {
    display: grid;
    gap: var(--gap);
}

.two-col {
    grid-template-columns: repeat(2, minmax(0, 1fr));
}

.place-center {
    place-items: center;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrap {
    flex-wrap: wrap;
}

.layout {
    display: grid;
    gap: 2em;
}

body:not(.homepage) main.layout {
    margin-block-start: 1em;
    margin-block-end: 2em;
}

.skewed-background {
    --skewUp: skewy(-3deg);
    --skewDown: skewy(3deg);
    position: relative;
    padding: var(--skew-padding, 1em 0 2em);
    display: inline-flex;
}

.skewed-background::before {
    position: absolute;
    top: -10px;
    content: "";
    width: 100%;
    height: 100%;
    background: var(--skew-color, currentColor);
    transform: var(--skew-direction, var(--skewUp));
}

.skewed-background .content {
    position: relative;
    color: var(--skew-text, currentColor);
    background: var(--skew-color);
}

.video-embed {
    display: block;
    margin-block-end: clamp(1ex, 5vw, 6ex);
    contain: content;
    position: relative;
    width: 100%;
}

.video-embed::after {
    content: "";
    display: block;
    padding-block-end: calc(100% / (16 / 9));
}

.video-embed iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.caption-overlay {
    position: relative;
    margin: 0;
}

.caption-link {
    display: grid;
    height: 100%;
    place-content: center;
}

.caption-overlay .caption-link .caption-image {
    transition: 0.3s ease;
}

.caption-overlay .caption {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: 0.3s ease;
}

.caption-overlay:hover > .caption-link .caption-image {
    filter: brightness(0.5);
}

.caption-overlay:hover > .caption-link .caption {
    opacity: 1;
}

.caption-overlay .caption figcaption {
    background: var(--whitePrimary);
    padding: 0 1ch;
    color: var(--blackPrimary);
}

.project-solo h2 {
    font-size: var(--step-4);
}

/* ======================
  Content Styles
  ======================= */
.center {
    text-align: center;
}

.italic {
    font-style: italic;
}

.bold {
    font-weight: 700;
}

.button {
    --buttonColor: currentColor;
    display: inline-block;
    background-color: transparent;
    border: 1px solid var(--buttonColor);
    padding: 1ex 2ex;
    color: currentColor;
    text-decoration: none;
    transition: 0.3s ease-out;
}

.button:hover {
    --buttonColor: var(--goldPrimary);
    background: var(--buttonColor);
    color: var(--blackPrimary);
}

.no-list {
    list-style: none;
    padding: 0;
}

/* ======================
  Heading Styles
  ======================= */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--headings);
    margin: 0;
}

h1 {
    font-size: var(--step-6);
}

h2 {
    font-size: var(--step-5);
}

h3 {
    font-size: var(--step-3);
}

h4 {
    font-size: var(--step-2);
}

h5 {
    font-size: var(--step-1);
}

h6 {
    font-size: var(--step-0);
}

/* ======================
  Navigation Styles
  ======================= */
.main-navigation {
    text-align: center;
    font-size: var(--step--1);
}

.main-navigation__links {
    padding: 0;
    list-style: none;
}

.main-navigation li:first-of-type {
    margin-block-start: 1ch;
    margin-block-end: 1ch;
}

.main-navigation__links li:not(:first-of-type) {
    display: inline-flex;
    margin-inline-start: 1ch;
    margin-inline-end: 1ch;
}

.main-navigation__link {
    color: currentColor;
    text-decoration: none;
}

.main-navigation__link:hover {
    color: currentColor;
}

.main-navigation__link::before {
    --linkStateRest: scaleX(0);
    --linkStartRest: right;
}

.main-navigation__link:hover::before {
    --linkStateHover: scaleX(1);
    --linkStartHover: left;
}

#link__home::before {
    background-color: var(--homeColor);
}

#link__posts::before {
    background-color: var(--postsColor);
}

#link__music::before {
    background-color: var(--musicColor);
}

#link__projects::before {
    background-color: var(--projectsColor);
}

#link__about::before {
    background-color: var(--aboutColor);
}

/* ======================
  Footer Styles
  ======================= */
.site-footer {
    text-align: end;
    padding-inline-start: 1ch;
    padding-inline-end: 1ch;
    font-size: var(--step--2);
    margin-block-start: auto;
}

.footer-navigation__links {
    padding: 0;
    list-style: none;
}

.footer-navigation__links li {
    display: inline-flex;
    margin-inline-start: 1ex;
    margin-inline-end: 1ex;
    padding-block-start: .5rem;
    padding-block-end: .5rem;
}

.footer-navigation__link {
    color: currentColor;
    text-decoration: none;
}

.footer-navigation__link:hover {
    color: currentColor;
}

.footer-navigation__link::before {
    --linkStateRest: scaleX(1);
    --linkStartRest: left;
}

.footer-navigation__link:hover::before {
    --linkStateHover: scaleX(0);
    --linkStartHover: right;
}

/* ======================
  Contact Form Styles
  ======================= */
.contact-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 1px solid currentColor;
    padding: 1ch;
    max-width: 31.25rem;
}

.contact-form label {
    display: flex;
    flex-direction: column;
    margin: 0.5ex 0;
    font-family: var(--headings);
    font-weight: 500;
}

#email,
#message,
#name {
    padding: 1ex;
}

#message {
    height: 10em;
}

#submit {
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
}

/* ======================
  Post Page Styles
  ======================= */
.post-container {
    width: 70%;
    flex-grow: 1;
}

.post-container .wrapper {
    max-width: 75ch;
}

.post-header {
    padding-block-start: 2em;
}

.post-header .wrapper {
    border-bottom: 2px solid var(--goldPrimary);
}

.post-container h1 {
    font-size: var(--step-4);
}

.post-container h2 {
    font-size: var(--step-3);
}

.post-container h3 {
    font-size: var(--step-2);
}

.post-container h4 {
    font-size: var(--step-1);
}

.post-container :is(h2, h3, h4) {
    margin-top: revert;
}

#post-navigation {
    flex-grow: 1;
}

#post-navigation .wrapper {
    position: sticky;
    top: 30%;
}

.post-navigation {
    font-size: var(--step--2);
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    height: clamp(8rem, 50vh, 10rem);
    align-items: center;
    gap: 3rem;
}

.post-navigation li {
    display: flex;
    flex-direction: column;
    max-width: 20ch;
}

.with-sidebar {
    display: flex;
    flex-wrap: wrap;
}

hr {
    max-width: 75ch;
    height: 2rem;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAKQAAABgCAYAAACTzNnjAAAFCklEQVR42u3d34uVRRjA8YMsEi0iSwhdRBGhSJgZiNRFIkWhQVEXBipKUVBBLCF6k0h4UxFkBLq4QT/Qiyi80EgxCjXMWqOMtqy0bBNja92yXatN3c3pGc9sHU/v+X3emWfe93vx+QN23u+e95x5Z94pmNWFQo5NEytErzgoBsSIOCf+FqbEBTEhzophcVTsFxvFEjE152PZHGMukbcB6BAPij0uqgtl0bXCBvyjeFPcS2wEWc0y0ec++Ywnf7rwbyc8grQ6RY8Y9RhhJT+Jde4TmghzFuR08bo4ryDEpE/N58QUYsx+kFPcD4yzCkMsZz+1uwkyu0HeKYYiCLHcN2I2QWYnSPudbHubfy37NuFu4wQZeZD2k2Uw4hDLHRZdBBnnH3K/5ykcX86IeQQZl6civ0XXYv/RlhJkHLZkOMTypz7dBKnbyzmJsfTZeTdB6vRszmIsjXI5QeryWMa/M9ZinzjdTJA63CLGcxzjpD/ElQQZfq3iKDFe8lSHIAPqI8L/6SHIMB4nvorTQQsI0v+teoz4KjpBkH7tIrqaNhCkH9cnbK5C8q/uywiSHzKabCLIdM3K+QR4o8YysfVWcZDvElnD1hNkOi5XuilLu5MlOyzni3vESnGfWCRuIMjm1zgSWPM7GWvNXdonXkdM8Q0dCwmytu8Iy/vK9B3iRoJMnghnqifc8jb7yXkXQf5nLWGo2WR2HUGuLrxPDKq25D6d9yBPE4I6/e6rVO6CnMpkuFq/eLmFKwtyMRde/dOg2XkKkvlH/X5P9ZNSWZBvcMGjMJza6iJlQe7nYkfjozwE+TkXOiprsx7kES5yVOzLYK/IcpA/cJGj806Wg/yaCxzlzsersxpkPxc4SruzGuQBLm603yU7DPOQUOSJWIK0E6j2lcvPm+JJVp+674oDbiFuv5t/fEXs5cJG65DmIO3KY3vG3yCLbXO1N1xVkB3uWfQQFye3rtUS5DN1bC5C9j0cOki7XOwUFwJOb6gg7TmCW1lMizI7QwQ5nW2qqGCv7yDtwsxfGXhU0OczyKvECIOOKvb5CnKa2+TDoKOat3wFyaIH1ONFH0H2MNCo00NpBzmXR39owIy0gzzOIKNOv6X9LHsZg4wGp3xsM/ZMoUfF3aaZ4++qBDnIIKMNzrsHKb11Lb6oEORtDCRSYB81f+vWxzYUJBv2kTYb5vx6gzzHgMHTjsUXagV5BwMFzz78d5NYQpDbGCAEcOzissaEIL9kcBDIx0lBsrwMIW0uD3KcQUHgqaEFpUGyLQGhnSgNkgGBBg8QJDQ5Phkky82g5bvkNQXDscDQY6MNcpiBgBL9NsjDDAS0LPq1Qb7EQECJicLFSUkGAkpMLgMaYzCgKci3GQxomPqZDPImBgMa9uOULifnDWcI7VRpkIsYEAR2sHwX2GcMCgJak/QKPh4lIsgcpOhM2iv7JIODAPqqvY7vPQYInlf6zKsWpN2iOMBAwZMD9bzSudPwvh+kr3gofJ0vve/ikxIp36pXNHosiD2j5gMGD2ksyG3lJK917qc5A4l2eNW04Wi5OaZ41DADilZu0xtMmw/fXCV+ZnDRoFFTfBdpaudlLxVfsXMRNYy7W3SH8XSAu/01bo8s/kL8xQWAM+JC7DIeDnCvZqZ4RGxxi3/3iUPOJ+5TtRXfG/v6jeadNMVjlqsZquG0uwU164ybg2vFuPuh2ax23tkm3N91VLwmbjVNvPT+H7Ro4730ITNPAAAAAElFTkSuQmCC");
    margin: 3rem auto;
    border: none;
    filter: invert(80%);
    background-size: contain;
    background-position: center;
}

@media (min-width: 45em) {
    /* ======================
      Navigation Styles
      ======================= */
    .main-navigation {
        text-align: start;
    }

    .main-navigation__links {
        padding-inline-start: 1ch;
    }

    .main-navigation__links li:not(:first-of-type) {
        margin-inline-start: 0;
        margin-inline-end: 1ch;
    }
}

@media (min-width: 60em) {
    .project-solo {
        grid-template-areas:
        "img summary"
        "details summary"
    }

    .project-solo__img {
        grid-area: img;
    }

    .project-solo__summary {
        grid-area: summary;
        place-self: center;
    }

    .project-solo__details {
        grid-area: details;
    }
}

@media (prefers-reduced-motion: no-preference) {
    a.animated-link {
        position: relative;
        text-decoration: none;
    }

    a.animated-link::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        height: 0.06em;
        width: 100%;
        background-color: currentColor;
        transition: transform 400ms ease-out;
        transform: var(--linkStateRest);
        transform-origin: var(--linkStartRest);
    }

    a.animated-link:hover::before {
        transform: var(--linkStateHover);
        transform-origin: var(--linkStartHover);
    }
}

@media (prefers-color-scheme: light) {
    html {
        background: var(--whitePrimary);
        color: var(--blackPrimary);
    }

    a {
        color: hsl(212, 74%, var(--lightness));
    }

    blockquote {
        border-color: currentColor;
    }

    .button {
        font-weight: bold;
    }

    .button:hover {
        --buttonColor: var(--bluePrimary);
        color: var(--whitePrimary);
    }

    .contact-form {
        color: var(--whitePrimary);
        background-color: var(--blackPrimary);
    }
}
