/* MONOSPACE */
@font-face {
  font-family: "Native";
  src: url("/assets/fonts/native/Native-Light.woff2") format("woff2");
  font-display: fallback;
  font-style: normal;
  font-weight: 300;
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F,
    U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: "Native";
  src: url("/assets/fonts/native/Native-LightItalic.woff2") format("woff2");
  font-display: fallback;
  font-style: italic;
  font-weight: 300;
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F,
    U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: "Native";
  src: url("/assets/fonts/native/Native-Regular.woff2") format("woff2");
  font-display: fallback;
  font-style: normal;
  font-weight: 400;
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F,
    U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: "Native";
  src: url("/assets/fonts/native/Native-Italic.woff2") format("woff2");
  font-display: fallback;
  font-style: italic;
  font-weight: 400;
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F,
    U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: "Native";
  src: url("/assets/fonts/native/Native-Bold.woff2") format("woff2");
  font-display: fallback;
  font-style: normal;
  font-weight: 700;
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F,
    U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: "Native";
  src: url("/assets/fonts/native/Native-BoldItalic.woff2") format("woff2");
  font-display: fallback;
  font-style: italic;
  font-weight: 700;
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F,
    U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* BODY */
@font-face {
  font-family: "Locale";
  src: url("/assets/fonts/locale/Locale-Regular.woff2") format("woff2");
  font-display: fallback;
  font-style: normal;
  font-weight: 400;
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F,
    U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: "Locale";
  src: url("/assets/fonts/locale/Locale-Italic.woff2") format("woff2");
  font-display: fallback;
  font-style: italic;
  font-weight: 400;
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F,
    U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: "Locale";
  src: url("/assets/fonts/locale/Locale-Medium.woff2") format("woff2");
  font-display: fallback;
  font-style: normal;
  font-weight: 500;
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F,
    U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: "Locale";
  src: url("/assets/fonts/locale/Locale-MediumItalic.woff2") format("woff2");
  font-display: fallback;
  font-style: italic;
  font-weight: 500;
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F,
    U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: "Locale";
  src: url("/assets/fonts/locale/Locale-Bold.woff2") format("woff2");
  font-display: fallback;
  font-style: normal;
  font-weight: 700;
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F,
    U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: "Locale";
  src: url("/assets/fonts/locale/Locale-BoldItalic.woff2") format("woff2");
  font-display: fallback;
  font-style: italic;
  font-weight: 700;
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F,
    U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: "Locale";
  src: url("/assets/fonts/locale/Locale-Heavy.woff2") format("woff2");
  font-display: fallback;
  font-style: normal;
  font-weight: 900;
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F,
    U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: "Locale";
  src: url("/assets/fonts/locale/Locale-HeavyItalic.woff2") format("woff2");
  font-display: fallback;
  font-style: italic;
  font-weight: 900;
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F,
    U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

html {
  /* FONT SIZING */
  /* @link https://utopia.fyi/type/calculator?c=320,21,1.2,1600,24,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l */
  --step--2: clamp(0.78rem, calc(0.77rem + 0.07vw), 0.84rem);
  --step--1: clamp(0.94rem, calc(0.91rem + 0.14vw), 1.05rem);
  --step-0: clamp(1.13rem, calc(1.08rem + 0.23vw), 1.31rem);
  --step-1: clamp(1.35rem, calc(1.28rem + 0.36vw), 1.64rem);
  --step-2: clamp(1.62rem, calc(1.51rem + 0.54vw), 2.05rem);
  --step-3: clamp(1.94rem, calc(1.79rem + 0.78vw), 2.56rem);
  --step-4: clamp(2.33rem, calc(2.11rem + 1.09vw), 3.2rem);
  --step-5: clamp(2.8rem, calc(2.5rem + 1.51vw), 4.01rem);
  --step-6: clamp(3rem, calc(3.25rem + 2.25vw), 5.72rem);
  --step-7: clamp(4.7rem, calc(4.09rem + 3.06vw), 7.15rem);
  --step-8: clamp(5.64rem, calc(4.82rem + 4.12vw), 8.94rem);
  --step-9: clamp(6.77rem, calc(5.67rem + 5.5vw), 11.18rem);
  --step-10: clamp(8.13rem, calc(6.67rem + 7.3vw), 13.97rem);

  /* SPACING */
  /* @link https://utopia.fyi/space/calculator?c=320,18,1.2,1600,21,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l */
  --space-3xs: clamp(0.31rem, calc(0.31rem + 0vw), 0.31rem);
  --space-2xs: clamp(0.56rem, calc(0.53rem + 0.16vw), 0.69rem);
  --space-xs: clamp(0.88rem, calc(0.84rem + 0.16vw), 1rem);
  --space-s: clamp(1.13rem, calc(1.08rem + 0.23vw), 1.31rem);
  --space-m: clamp(1.69rem, calc(1.61rem + 0.39vw), 2rem);
  --space-l: clamp(2.25rem, calc(2.16rem + 0.47vw), 2.63rem);
  --space-xl: clamp(3.38rem, calc(3.23rem + 0.7vw), 3.94rem);
  --space-2xl: clamp(4.5rem, calc(4.31rem + 0.94vw), 5.25rem);
  --space-3xl: clamp(6.75rem, calc(6.47rem + 1.41vw), 7.88rem);

  /* ONE-UP PAIRS */
  --space-3xs-2xs: clamp(0.31rem, calc(0.22rem + 0.47vw), 0.69rem);
  --space-2xs-xs: clamp(0.56rem, calc(0.45rem + 0.55vw), 1rem);
  --space-xs-s: clamp(0.88rem, calc(0.77rem + 0.55vw), 1.31rem);
  --space-s-m: clamp(1.13rem, calc(0.91rem + 1.09vw), 2rem);
  --space-m-l: clamp(1.69rem, calc(1.45rem + 1.17vw), 2.63rem);
  --space-l-xl: clamp(2.25rem, calc(1.83rem + 2.11vw), 3.94rem);
  --space-xl-2xl: clamp(3.38rem, calc(2.91rem + 2.34vw), 5.25rem);
  --space-2xl-3xl: clamp(4.5rem, calc(3.66rem + 4.22vw), 7.88rem);

  /* CUSTOM PAIRS */
  --space-s-l: clamp(1.13rem, calc(0.75rem + 1.88vw), 2.63rem);

  /* FONT FAMILIES */
  --body: system-ui;
  --code: "Native", monospace;
  --headings: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;

  /* COLOR PALETTE */
  /* HEX */
  --snow: #fdf5f9ff;
  --pale-silver: #cdbfbcff;
  --davys-grey: #5d5552ff;
  --pewter-blue: #99b5beff;
  --blue-yonder: #3f72afff;
  --eerie-black: #141517ff;

  /* STANDARD RULES */
  background-color: var(--background);
  color: var(--foreground);
  scrollbar-color: var(--foreground) var(--background);
  scrollbar-gutter: stable;
}

/* COLOR SCHEME CHANGES */
@media (prefers-color-scheme: light) {
  html {
    --accent: var(--davys-grey);
    --background: var(--snow);
    --foreground: var(--eerie-black);
    --links: var(--blue-yonder);
  }
}

@media (prefers-color-scheme: dark) {
  html {
    --accent: var(--pale-silver);
    --background: var(--eerie-black);
    --foreground: var(--snow);
    --links: var(--pewter-blue);
  }

  pre {
    font-weight: 300;
  }

  .u-invertSvg--onDark svg {
    filter: invert(1);
  }
}

html::-webkit-scrollbar {
  block-size: 8px;
  inline-size: 8px;
}

html::-webkit-scrollbar-thumb {
  background-color: var(--links);
  border-radius: 1rem;
}

html::-webkit-scrollbar-track {
  background-color: var(--background);
}

body {
  font-family: var(--body);
  font-size: var(--step-0);
}

.code,
code,
pre {
  font-family: var(--code);
}

pre {
  font-size: var(--step--2);
  white-space: pre-wrap;
}

:is(h1, h2, h3, h4, h5, h6) {
  font-family: var(--headings);
}

h1 {
  font-size: var(--step-5);
}

h2 {
  font-size: var(--step-4);
}

h3 {
  font-size: var(--step-3);
}

h4 {
  font-size: var(--step-2);
}

h5 {
  font-size: var(--step-1);
}

h6 {
  font-size: var(--step-0);
}

blockquote {
  border: 1px solid var(--accent);
  box-shadow: 10px 10px 0 0 var(--accent);
  font-style: italic;
  inline-size: fit-content;
  margin-block: var(--space-s-m);
  position: relative;
}

blockquote :is(p, q) {
  padding-block: var(--space-s);
  padding-inline: var(--space-xs-s);
}

figcaption {
  font-size: var(--step--1);
  margin-block-start: 0.5rem;
}

sup {
  vertical-align: top;
}

a {
  color: var(--links);
}

a:hover,
a:focus {
  filter: brightness(0.7);
}

a:focus-visible {
  outline: 2px dashed var(--links);
  outline-offset: 2px;
}

.wrapper {
  inline-size: min(100% - var(--wrapper-padding, 2rem), var(--wrapper-size, 100rem));
  margin-inline: auto;
}

.wrapper.constrain--some {
  --wrapper-size: 81.25rem;
}

.wrapper.constrain--more {
  --wrapper-size: 68.75rem;
}

.wrapper.constrain--most {
  --wrapper-size: 41.5rem;
}

.wrapper.constrain--less {
  --wrapper-size: 115rem;
}

.wrapper.constrain--base {
  --wrapper-size: 100rem;
}

.defaultContentBlock {
  margin-block-end: var(--space-xl);
}

.visually-hidden:not(:focus):not(:active) {
  block-size: 1px;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  inline-size: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
}

/* Create equal spacing between elements in a flow context without setting display */
.flow > * + * {
  margin-block-start: var(--flow-space, 1em);
}

/* OBJECTS */
.o-section--angled {
  --clip-point: calc(var(--section-padding) / 2);
  --section-background: var(--accent, var(--foreground));
  --section-padding: 10vh;
  background: var(--section-background);
  clip-path: polygon(0 var(--clip-point), 100% 0%, 100% calc(100% - var(--clip-point)), 0% 100%);
  color: var(--background);
  padding-block: var(--section-padding);
  padding-inline: var(--space-s-m);
}

.o-section--angled a {
  color: currentColor;
}

/* COMPONENTS */
.c-animatedLink {
  --linkStateRest: scaleX(1);
  --linkStartRest: left;
  --linkStateHover: scaleX(0);
  --linkStartHover: right;
  text-decoration: underline;
}

@media (prefers-reduced-motion: no-preference) {
  .c-animatedLink {
    position: relative;
    text-decoration: none;
  }

  .c-animatedLink::before {
    background-color: currentColor;
    block-size: 0.06em;
    content: "";
    inline-size: 100%;
    inset-block-end: 0;
    inset-inline-start: 0;
    position: absolute;
    transform: var(--linkStateRest);
    transform-origin: var(--linkStartRest);
    transition: transform 400ms ease-out;
  }

  .c-animatedLink:hover::before {
    transform: var(--linkStateHover);
    transform-origin: var(--linkStartHover);
  }
}

.c-link--icon svg {
  display: inline-block;
  margin-inline-end: 1ex;
  max-inline-size: 28px;
  vertical-align: middle;
}

.c-dataList__item {
  display: flex;
  gap: 0.5ch;
}

.c-dataList__item dt {
  font-weight: bold;
}

.c-dataList__item dt::after {
  content: ":";
}

/* UTILITIES */
.u-step-10 {
  font-size: var(--step-10);
}

.u-step-9 {
  font-size: var(--step-9);
}

.u-step-8 {
  font-size: var(--step-8);
}

.u-step-7 {
  font-size: var(--step-7);
}

.u-step-6 {
  font-size: var(--step-6);
}

.u-step-5 {
  font-size: var(--step-5);
}

.u-step-4 {
  font-size: var(--step-4);
}

.u-step-3 {
  font-size: var(--step-3);
}

.u-step-2 {
  font-size: var(--step-2);
}

.u-step-1 {
  font-size: var(--step-1);
}

.u-step-0 {
  font-size: var(--step-0);
}

.u-step--1 {
  font-size: var(--step--1);
}

.u-step--2 {
  font-size: var(--step--2);
}

.u-text--center {
  text-align: center;
}

.u-truncate :is(p, ul, ol) {
  max-inline-size: var(--readable-length, 70ch);
}

.u-line-height--less {
  line-height: 1.25;
}

.u-text--caps {
  text-transform: uppercase;
}

.u-text--italic {
  font-style: italic;
}

.u-text--bold {
  font-weight: bold;
}

.u-font--headings {
  font-family: var(--headings);
}

.u-font--base {
  font-family: var(--body);
}

.u-font--code {
  font-family: var(--code);
}

.u-revertMargin--start {
  margin-block-start: revert;
}

.u-revertMargin--end {
  margin-block-end: revert;
}

/* Yeah you do */
.u-rule {
  margin-block-start: var(--space-l-xl);
  max-inline-size: 40ch;
}
