{% extends "layouts/base.njk" %}

{% block content %}
  <main id="main">
    <div class="wrapper constrain--more flow">
      <header class="u-text--center">
        <h1 class="u-revertMargin--start">Posts about “{{ tag | capitalize }}”</h1>
      </header>
      <section class="posts">
        <ol role="list" class="c-postList flow">
          {% set taglist = collections[tag] %}
          {% for post in taglist | reverse %}
            <li>
              <article class="c-postListItem flow">
                <p class="c-postListItem__date">{{ post.date | dateString }}</p>
                <h2 class="c-postListItem__title">
                  <a href="{{ post.url }}">{{ post.data.title }}</a>
                </h2>
              </article>
            </li>
          {% endfor %}
        </ol>
      </section>
    </div>
  </main>
{% endblock content %}

{% block style %}
  {{ super() }}
  <style>
    .posts {
        margin-block: var(--space-m-l);
    }
  </style>
{% endblock style %}
