{% extends "layouts/base.njk" %}

{% from "macros/post-item.njk" import postItem %}

{% block content %}
  <main id="main">
    <div class="wrapper constrain--more flow">
      <header class="u-text--center">
        <h1 class="u-revertMargin--start">Posts about “{{ tag | capitalize }}”</h1>
      </header>
      <section class="posts">
        <ol role="list" class="c-postList flow">
          {% set taglist = collections[tag] %}
          {% for post in taglist | reverse %}
            {{ postItem(post.date, post.data.title, post.url) }}
          {% endfor %}
        </ol>
      </section>
    </div>
  </main>
{% endblock content %}

{% block style %}
  {{ super() }}
  <style>
    .posts {
        margin-block: var(--space-m-l);
    }
  </style>
{% endblock style %}
