{% if addCSS or codeblock or plvylist %}
    {%- set css -%}
        {%- if addCSS -%}
            {%- include "css/" + page.fileSlug + ".css" -%}
        {%- endif -%}

        {%- if codeblock -%}
            {%- include "css/prism.css" -%}
        {%- endif -%}
    {%- endset -%}
    <style>
        {{ css | cssmin | safe }}
    </style>
{% endif %}