root = true

[*]
charset = utf-8
max_line_length = 140
end_of_line = lf
indent_style = space
insert_final_newline = true

[{*.htm,*.html,*.ng,*.sht,*.shtm,*.shtml,*.njk}]
indent_size = 2
tab_width = 2
