# Node/npm
node_modules

# Output Directories
_site
dist

# Cache Locations
.cache

# Environment Variables
.env

# CMS/Hosting
.netlify
netlify/functions/brew/**
!netlify/functions/brew/index.js
netlify/functions/music/**
!netlify/functions/music/index.js
