# Node/npm
node_modules

# Output Directories
_site
dist

# Cache Locations
.cache
_cache

# Environment Variables
.env

# CMS/Hosting
.netlify
netlify/functions/teapot/**
!netlify/functions/teapot/index.js
netlify/functions/dynamic/**
!netlify/functions/dynamic/index.js
netlify/functions/ondemand/**
!netlify/functions/ondemand/index.js

# Eleventy Edge Build Data files
netlify/edge-functions/_generated
