---
title: This Is Embarassing
description: Either you made a mistake or I made a mistake and unfortunately we'll never know who's fault it was.
layout: primary
inline: >
  main {width: 95vw; max-width: 600px; margin: auto;}
  h1 {font-size: 5rem; margin: 0; text-align: center;}
  p {text-align: center;}
pageName: 404page
permalink: /404.html
noindex: true
---
<main class="flex-center col">
  <h1>https:// 404</h1>
  <p>Either you made a mistake, or I made a mistake, or the internet made a mistake, and unfortunately we'll never know who's fault it was that we're here right now.</p>
  {% button '/', 'Go back to the homepage', 'Go Home', '' %}
</main>
