html, body {
  text-align: center;
  font-family: "Poppins", sans-serif;
  background-color: #f7f7ff;
}

body {
  display: flex;
  flex-direction: column;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  min-height: 50px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: baseline;
  background-color: #f7f7ff;
}

@media only screen and (max-width: 1350px) {
  header {
    width: 100%;
  }
}

@media only screen and (max-width: 800px) {
  #nav-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .nav-link {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0px;
  }

  header {
    height: 200px;
  }
}


#header {
  border-bottom: 1px solid #131112;
}

#logo {
  /* */
}

#nav-bar {
  /* */
}

#nav-bar ul {
  list-style: none;
  margin-top: 0;
  height: 35px;
}

.nav-link {
  display: inline-block;
}

.nav-link a {
  color: #131112;
  display: block;
  padding: 10px;
  text-decoration: none;
}

.nav-link a:hover {
  background-color: #131112;
  color: white;
  transition: .3s;
}

#header-img {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  max-width: 150px;
  max-height: auto;
  margin: 10px 0px -10px 0px;
}

#form {
  padding: 10px 0px;
}

.subhead {
  margin-top: -35px;
}

.inputs {
  height: 15px;
  width: 30%;
  padding: 10px;
  border: 1px solid #60656f;
  border-radius: 6px;
  display: block;
  margin: 10px auto;
}

#signUp {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#video {
  padding: 20px 0px 0px;
}

#container {
  max-width: 1200px;
  width: 100%;
  margin: auto;
  padding-top: 114px;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
}

@media only screen and (max-width: 800px) {
  #container {
    padding-top: 214px;
  }
}

.info {
  width: 70%;
  margin: auto;
  height: auto;
}

.level {
  background-color: #131112;
  color: #f7f7ff;
}

table {
  width: 100%;
  border: 1px solid #131112;
}

td {
  width: 50%;
  height: auto;
  border: 1px solid #131112;
}

ol {
  text-align: left;
}

/* font and heading styles */
h1, h2, h3, h4, h5, h6 {
  font-family: "Merriweather", serif;
  color: #131112;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 38px;
}

h3 {
  font-size: 28px;
}
/* end font and heading styles */

#title {
text-align: center;
}

.center {
  text-align: center;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
  margin: auto;
}

.infoPane {
  padding: 0px 0px 20px 0px;
}

.album {
  display: flex;
  align-items: center;
  justify-content: center;
}

.albumArt {
  width: 60%;
  display: flex;
}

#img-caption {
  margin-top: 10px;
  font-family: "Merriweather", serif;
}

.italic {
  font-style: italic;
}
