---
title: Welcome
description: Watch as Troy Vassalotti learns his way around a computer.
layout: primary.liquid
pageCSS: homepage.min
animation: true
pageName: homepage
---
<main class="flex__centered-col">
  <section class="animated-header">
    <h1 class="typewriter type-animation__first">Hey, I'm Troy...</h1>
    <p class="typewriter type-animation__second">...and I make things.</p>
  </section>
  <section class="home-container" id="home-blog">
    <div class="home-header">
      <h2>My Blog</h2>
      <p>Everyone's got a blog these days, and I've always stayed away from making my own.</p>
      <p>Then I started thinking about bigger and better projects and realized a blog is a great way to showcase those.</p>
    </div>
    <div class="home-blog-container">
      <ul class="blog-listing-container">
      {%- for post in collections.post limit:2 -%}
        <li class="blog-listing">
          <h3><a href="{{post.url}}">{{post.data.title}}</a></h3>
          <p>{{post.data.description}}</p>
        </li>
      {%- endfor -%}
      </ul>
    </div>
    {% button '/blog/', 'Visit my blog', 'My Blog' %}
  </section>
  <section class="home-container" id="home-projects">
    <div class="home-header">
      <h2>My Projects</h2>
      <p>These are some of my favorite projects, but I have many more. Take a look!</p>
    </div>
    <div class="collection projects">
      {% collectionFigure 'https://codepen.io/troyvassalotti/full/BayqQGz', 'pomodoro-clock_ffss_600x299', 'Pomodoro Clock example', 'Pomodoro Clock' %}
      {% collectionFigure 'https://codepen.io/troyvassalotti/full/eYmwBrQ', 'bandcamp-front-royal_ffss_600x299', 'Bandcamp recreation built using React.js', 'Bandcamp w/ React' %}
      {% collectionFigure 'https://codepen.io/troyvassalotti/full/eYmaRrZ', 'landing-page_ffss_600x302', 'Product Landing Page example', 'Product Landing Page' %}
    </div>
    {% button '/projects/', 'View all my projects.', 'My Projects' %}
  </section>
  <section class="home-container" id="home-music">
    <div class="home-header">
      <h2>My Music</h2>
      <p>When I’m not building a new web project, you can hear me working on a band project.</p>
      <p>My friends and I started Front Royal with the desire to make a name for ourselves.</p>
      <p>I started troy. at a time when I felt the need to explore a whole new outlet.</p>
    </div>
    <div class="collection music">
      <figure id="troy">
        <a href="https://justtroy.bandcamp.com/" target="_blank" rel="noopener">
          <picture>
            <source srcset="/images/troy-logo-white.webp" type="image/webp"/>
            <img src="/images/troy-logo-white_400x400.png" alt="The logo for my band, troy." loading="lazy"/>
          </picture>
        </a>
      </figure>
      <figure id="frontRoyal">
        <a href="https://frontroyalmd.bandcamp.com/" target="_blank" rel="noopener">
          <picture>
            <source srcset="/images/front-royal-logo-white_400x240.webp" type="image/webp"/>
            <img src="/images/front-royal-logo-white_400x240.png" alt="The logo for my band, Front Royal." loading="lazy"/>
          </picture>
        </a>
      </figure>
    </div>
    {% button '/music/', 'Learn more about my music.', 'My Music' %}
  </section>
  <section class="home-container" id="home-contact">
    <div class="home-header">
      <h2>My Contact</h2>
      <p>Take a look around, and if you like what you see then feel free to contact me.</p>
    </div>
    {% contactForm %}
  </section>
</main>
