---
title: Welcome
description: Watch as Troy Vassalotti learns his way around a computer.
layout: primary.liquid
pageCSS: homepage.min
animation: true
pageName: homepage
---
<main class="grid__centered">
  <section class="animated-header">
    <h1 class="typewriter type-animation__first">Hey, I'm Troy...</h1>
    <p class="typewriter type-animation__second">...and I make things.</p>
  </section>
  <section class="row" id="home-blog">
    <div class="home-header">
      <h2>My Blog</h2>
      <p>Everyone's got a blog these days, and I've always stayed away from making my own.</p>
      <p>Then I started thinking about bigger and better projects and realized a blog is a great way to showcase those.</p>
    </div>
    <div class="home-blog-container">
      <div class="blog-listing-container">
      {%- for post in collections.post limit:2 -%}
        <article class="blog-listing">
          <h3><a href="{{post.url}}">{{post.data.title}}</a></h3>
          <p>{{post.data.description}}</p>
        </article>
      {%- endfor -%}
      </div>
    </div>
    {% button '/blog/', 'Visit my blog', 'My Blog', '' %}
  </section>
  <section class="row" id="home-projects">
    <div class="home-header">
      <h2>My Projects</h2>
      <p>These are some of my favorite projects, but I have many more. Take a look!</p>
    </div>
    <div class="collection projects center">
      {% for project in projects.homepage -%}
        {% figure project.href, project.img, project.alt, project.caption %}
      {% endfor -%}
    </div>
    {% button '/projects/', 'View all my projects.', 'My Projects', '' %}
  </section>
  <section class="row" id="home-music">
    <div class="home-header">
      <h2>My Music</h2>
      <p>When I’m not building a new web project, you can hear me working on a band project.</p>
      <p>My friends and I started Front Royal with the desire to make a name for ourselves.</p>
      <p>I started troy. at a time when I felt the need to explore a whole new outlet.</p>
    </div>
    <div class="collection music">
      <div id="troy">
        {% hrefPic 'https://justtroy.bandcamp.com/', 'troy-full', 'The logo for my band, troy.' %}
      </div>
      <div id="frontRoyal">
        {% hrefPic 'https://frontroyalmd.bandcamp.com/', 'front-royal-logo-white_400x240', 'The logo for my band, Front Royal.' %}
      </div>
    </div>
    {% button '/music/', 'Learn more about my music.', 'My Music', '' %}
  </section>
  <section class="row" id="home-contact">
    <div class="home-header">
      <h2>My Contact</h2>
      <p>Take a look around, and if you like what you see then feel free to contact me.</p>
    </div>
    {% contactForm %}
  </section>
</main>
