/* body {
  background-attachment: fixed;
  background-image: url(https://media.giphy.com/media/JYGVdb72VWSXu/giphy.gif);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
} */

#header-image {
  height: 200px;
  background-attachment: fixed;
  background-image: url(houseplant.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

nav {
  margin-bottom: 20px;
  padding-bottom: 12px;
  border-bottom: 1px solid black;
}

ul.navigation {
  background-color: white;
  display: block;
  list-style: none;
  margin-top: 0;
  width: 100%;
  height: 35px;
}

ul.navigation li {
  display: inline-block;
}

ul.navigation a {
  color: black;
  display: block;
  padding: 10px;
  text-decoration: none;
}

ul.navigation a:hover {
  background-color: black;
  color: white;
  transition: .3s;
}

/* heading styles */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Merriweather', serif;
  padding: 10px;
  border: 2px dashed #f77133;
  text-align: center;
}

h1 {
  font-size: 56px;
  /* transition: .5s linear; */
}

h2 {
  font-size: 46;
}

h3 {
  font-size: 36;
}

h4 {
  font-size: 26;
}

h5 {
  font-size: 20;
}

h6 {
  font-size: 18;
}

p {
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
  width: 800px;
  margin: auto;
  transition: 2s width linear;
}

p em {
  border: 1px solid black;
  padding: 5px;
}

p strong {
  text-decoration: line-through;
  font-size: 24px;
}

.mini {
  width: 300px;
}

.rightcat {
  float: right;
}

ul,
ol,
table {
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
  width: 400px;
  margin: auto;
}

table td {
  text-align: center;
}

.quote {
  font-style: italic;
}

#special {
  color: gold;
}

/* .link-bg {
  background-color: black;
  width: 400px;
} */

a:link {
  color: rgb(255, 0, 0);
}

a:visited {
  color: rgb(0, 255, 0);
}

a:hover {
  color: rgb(255, 0, 255);
}

a:active {
  color: rgb(0, 0, 255);
}

/* h1:hover {
  font-size: 72px;
  color: red; */
}

/* p:hover {
  width: 300px;
} */
