html {
  /* max-width: 2000px; */
  font-size: 24px;
  background-image: radial-gradient(rgba(96, 101, 111, 0.5), rgba(0, 0, 0, 1); );
}

/* heading styles */
h1, h2, h3, h4, h5, h6 {
  font-family: "Poppins", sans-serif;
  margin: 0px;
}

h1 {
  font-size: 56px;
}

h2 {
  font-size: 46px;
}

h3 {
  font-size: 42px;
}

h4 {
  font-size: 38px;
}

h5 {
  font-size: 34px;
}

h6 {
  font-size: 30px;
}
/* end heading styles */

a:link {
  color: #279af1;
}

a:visited {
  color: #c49991;
}

a:hover {
  color: #60656f;
}

/* navigation styles */
nav {
  margin-bottom: 20px;
  padding-bottom: 12px;
  border-bottom: 1px solid #131112;
}

ul.navbar {
  display: block;
  list-style: none;
  margin-top: 0;
  height: 35px;
  font-size: 18px;
  margin: auto;
}

ul.pageLinks {
  display: inline-block;
  list-style: none;
  margin-top: 0;
  height: 35px;
  font-size: 18px;
  margin: auto;
}

ul.navbar li {
  display: inline-block;
}

 ul.pageLinks li {
   display: block;
 }

ul.navbar a, ul.pageLinks a {
  color: #131112;
  display: block;
  padding: 10px;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}

ul.navbar a:hover, ul.pageLinks a:hover {
  background-color: #131112;
  color: #f7f7ff;
  transition: .3s;
}
/* end navigation styles */

.wrapper {
  height: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

#introContainer {
  width: 80%;
  height: 100%;
  margin: 3% auto;
  display: flex;
}

@media only screen and (max-device-width: 1300px) {
  #introContainer {
    width: 100%;
    font-size: 85%;
  }
}

#projects {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  box-shadow: 5px 10px 20px #279af1 inset;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(100px, auto);
  grid-template-areas:
    "h1 h2"
    "l1 l2";
  /* display: flex;
  flex-direction: row; */
}

.header1 {
  grid-area: h1;
}

.header2 {
  grid-area: h2;
  padding-right: 2%;
}

.links1 {
  grid-area: l1;
  padding-left: 0px;
}

.links2 {
  grid-area: l2;
  padding-left: 0px;
}

.links {
  width: 100%;
  height: auto;
  margin: 0px auto;
  padding: 2% 2% 0;
}

#purpose p {
  width: 90%;
}

@keyframes fadein {
  from {opacity: 0;}
  to {opacity: 1;}
}

#intro {
  width: 90%;
  margin: 0px auto;
  display: flex;
  animation: fadein 2s;
}

@media only screen and (max-device-width: 600px) {
  #purpose p {
    width: 100%;
  }

  #intro {
    display: flex;
    flex-direction: column-reverse;
  }

  #introContainer {
    font-size: 125%;
  }
}


#me {
  margin: auto;
}

#me img {
  display: block;
  max-height: 500px;
  margin: 0px auto;
}

#explain {
  font-size: 30px;
  font-style: italic;
}

@keyframes welcome-section {
  0% {background-color: #131112; color: #f7f7ff; opacity: 0; width: 50%; border-radius: 50%;}
  50% {opacity: .5;}
  75% {background-color: inherit; color: inherit;}
  100% {opacity: 1; border-radius: 0;}
}

#welcome-section {
  width: 100%;
  margin: 0px auto 30px;
  text-align: center;
  animation: welcome-section 2s;
}

/* media styles */
