---
layout: base
title: Contact
---
<h1 class="u-revertMargin--start">{{ title }}</h1>
<p>
  The best way to reach me is likely through this form. Submissions here get filtered to my inbox in a far more efficient way than you cold
  emailing me ever would (and it won't go into spam, unless you are in fact sending me spam).
</p>
{% include "partials/contact-form.html" %}
