---
title: Contact
description: I'd love to work with you on your next big project. Fill out this form and I'll be in touch.
layout: primary.liquid
pageName: contactPage
---
<main class="flex__centered-col">
  <section class="header">
    <h1 class="hero-header">{{title}}</h1>
  </section>
  <section class="row">
    <div class="row-header">
      <h2>Let's Work Together</h2>
      <p>{{description}}</p>
    </div>
  </section>
  <section class="row">
    {% contactForm %}
  </section>
  <section class="row">
    <div class="row-header">
      <h2>View My Resum&eacute;</h2>
      <ul class="list__nondescript">
        <li><a href="resume/">As a webpage</a></li>
        <li><a href="resume.pdf" download>As a PDF</a></li>
      </ul>
    </div>
  </section>
</main>
