<h1>Sorry, I'm a teapot</h1>
<p>Better luck next time.</p>
<img
  src="{{ metadata.cloudinary }}/c_scale,f_auto,q_auto:eco,w_600/v1646349104/blog/eduardo-froza-x6IpGJ9mOwA-unsplash_1_gcgmol.webp"
  alt="A black metal teapot"
  decoding="async"
  width="600"
  height="837"
  id="teapot"
  style="max-block-size: 50vh; object-fit: cover;"
/>
<p class="u-text--smaller"><a href="https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/418">Learn more...</a></p>
