---js
{
  layout: "primary",
  dateString: function(date) {
    let d = date.toUTCString();
    let gmt = /\s00:00:00\sGMT/g;
    return d.replace(gmt, "");
  }
}
---
<main class="post">
  <div class="wrapper">
    <header class="post-header">
      <div>
        <h1 id="post-title">{{ title }}</h1>
      </div>
      <div>
        <p id="post-date">{{ dateString(page.date) }}</p>
      </div>
    </header>
    <article class="post-body">
      {{ content | safe }}
    </article>
  </div>
</main>
