---
layout: primary
---
<main class="post">
  <div class="wrapper">
    <header class="post-header">
      <div>
        <h1 id="post-title">{{ title }}</h1>
      </div>
      <div>
        <p id="post-date">{{ postDate }}</p>
      </div>
    </header>
    <article class="post-body">
      {{ content | safe }}
    </article>
  </div>
</main>
