---
layout: primary
pageName: postArticle
---
<main class="article">
  <header class="post__header">
    <div>
      <h1>{{ title }}</h1>
    </div>
    <div>
      <p>{{ postDate }}</p>
    </div>
  </header>
  <article>
    {{ content | safe }}
  </article>
</main>
