<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://d33wubrfki0l68.cloudfront.net">
    <link rel="dns-prefetch" href="https://d33wubrfki0l68.cloudfront.net">

    {%- if noindex -%}
    <meta name="robots" content="noindex">
    {%- endif -%}

    <link rel="stylesheet" href="/css/compressed/main.min.css">
    {%- if pageCSS -%}
    <link rel="stylesheet" href="/css/compressed/{{pageCSS}}.min.css">
    {%- endif -%}
    {%- if codeblock -%}
    <link rel="stylesheet" href="/css/compressed/prism.min.css">
    {%- endif -%}

    {%- if animation -%}
    <script src="/js/compressed/prefixfree.js"></script>
    {%- endif -%}

    <title>{{ title }} | Troy V.</title>
    <meta name="description" content="{{description}}">
    <meta name="og:locale" content="en_US">
    <meta name="og:type" content="article">
    <meta name="og:title" content="{{title}}">
    <meta name="og:description" content="{{description}}">
    <meta name="og:site_name" content="troyv.dev">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="{{title}}">
    <meta name="twitter:description" content="{{description}}">
    <meta name="twitter:creator" content="@lowercasetroy">

    {%- if inline -%}
    <style>
      {{inline}}
    </style>
    {%- endif -%}

  </head>
  <body class="{{pageName}}">
    {% mainNav %}
    {{ content | safe }}
    {% footer %}

  {%- if codeblock -%}
  <script src="/js/compressed/prism.js" async></script>
  {%- endif -%}
  {% scripts %}
  </body>
</html>
