---
title: Music
description: Music is one of my passions. Check out all my musical projects here.
layout: page
pageName: music
plvylist: true
---
<section class="bands-container">
    <div class="wrapper">
        <div class="content center">
            <section class="section-header">
                <h2>Here Are My Bands</h2>
                <p>I write for a few projects, so here they are with all the important links. Music is best managed
                    elsewhere than my personal website, so you're better off visiting those places.</p>
            </section>
            {% include 'partials/bands.njk' %}
        </div>
    </div>
</section>
<section class="music-player">
    <div class="wrapper" data-constrain="more">
        <header class="center">
            <h2>Stream <span class="italic" id="album-title">Alone In A Crowded Room</span></h2>
            <p>I <a href="/posts/plvylist-web-component">created my own</a> embedded streaming player, called <a
                        href="https://github.com/troyvassalotti/plvylist" class="italic">Plvylist</a>. Check it out!</p>
        </header>
        <plvylist-player
                audio-location="/assets/audio/"
                artist-name="troy."
                album-name="Alone In A Crowded Room"
                cover-art="/assets/img/aiacr.jpg"
                placeholder-image="/assets/img/missingart.png">
        </plvylist-player>
    </div>
</section>