{% extends 'layouts/base.njk' %}

{% block content %}
  <main id="main">
    <div class="wrapper constrain--less">
      <div class="central">
        <div class="o-left flow u-truncate">
          <header class="flow header">
            <h1 class="title u-text--caps u-text--base">{{ title }}</h1>
            <h2 class="callout u-line-height--less">Guitarist, drummer, singer-songwriter.</h2>
            <p>Check out my musical projects - <em>Front Royal</em> and <em>troy.</em> - below.</p>
          </header>
          <section class="o-bands">
            <div class="c-band c-band--frontRoyal">
              <div class="c-band__logo">
                <a class="u-linked-image" href="https://www.frontroyalband.com/">
                  <picture>
                    <source srcset="{{ metadata.cloudinary }}/c_scale,f_auto,q_auto:eco,w_400/v1646349103/blog/front-royal-logo-white_400x240_fharjl.webp" media="(prefers-color-scheme: light)">
                    <img
                      src="{{ metadata.cloudinary }}/c_scale,f_auto,q_auto:eco,w_400/v1646349103/blog/FR_full_res_drh6ez.webp"
                      alt="Front Royal"
                      width="400"
                      height="240"
                      loading="lazy"
                      decoding="async" />
                  </picture>
                </a>
              </div>
            </div>
            <div class="c-band c-band--troy">
              <div class="c-band__logo">
                <a class="u-linked-image" href="https://hyperfollow.com/troyalllowercase">
                  <img
                    src="{{ metadata.cloudinary }}/c_scale,f_auto,q_auto:eco,w_300/v1646349104/blog/me-on-set_gkrhf7.webp"
                    alt="troy"
                    width="300"
                    height="293"
                    loading="lazy"
                    decoding="async" />
                </a>
              </div>
            </div>
          </section>
        </div>
        <div class="o-right">
          <section class="plvylist">
            <header>
              <h2 class="u-text--base u-text--caps title">You can stream here</h2>
              <p class="u-text--smaller u-text--italic">Psst... <a href="https://www.npmjs.com/package/plvylist">I made this player</a>.</p>
            </header>
            <plvylist-player tracks="/assets/js/alone-in-a-crowded-room.json" starting-volume="0.75">
            </plvylist-player>
          </section>
        </div>
      </div>
      <section class="listenBrainz flow">
        <header class="flow u-truncate">
          <h2>Listening Habits</h2>
          <p>I log as much of my listening habits as I can - including podcasts & music I'm playing or hearing - to <a href="https://listenbrainz.org/user/actionhamilton/">ListenBrainz</a> because I'm a <strong>nerd</strong>.</p>
        </header>
        <div class="flow">
          <h3>Playing Now</h3>
          {% if nowPlaying %}
            <dl class="c-nowPlayingList u-font--code">
              <div class="c-nowPlayingList__item">
                <dt>Artist</dt>
                <dd>{{ nowPlaying.artist }}</dd>
              </div>
              <div class="c-nowPlayingList__item">
                <dt>Track</dt>
                <dd>{{ nowPlaying.song }}</dd>
              </div>
              <div class="c-nowPlayingList__item">
                <dt>Release</dt>
                <dd>{{ nowPlaying.release }}</dd>
              </div>
            </dl>
          {% else %}
            <p class="u-font--code">Silence (nothing)</p>
          {% endif %}
        </div>
        <div class="flow">
          <h3>Listening History</h3>
          <div class="recentPlays o-tableWrapper">
            <table class="u-font--code c-dataTable">
              <caption class="u-text--caps u-text--bold">Last 30 Plays</caption>
              <colgroup>
                <col class="c-dataTable__col--number">
                <col class="c-dataTable__col--artist">
                <col class="c-dataTable__col--track">
                <col class="c-dataTable__col--release">
              </colgroup>
              <thead class="c-dataTable__head">
              <tr>
                <th id="recent-number" scope="col">Number</th>
                <th id="recent-artist" scope="col">Artist</th>
                <th id="recent-track" scope="col">Track</th>
                <th id="recent-release" scope="col">Release</th>
              </tr>
              </thead>
              <tbody class="c-dataTable__body">
              {% for item in recentListens %}
                <tr>
                  <th id="recent-order-{{ loop.index }}" headers="recent-number" scope="row">{{ loop.index }}</th>
                  <td headers="recent-artist recent-order-{{ loop.index }}">{{ item.artist }}</td>
                  <td headers="recent-track recent-order">{{ item.song }}</td>
                  <td headers="recent-release recent-order">{{ item.release }}</td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
          <div class="topThisMonth o-tableWrapper">
            <table class="u-font--code c-dataTable">
              <caption class="u-text--caps u-text--bold">Top Artists This Month</caption>
              <colgroup>
                <col class="c-dataTable__col--number">
                <col class="c-dataTable__col--artist">
                <col class="c-dataTable__col--listens">
              </colgroup>
              <thead class="c-dataTable__head">
              <tr>
                <th id="thisMonth-number" scope="col">Number</th>
                <th id="thisMonth-artist" scope="col">Artist</th>
                <th id="thisMonth-listens" scope="col">Listens</th>
              </tr>
              </thead>
              <tbody class="c-dataTable__body">
              {% for item in topArtistsThisMonth %}
                <tr>
                  <th id="thisMonth-order-{{ loop.index }}" headers="thisMonth-number" scope="row">{{ loop.index }}</th>
                  <td headers="thisMonth-artist thisMonth-order-{{ loop.index }}">{{ item.artist }}</td>
                  <td headers="thisMonth-track thisMonth-order">{{ item.listens }}</td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </section>
    </div>
  </main>
{% endblock %}

{% block style %}
  {{ super() }}
  <style>
    .central {
      display: flex;
      flex-direction: column;
      gap: var(--space-2xl-3xl);
      margin-block-start: var(--space-2xl);
    }

    @media (min-width: 70.25rem) {
      .central {
        display: grid;
        grid-template-columns: 1fr .75fr;
      }
    }

    .o-left {
      --flow-space: var(--space-l-xl);
    }

    .o-left .header {
      --flow-space: var(--space-s);
    }

    .callout {
      font-size: var(--step-6);
    }

    .o-bands {
      align-items: start;
      display: flex;
      flex-wrap: wrap;
      gap: var(--space-l);
      justify-content: space-around;
    }

    .c-band {
      align-items: center;
      display: flex;
      flex-direction: column;
    }

    .c-band--troy .c-band__logo img {
      border-radius: 50%;
      object-fit: cover;
      inline-size: auto;
      max-block-size: 200px;
    }

    .c-band__links svg {
      max-inline-size: 48px;
    }

    .plvylist {
      inset-block-start: 0;
      position: sticky;
    }

    plvylist-player {
      display: block;
      font-size: var(--step--1);
      margin-block: var(--space-s-m);
    }

    .listenBrainz {
      margin-block-start: var(--space-xl-2xl);
    }

    .listenBrainz :is(h2, h3, h4) {
      margin-block-start: revert;
    }

    .c-nowPlayingList__item {
      display: flex;
      gap: 1ch;
    }

    .c-nowPlayingList__item dt {
      font-weight: bold;
    }

    .c-nowPlayingList__item dt::after {
      content: ":"
    }

    .o-tableWrapper {
      overflow: auto;
    }

    .c-dataTable {
      border: 1px solid currentColor;
      border-collapse: collapse;
      inline-size: max-content;
      table-layout: fixed;
    }

    .c-dataTable :is(caption, th) {
      text-align: start;
    }

    .c-dataTable caption {
      inline-size: fit-content;
      position: sticky;
      inset-inline-start: 0;
      margin-block-end: var(--space-3xs);
    }

    .c-dataTable :is(th, td) {
      max-inline-size: var(--colWidth, auto);
      padding-block: var(--space-3xs);
      padding-inline: var(--space-xs);
    }

    /*TODO*/
    /* Use the colgroups to decide these widths instead */

    .c-dataTable__head th:nth-of-type(1),
    .c-dataTable__body tr th {
      --colWidth: 10ch;
    }

    .c-dataTable__head th:nth-of-type(2),
    .c-dataTable__body tr td:nth-of-type(1) {
      --colWidth: 30ch;
    }

    .c-dataTable__head th:nth-of-type(3),
    .c-dataTable__body tr td:nth-of-type(2) {
      --colWidth: 45ch;
    }

    .c-dataTable__head th:nth-of-type(4),
    .c-dataTable__body tr td:nth-of-type(3) {
      --colWidth: 40ch;
    }

    .c-dataTable tr:nth-of-type(odd) {
      background-color: #aaaaaa;
    }

    .c-dataTable tr:nth-of-type(even) {
      background-color: #f1f1f1;
    }
  </style>
{% endblock %}
