{% extends 'layouts/base.njk' %}

{% block script %}
  {{ super() }}
  <script type="module">
    import "/assets/js/plvylist-player.js"
  </script>
{% endblock %}

{% block content %}
  <main id="main">
    <div class="wrapper constrain--less">
      <div class="central">
        <div class="central__left flow u-truncate">
          <header class="flow header">
            <h1 class="title u-text--caps u-step-0">{{ title }}</h1>
            <div class="nowPlaying flow u-step--2">
              <p class="u-font--headings u-text--bold">{% include 'partials/music.svg' %}Now Playing</p>
              {% edge "njk" %}
                {% if nowPlaying %}
                  <dl class="c-dataList u-font--code">
                    <div class="c-dataList__item">
                      <dt>Artist</dt>
                      <dd>{{ nowPlaying.artist }}</dd>
                    </div>
                    <div class="c-dataList__item">
                      <dt>Track</dt>
                      <dd>{{ nowPlaying.song }}</dd>
                    </div>
                    <div class="c-dataList__item">
                      <dt>Release</dt>
                      <dd>{{ nowPlaying.release }}</dd>
                    </div>
                  </dl>
                {% else %}
                  <p class="u-font--code">Silence (nothing)</p>
                {% endif %}
              {% endedge %}
            </div>
            <h2 class="u-step-6 u-line-height--less">Guitarist, drummer, singer-songwriter.</h2>
            <p>When I'm not coding, I'm probably writing, playing, recording, or listening to music. Check out my projects below, or take a
              deep dive into my
              <a href="/music/stats/">listening habits</a>.</p>
          </header>
          <section class="o-bands flow">
            <div class="c-band u-invertSvg--onDark c-band--frontRoyal flow">
              <h3 class="u-step-2">Front Royal</h3>
              <dl class="c-dataList">
                {% for key, value in frontRoyal.meta %}
                  <div class="c-dataList__item">
                    <dt>{{ key }}</dt>
                    <dd>{{ value }}</dd>
                  </div>
                {% endfor %}
              </dl>
              {% for link in frontRoyal.social %}
                <a href="{{ link.href }}">{% include 'partials/' + link.img %}</a>
              {% endfor %}
            </div>
            <div class="c-band u-invertSvg--onDark c-band--troy flow">
              <h3 class="u-step-2">troyalllowercase</h3>
              <dl class="c-dataList">
                {% for key, value in troyalllowercase.meta %}
                  <div class="c-dataList__item">
                    <dt>{{ key }}</dt>
                    <dd>{{ value }}</dd>
                  </div>
                {% endfor %}
              </dl>
              {% for link in troyalllowercase.social %}
                <a href="{{ link.href }}">{% include 'partials/' + link.img %}</a>
              {% endfor %}
            </div>
          </section>
        </div>
        <div class="central__right">
          <section class="plvylist">
            <header>
              <h2 class="u-step-0 u-text--caps title">You can stream here</h2>
              <p class="u-step--1 u-text--italic">Psst... <a href="https://www.npmjs.com/package/plvylist">I made this player</a>.</p>
            </header>
            <plvylist-player tracks="/assets/js/alone-in-a-crowded-room.json">
            </plvylist-player>
          </section>
        </div>
      </div>
    </div>
  </main>
{% endblock %}

{% block style %}
  {{ super() }}
  <style>
    .nowPlaying {
      --flow-space: var(--space-3xs);
    }

    .nowPlaying svg {
      display: inline-block;
      margin-inline-end: .5ch;
      vertical-align: middle;
    }

    .central {
      display: flex;
      flex-direction: column;
      gap: var(--space-2xl-3xl);
      margin-block: var(--space-m-l);
    }

    @media (min-width: 70.25rem) {
      .central {
        display: grid;
        grid-template-columns: 1fr .75fr;
      }
    }

    .central__left .header {
      --flow-space: var(--space-s);
    }

    .o-bands {
      --flow-space: var(--space-s);
    }

    .c-band svg {
      max-inline-size: 48px;
    }

    .c-band a {
      display: block;
    }

    plvylist-player {
      display: block;
      font-size: var(--step--1);
      margin-block: var(--space-s-m);
    }
  </style>
{% endblock %}
