<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#2380e7">

    {% set theTitle %}{% if title %}{{ title }}{% else %}{{ page.fileSlug | capitalize }}{% endif %}{% endset %}
    <title>{{ theTitle }} | Troy Vassalotti</title>

    <link rel="preconnect" href="https://d33wubrfki0l68.cloudfront.net" crossorigin>
    <link rel="preconnect" href="https://fonts.typotheque.com/" crossorigin>
    <link rel="preconnect" href="https://screenshot.troyv.dev/" crossorigin>
    <link rel="preconnect" href="https://s3.amazonaws.com/" crossorigin>
    <link rel="dns-prefetch" href="https://d33wubrfki0l68.cloudfront.net">
    <link rel="dns-prefetch" href="https://fonts.typotheque.com/">
    <link rel="dns-prefetch" href="https://screenshot.troyv.dev/">
    <link rel="dns-prefetch" href="https://cdn.skypack.dev/">

    <link rel="stylesheet" href="https://fonts.typotheque.com/WF-036345-011398.css" media="not all"
          onload="this.media='all'">
    <link rel="stylesheet" href="/assets/css/style.css">

    {% block style %}
        {% if css %}
            {% if site.environment == "production" %}
                <style>{{ css | cssmin | safe }}</style>
            {% elseif site.environment == "development" %}
                <style>{{ css | safe }}</style>
            {% endif %}
        {% endif %}
    {% endblock %}

    <!-- SEO Tags -->
    <meta name="description" content="{{ description }}">
    <meta name="og:locale" content="en_US">
    <meta name="og:type" content="article">
    <meta name="og:title" content="{{ title }}">
    <meta name="og:description" content="{{ description }}">
    <meta name="og:site_name" content="troyv.dev">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="{{ title }}">
    <meta name="twitter:description" content="{{ description }}">
    <meta name="twitter:creator" content="@validcharacters">
    <link rel="canonical" href="https://www.troyv.dev{{ page.url }}">

    <!-- Other Head Stuff -->
    <meta name="generator" content="Eleventy">
    <link rel="author" href="/humans.txt">
    <link rel="alternate" type="application/rss+xml" href="/feed.xml" title="RSS Feed">

    <!-- Icons and PWA stuff -->
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/img/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicons/favicon-16x16.png">
    <link rel="manifest" href="/manifest.webmanifest">
</head>
<body class="{{ page.fileSlug }}">

<header class="site-header hideOnPrint">
    <nav class="main-navigation" id="main-navigation" aria-label="main navigation">
        <ul class="main-navigation__links" role="list">
            {% for link in nav.header %}
                <li><a href="{{ link.url }}" class="main-navigation__link animated-link"
                       id="link__{{ link.name }}">{{ link.name }}</a></li>
            {% endfor %}
        </ul>
    </nav>
</header>

{% block content %}{% endblock %}

{% block script %}
    {% if js %}
        {% if site.environment == "production" %}
            <script type="module">{{ js | jsmin | safe }}</script>
            {% elseif site.environment == "development" %}
            <script type="module">{{ js | safe }}</script>
        {% endif %}
    {% endif %}
{% endblock %}

<script type="module" src="/assets/js/script.js"></script>
</body>
</html>
