<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#2380e7">
    <meta name="generator" content="Eleventy">
    <link rel="author" href="/humans.txt">

    <link rel="preconnect" href="https://d33wubrfki0l68.cloudfront.net">
    <link rel="dns-prefetch" href="https://d33wubrfki0l68.cloudfront.net">
    <link rel="preconnect" href="https://s3.amazonaws.com/">
    <link rel="dns-prefetch" href="https://s3.amazonaws.com/">

    <link rel="preload" href="https://fonts.typotheque.com/WF-036345-011398.css" as="style">
    <link rel="stylesheet" href="https://fonts.typotheque.com/WF-036345-011398.css" media="not all" onload="this.media='all'">
    <link rel="stylesheet" href="/assets/css/style.css">
    <noscript>
        <link rel="stylesheet" href="https://fonts.typotheque.com/WF-036345-011398.css">
    </noscript>

    {% block style %}
        {%- if site.environment == "production" -%}
            <style>{{ css | cssmin | safe }}</style>
        {%- else -%}
            <style>{{ css | safe }}</style>
        {%- endif -%}
    {% endblock %}

    <title>{{ title }} | Troy Vassalotti</title>
    <meta name="description" content="{{ description }}">
    <meta name="og:locale" content="en_US">
    <meta name="og:type" content="article">
    <meta name="og:title" content="{{ title }}">
    <meta name="og:description" content="{{ description }}">
    <meta name="og:site_name" content="troyv.dev">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="{{ title }}">
    <meta name="twitter:description" content="{{ description }}">
    <meta name="twitter:creator" content="@validcharacters">
    <link rel="canonical" href="https://www.troyv.dev{{ page.url }}">

    <link rel="apple-touch-icon" sizes="180x180" href="/assets/img/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicons/favicon-16x16.png">
    <link rel="manifest" href="/manifest.webmanifest">
</head>
<body {% if pageName %}class="{{ pageName }}" {% endif %}>

<header class="site-header hideOnPrint">
    <nav class="main-navigation" id="main-navigation" aria-label="main navigation">
        <ul class="main-navigation__links">
            {%- for link in nav.header %}
                <li><a href="{{ link.url }}" class="main-navigation__link animated-link" id="link__{{ link.name }}">{{ link.name }}</a></li>
            {% endfor -%}
        </ul>
    </nav>
</header>

{% block content %}{% endblock %}

<footer class="site-footer hideOnPrint" id="site-footer">
    <nav class="footer-navigation" id="footer-navigation" aria-label="footer navigation">
        <ul class="footer-navigation__links">
            {%- for link in nav.footer %}
                <li>
                    <img src="/assets/img/{{ link.name | lower }}.svg" width="24" height="24" alt="{{ link.name }} logo" loading="lazy">
                    <a href="{{ link.url }}"
                       class="footer-navigation__link animated-link" {% if link.rel %} rel="{{ link.rel }}" {% endif %}>{{ link.name }}</a>
                </li>
            {% endfor -%}
        </ul>
    </nav>
    <p>View <a href="https://speedlify.troyv.dev">Speedlify</a> scores.</p>
</footer>

<script type="module" src="/assets/js/script.js"></script>

{% block script %}
    {%- if site.environment == "production" -%}
        <script type="module">{{ js | jsmin | safe }}</script>
    {%- else -%}
        <script type="module">{{ js | safe }}</script>
    {%- endif -%}
{% endblock %}
</body>
</html>
