<!-- @format -->

<!doctype html>
<!-- base.html -->
<html
	lang="en-US"
	dir="ltr"
	class="no-js">
	<head>
		<!-- prettier-ignore -->
		{%- set pageTitle = title | safe or page.fileSlug | capitalize -%}
    {%- set pageDescription -%}
        {%- if description -%}
            {{ description | safe }}
        {%- else -%}
            {{ pageTitle }} :: a page on {{ metadata.domain }}
        {%- endif -%}
    {%- endset -%}

		<meta charset="utf-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1" />
		<meta
			name="theme-color"
			content="#2380e7" />
		<title>{{ pageTitle }} :: {{ metadata.domain }}</title>

		<link
			rel="preconnect"
			href="https://d33wubrfki0l68.cloudfront.net"
			crossorigin />
		<link
			rel="preconnect"
			href="https://res.cloudinary.com/" />
		<link
			rel="dns-prefetch"
			href="https://d33wubrfki0l68.cloudfront.net" />
		<link
			rel="dns-prefetch"
			href="https://esm.sh/" />
		<link
			rel="dns-prefetch"
			href="https://res.cloudinary.com/" />

		<!-- Google Fonts -->
		<link
			rel="preconnect"
			href="https://fonts.googleapis.com" />
		<link
			rel="preconnect"
			href="https://fonts.gstatic.com"
			crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap"
			rel="stylesheet" />

		<!-- Import Map -->
		<script type="importmap">
			{
				"imports": {
					"lit": "https://esm.sh/lit@3.1.2",
					"d3": "https://esm.sh/d3@7.6",
					"tone": "https://esm.sh/tone@14.7.77",
					"cheatcode": "https://esm.sh/@troyv/cheatcode-component@1.0.0",
					"plvylist": "https://esm.sh/plvylist@4.0.0",
					"cloudysky": "https://esm.sh/@troyv/cloudysky@2.0.1",
					"typewriter": "https://esm.sh/@troyv/typewriter@3.0.0",
					"detune": "https://esm.sh/@troyv/detune@3.0.0",
					"beats-per": "https://esm.sh/@troyv/beats-per@3.0.0",
					"word-salad": "https://esm.sh/@troyv/word-salad@2.0.0",
					"glitch-text": "https://esm.sh/@troyv/glitch-text@1.0.0",
					"inapp-spy": "https://esm.sh/inapp-spy@3.0.0",
					"the-club": "https://esm.sh/@troyv/the-club@1.1.0-alpha.0",
					"modal-menu": "/assets/js/modal-menu.js",
					"cool-table": "/assets/js/cool-table.js",
					"cool-link": "/assets/js/cool-link.js",
					"cool-separator": "/assets/js/cool-separator.js",
					"now-playing": "/assets/js/now-playing.js",
					"tag-line": "/assets/js/tag-line.js",
					"web-mentions": "/assets/js/web-mentions.js",
					"heading-anchors": "https://esm.sh/@daviddarnes/heading-anchors@2.0.0",
					"lite-youtube": "https://esm.sh/lite-youtube-embed@0.3.2"
				}
			}
		</script>

		<!-- Speculation Rules -->
		<script type="speculationrules">
			{
				"prefetch": [
					{
						"where": {
							"href_matches": "/*"
						},
						"eagerness": "immediate"
					}
				],
				"prerender": [
					{
						"where": {
							"href_matches": "/*"
						},
						"eagerness": "moderate"
					}
				]
			}
		</script>

		<script
			type="module"
			src="/assets/js/main.js"></script>
		<script
			type="module"
			src="/assets/js/inapp.js"></script>

		<!-- Custom Scripts -->
		{{ bundle.js | safe }}

		<link
			rel="stylesheet"
			href="/assets/css/style.css" />

		<!-- lite-youtube-styles -->

		<!-- Custom Styles -->
		{{ bundle.css | safe }}

		<!-- SEO Garbage -->
		<meta
			name="description"
			content="{{ pageDescription }}" />
		<meta
			name="og:locale"
			content="en_US" />
		<meta
			name="og:type"
			content="article" />
		<meta
			name="og:title"
			content="{{ pageTitle }}" />
		<meta
			name="og:description"
			content="{{ pageDescription }}" />
		<meta
			name="og:site_name"
			content="{{ metadata.domain }}" />
		<link
			rel="canonical"
			href="{{ metadata.url }}{{ page.url }}" />

		<!-- Other Head Stuff -->
		<meta
			name="generator"
			content="{{ eleventy.generator }}" />
		<link
			rel="author"
			href="/humans.txt" />

		<!-- Feeds -->
		<link
			rel="alternate"
			type="application/atom+xml"
			href="/feed.xml"
			title="Posts RSS" />
		<link
			rel="alternate"
			type="application/json"
			href="/feed.json"
			title="Posts JSON Feed" />
		<link
			rel="alternate"
			type="application/atom+xml"
			href="/notes.xml"
			title="Notes RSS" />
		<link
			rel="alternate"
			type="application/json"
			href="/notes.json"
			title="Notes JSON Feed" />

		<!-- Webmentions -->
		<link
			rel="webmention"
			href="https://webmention.io/www.troyv.dev/webmention" />
		<link
			rel="pingback"
			href="https://webmention.io/www.troyv.dev/xmlrpc" />

		<!-- Verification Links -->
		{%- for social in metadata.socials %}
		<link
			rel="me"
			href="{{ social.url }}" />
		{% endfor %}

		<!-- Fediverse Creator -->
		<meta
			name="fediverse:creator"
			content="@rest@fosstodon.org" />

		<!-- Icons / PWA -->
		<link
			rel="apple-touch-icon"
			sizes="180x180"
			href="/favicons/apple-touch-icon.png" />
		<link
			rel="icon"
			type="image/png"
			sizes="32x32"
			href="/favicons/favicon-32x32.png" />
		<link
			rel="icon"
			type="image/png"
			sizes="16x16"
			href="/favicons/favicon-16x16.png" />
		<link
			rel="manifest"
			href="/manifest.webmanifest" />
	</head>

	<body class="page--{{ page.fileSlug or 'home' }}">
		<template shadowrootmode="open">
			<link
				rel="stylesheet"
				href="/assets/css/reset.css" />
			<link
				rel="stylesheet"
				href="/assets/css/base.css" />
			<link
				rel="stylesheet"
				href="/assets/css/utilities.css" />
			<style>
				.main-navigation {
					font-size: var(--step--1);
					padding-block: var(--space-xs);

					ul {
						display: flex;
						flex-wrap: wrap;
						margin: 0;
						row-gap: 1ch;
					}

					li:first-of-type {
						inline-size: 100%;
					}

					li:not(:last-of-type) {
						margin-inline-end: 1ch;
					}

					a {
						color: currentColor;
						text-decoration: none;
					}

					.skip-link {
						inset-inline-start: 50%;
						padding: 4px;
						position: absolute;
						transform: translateY(-200%);
						transition: transform 0.3s;

						&:focus-visible {
							transform: translateY(0%);
						}
					}

					@media (prefers-reduced-motion: no-preference) {
						a::before {
							--linkStartRest: right;
							--linkStateRest: scaleX(0);
						}

						a:hover::before {
							--linkStartHover: left;
							--linkStateHover: scaleX(1);
						}

						a[aria-current="page"]::before {
							--linkStartRest: left;
							--linkStateRest: scaleX(1);
						}

						a[aria-current="page"]:hover::before {
							--linkStartHover: right;
							--linkStateHover: scaleX(0);
						}
					}
				}

				.footer {
					inset-block-start: 100dvh;
					padding-block: var(--space-xs);
					position: sticky;
				}

				.site-footer nav > :first-child {
					margin-block-end: var(--space-2xs);
				}
			</style>
			<div class="header">
				<slot name="header">
					<!-- Main Navigation -->
					<header class="u-wrapper">
						<nav class="main-navigation">
							<a
								class="skip-link"
								href="#main"
								>Skip to main content</a
							>
							<ul role="list">
								{%- for link in navigation -%}

								<!-- prettier-ignore -->
								{%- set current = "page" if link.url === page.url else "false" -%}

								<li>
									<cool-link>
										<a
											href="{{ link.url }}"
											aria-current="{{ current }}">
											<!-- prettier-ignore -->
											{%- if loop.first -%}~/{%- else -%}:: {% endif -%} {{ link.name }}
										</a>
									</cool-link>
								</li>
								{%- endfor -%}
							</ul>
						</nav>
					</header>
				</slot>
			</div>
			<div class="body">
				<slot></slot>
			</div>
			<div class="footer">
				<slot name="footer">
					<!-- Footer -->
					<footer class="site-footer u-wrapper">
						<cool-separator
							size="small"
							space="end"></cool-separator>
						<div
							class="u-flex u-step--1"
							data-wrap>
							<nav id="socials">
								<p
									class="u-text--bold"
									id="socialNavTitle">
									Social Media
								</p>
								<ul
									role="list"
									aria-describedby="socialNavTitle">
									<li>
										<a href="{{ metadata.follow.mastodon }}">Mastodon</a>
									</li>
								</ul>
							</nav>
							<nav id="feeds">
								<p
									class="u-text--bold"
									id="rssFeedsTitle">
									RSS Feeds
								</p>
								<ul
									class="u-flex"
									data-wrap
									role="list"
									aria-describedby="rssFeedsTitle">
									<li>
										<a href="/notes.xml">Notes (Atom)</a>
									</li>
									<li>
										<a href="/notes.json">Notes (JSON)</a>
									</li>
									<li>
										<a href="/feed.xml">Blog (Atom)</a>
									</li>
									<li>
										<a href="/feed.json">Blog (JSON)</a>
									</li>
								</ul>
							</nav>
						</div>
					</footer>
				</slot>
			</div>
			<slot name="leaf-nodes"></slot>
		</template>

		<!-- Content -->
		{{ content | safe }}

		<!-- Keyboard Shortcuts -->
		<modal-menu
			id="shortcuts"
			class="u-flow">
			<style>
				/* because this shouldn't be visible at all if JS isn't there */
				modal-menu:not(:defined) {
					display: none;
				}

				@scope {
					:scope:not(:defined) {
						display: none;
					}
				}
			</style>
			<h2 class="u-step-2 u-text--bold">Keyboard Shortcuts</h2>
			<p class="u-step--2 u-text--italic">
				Bet you weren't expecting these to exist, huh?
			</p>
			<cool-table headless-body>
				<table>
					<thead>
						<tr>
							<th scope="col">Effect</th>
							<th scope="col">Command</th>
							<th scope="col">Hint</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td class="u-text--italic">Secret</td>
							<td>Konami Code</td>
							<td>It's <kbd>spacebar</kbd>, not <kbd>enter</kbd>.</td>
						</tr>
						<tr>
							<td class="u-text--italic">Secret</td>
							<td>
								Green, Red, Green, Yellow, Green, Blue, Green, Orange, Tilt
							</td>
							<td>Grab your Guitar Hero controller.</td>
						</tr>
					</tbody>
				</table>
			</cool-table>
			<h3 class="u-step-1">Bonus Features</h3>
			<p>Upload an audio file and watch this website turn into The Club.</p>
			<p class="u-step--1">
				WARNING: this feature is still in alpha. Do not use if you are sensitive
				to flashing lights or colors.
			</p>
			<div
				class="u-flex"
				data-align="center">
				<the-club
					fftsize="256"
					id="club"></the-club>
				<button
					class="button u-step--1"
					onclick="window.club.src='https://res.cloudinary.com/dpmchqezv/video/upload/v1684975533/troy/lets-try-this-again/02_-_In_awe_of_you_cld3he.mp3'">
					Use Sample Track
				</button>
			</div>
			<button
				class="button"
				slot="dismiss">
				Dismiss
			</button>
		</modal-menu>

		<!-- Cheat Codes -->
		<cheat-code slot="leaf-nodes"></cheat-code>
		<cheat-code
			slot="leaf-nodes"
			pattern="starpower"></cheat-code>
	</body>
</html>
