{% extends "layouts/base.njk" %}

{% block content %}
    <div class="wrapper constrain--some">
        <main id="main">
            <article class="h-entry flow">
                <header class="flow postHeader">
                    <h1 class="postTitle p-name">{{ title }}</h1>
                    <p class="postSummary p-summary u-step--1">{{ description }}</p>
                    <p class="postMeta u-step--1">
                        <span class="dt-published">{{ page.date | dateString }}</span>
                    </p>
                </header>
                <div class="post flow u-truncate e-content">
                    {{ content | safe }}
                    {% if syndication %}
                        {% include "partials/syndication-links.njk" %}
                    {% endif %}
                </div>
            </article>
            {% include "partials/webmention-list.njk" %}
        </main>
    </div>
    {% include "partials/post-navigation.njk" %}
{% endblock content %}

{% block script %}
    {{ super() }}
    <script type="module">
    /** Fixes a11y issue with non-focusable scrolling content in code blocks. */
    for (const block of document.querySelectorAll("pre[class*='language-']")) {
      block.tabIndex = 0
    }
    </script>
{% endblock script %}

{% block style %}
    {{ super() }}
    <style>
    .post pre[class*="language-"] {
        margin-block: var(--space-s-m);
        max-inline-size: 60em;
    }

    .post :is(h2, h3, h4, h5, h6) {
        margin-block-start: var(--space-xl-2xl);
    }

    .postSummary {
        font-style: italic;
    }

    .postHeader {
        border-block-end: 2px solid var(--accent, currentColor);
        max-inline-size: 75ch;
        padding-block: var(--space-m);
    }

    :is(h1, h2, h3, h4, h5, h6)>a:hover::after {
        content: "🔗";
        margin-inline-start: .5ch;
        position: absolute;
    }

    .post p {
        hyphens: initial;
    }
    </style>
{% endblock style %}
