---js
{
pageName: "post",
dateString: function(date) {
let d = date.toUTCString();
let gmt = /\s00:00:00\sGMT/g;
return d.replace(gmt, "");
}
}
---
{% extends 'layouts/base.njk' %}

{% block content %}
    <div class="with-sidebar">
        <main class="post-container">
            <header class="post-header">
                <div class="wrapper">
                    <div>
                        <h1 id="post-title">{{ title }}</h1>
                    </div>
                    <div>
                        <p id="post-date">{{ dateString(page.date) }}</p>
                    </div>
                    <div>
                        <p id="post-time-to-read">Reading Time: {{ content | timeToRead }}</p>
                    </div>
                </div>
            </header>
            <div class="wrapper">
                <article class="post-body">
                    {{ content | safe }}
                </article>
            </div>
        </main>
        {% set nextPost = collections.post | getNextCollectionItem(page) %}
        {% set previousPost = collections.post | getPreviousCollectionItem(page) %}
        {% if nextPost or previousPost %}
            <aside id="post-navigation">
                <div class="wrapper" data-constrain="more">
                    <ul class="no-list post-navigation neumorphism">
                        {% if nextPost %}
                            <li><span class="h5">Next Post:</span> <a
                                    href="{{ nextPost.url | url }}">{{ nextPost.data.title }}</a></li>{% endif %}
                        {% if previousPost %}
                            <li><span class="h5">Previous Post:</span> <a
                                    href="{{ previousPost.url | url }}">{{ previousPost.data.title }}</a>
                            </li>{% endif %}
                    </ul>
                </div>
            </aside>
        {% endif %}
    </div>
{% endblock %}

<style>
    {% set css %}
    .post-container {
        flex-grow: 1;
        padding-inline-end: 1ch;
        padding-inline-start: 1ch;
        width: 70%;
    }

    .post-container .wrapper {
        max-width: 75ch;
    }

    .post-header {
        padding-block-start: 2em;
    }

    .post-header .wrapper {
        border-bottom: 2px solid var(--goldPrimary);
    }

    .post-container h1 {
        font-size: var(--step-4);
    }

    .post-container h2 {
        font-size: var(--step-3);
    }

    .post-container h3 {
        font-size: var(--step-2);
    }

    .post-container h4 {
        font-size: var(--step-1);
    }

    .post-container :is(h2, h3, h4) {
        margin-top: revert;
    }

    #post-navigation {
        --padding: 2rem;
        flex-grow: 1;
        padding: var(--padding);
    }

    #post-navigation .wrapper {
        position: sticky;
        top: 30%;
    }

    .post-navigation {
        display: flex;
        flex-direction: column;
        font-size: var(--step--2);
        gap: 3rem;
        justify-content: space-evenly;
        padding: var(--padding);
        text-align: start;
    }

    .post-navigation li {
        display: inline-flex;
        flex-direction: column;
        max-width: 20ch;
    }

    .with-sidebar {
        display: flex;
        flex-wrap: wrap;
    }
    {% endset %}
</style>