<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#2380e7">
    {%- if noindex -%}
        <meta name="robots" content="noindex">
    {%- endif -%}
    <link rel="author" href="/humans.txt" />
    <meta name="generator" content="Eleventy">
    <link rel="preconnect" href="https://d33wubrfki0l68.cloudfront.net">
    <link rel="dns-prefetch" href="https://d33wubrfki0l68.cloudfront.net">
    <link rel="preconnect" href="https://s3.amazonaws.com/">
    <link rel="dns-prefetch" href="https://s3.amazonaws.com/">
    {% include "partials/process-css.njk" %}
    {% include "partials/seo.njk" %}
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/img/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicons/favicon-16x16.png">
    <link rel="manifest" href="/manifest.webmanifest">
</head>
<body {% if pageName %}class="{{ pageName }}" {% endif %}>
{% include "partials/header.njk" %}
{{ content | safe }}
{% include "partials/footer.njk" %}
{% include "partials/process-js.njk" %}
</body>
</html>
