<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {%- if noindex -%}
        <meta name="robots" content="noindex">
    {%- endif -%}
    <link rel="preconnect" href="https://d33wubrfki0l68.cloudfront.net">
    <link rel="dns-prefetch" href="https://d33wubrfki0l68.cloudfront.net">
    {% include "partials/process-css.njk" %}
    {% include "partials/seo.njk" %}
</head>
<body class="{{ pageName }}">
{% include "partials/header.njk" %}
{{ content | safe }}
{% include "partials/footer.njk" %}
{% include "partials/process-js.njk" %}
</body>
</html>
