<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {%- if noindex -%}
        <meta name="robots" content="noindex">
    {%- endif -%}
    <link rel="preconnect" href="https://d33wubrfki0l68.cloudfront.net">
    <link rel="dns-prefetch" href="https://d33wubrfki0l68.cloudfront.net">
    <link rel="canonical" href="https://www.troyv.dev{{ page.url }}">
    <link rel="stylesheet" href="https://fonts.typotheque.com/WF-036345-011398.css" type="text/css"/>
    <link rel="stylesheet" href="/assets/css/main.css">
    {% if page.fileSlug === "" -%}
        <link rel="stylesheet" href="/assets/css/homepage.css">
    {%- endif %}
    {% include "process-css.njk" %}
    {% include "seo.njk" %}
</head>
<body class="{{ pageName }}">
    {% include "header.html" %}
    {{ content | safe }}
    {% include "footer.html" %}
    {% include "process-js.njk" %}
</body>
</html>
