---
layout: primary
lightbox: true
tags: ['featured project']
---
<main>
    <div class="grid wrapper">
        <div class="grid project-solo">
            <section class="project-solo__img">
                <h1>{{ title }}</h1>
                <p class="rm-m-bs">{{ description }}</p>
                {% image featuredImage, title, [600, 1200, 1800], ['webp', 'jpg'], '(max-width: 1500px) 100vw, 60vw', 'img-zoomable' %}
            </section>
            <section class="project-solo__summary">
                {{ content | safe }}
            </section>
            <section class="project-solo__details">
                <h2>Details</h2>
                <ul class="no-list rm-m-bs" role="list">
                    <li><span class="bold">Built With:</span> {{ framework }}</li>
                    {% if website %}
                        <li><span class="bold">Visit Live Website:</span> <a href="{{ website }}">{{ website }}</a></li>
                    {% endif %}
                    {% if repo %}
                        <li><span class="bold">Repository:</span> <a href="{{ repo }}">{{ repo }}</a></li>
                    {% endif %}
                </ul>
            </section>
        </div>
    </div>
</main>