---
tags: ['featured project']
---
{% extends 'layouts/base.njk' %}

{% set css %}
<style>
    .project-solo h2 {
        font-size: var(--step-4);
    }

    @media (min-width: 60em) {
        .project-solo {
            grid-template-areas:
            "img summary"
            "details summary"
        }

        .project-solo__img {
            grid-area: img;
        }

        .project-solo__summary {
            grid-area: summary;
            place-self: center;
        }

        .project-solo__details {
            grid-area: details;
        }
    }
</style>
{% endset %}

{% block content %}
<main>
    <div class="grid wrapper">
        <div class="grid project-solo">
            <section class="project-solo__img">
                <h1>{{ title }}</h1>
                <p class="rm-m-bs">{{ description }}</p>
                {% image featuredImage, title, [600, 1200, 1800], ['webp', 'jpg'], '(max-width: 1500px) 100vw, 60vw', 'img-zoomable' %}
            </section>
            <section class="project-solo__summary">
                {{ content | safe }}
            </section>
            <section class="project-solo__details">
                <h2>Details</h2>
                <ul class="no-list rm-m-bs" role="list">
                    <li><span class="bold">Built With:</span> {{ framework }}</li>
                    {% if website %}
                        <li><span class="bold">Visit Live Website:</span> <a href="{{ website }}">{{ website }}</a></li>
                    {% endif %}
                    {% if repo %}
                        <li><span class="bold">Repository:</span> <a href="{{ repo }}">{{ repo }}</a></li>
                    {% endif %}
                </ul>
            </section>
        </div>
    </div>
</main>
{% endblock %}

{% set js %}
<script type="module">
    import Zooming from 'https://cdn.skypack.dev/zooming';
    document.addEventListener('DOMContentLoaded', function () {
        const zooming = new Zooming({
            bgColor: 'rgb(0, 0, 0)',
            bgOpacity: .5,
            customSize: '135%'
        })
        zooming.listen('.img-zoomable')
    })
</script>
{% endset %}