---
layout: primary
eleventyExcludeFromCollections: true
---
<main class="marginalize full">
    <div class="wrapper flex-center col center" data-constrain="most">
        {{ content | safe }}
        <a class="button" href="/">Go Home</a>
    </div>
</main>
