---
layout: primary
noindex: true
---
<main class="marginalize full">
  <div class="wrapper flex-center col center" data-constrain="most">
    {{ content | safe }}
    {% button '/', 'Go Home', '' %}
  </div>
</main>
