{% extends 'layouts/base.html' %} {% block content %}
<main class="layout" id="main">
  <div class="wrapper">
    <div class="grid work-solo">
      <section class="work-solo__img">
        <h1>{{ title }}</h1>
        <p class="rm-m-bs">{{ description }}</p>
        <light-box
          src="{{ 'https://screenshot.troyv.dev/' + website | urlencode + '/opengraph' }}"
          alt="{{ title }}"
          class="has-box-shadow"
          width="1200"
          height="630"
          decoding="async"></light-box>
      </section>
      <section class="work-solo__summary">{{ content | safe }}</section>
      <section class="work-solo__details">
        <h2>Details</h2>
        <dl>
          {% if framework %}
          <div>
            <dt class="bold">Built With</dt>
            <dd>{{ framework }}</dd>
          </div>
          {% endif %} {% if website %}
          <div>
            <dt class="bold">Visit Live Website</dt>
            <dd><a href="{{ website }}">{{ website }}</a></dd>
          </div>
          {% endif %} {% if repo %}
          <div>
            <dt class="bold">Repository</dt>
            <dd><a href="{{ repo }}">{{ repo }}</a></dd>
          </div>
          {% endif %}
        </dl>
      </section>
    </div>
  </div>
</main>
{% endblock %}

<style>
  {% set css %}
  .work-solo h2 {
      font-size: var(--step-4);
  }

  @media (min-width: 60em) {
      .work-solo {
          grid-template-areas:
        "img summary"
        "details summary"
      }

      .work-solo__img {
          grid-area: img;
      }

      .work-solo__summary {
          grid-area: summary;
          place-self: center;
      }

      .work-solo__details {
          grid-area: details;
      }
  }

  {% endset %}
</style>
