---
tags: ['work']
---
{% extends 'layouts/base.njk' %}

{% block content %}
    <main class="layout">
        <div class="grid wrapper">
            <div class="grid work-solo">
                <section class="work-solo__img">
                    <h1>{{ title }}</h1>
                    <p class="rm-m-bs">{{ description }}</p>
                    {% image "https://screenshot.troyv.dev/" + website | urlencode + "/opengraph", title, [600, 1200, 1800], ['webp', 'jpg'], '(max-width: 1500px) 100vw, 60vw', 'img-zoomable has-box-shadow' %}
                </section>
                <section class="work-solo__summary">
                    {{ content | safe }}
                </section>
                <section class="work-solo__details">
                    <h2>Details</h2>
                    <ul class="no-list rm-m-bs" role="list">
                        {% if framework %}
                            <li><span class="bold">Built With:</span> {{ framework }}</li>
                        {% endif %}
                        {% if website %}
                            <li><span class="bold">Visit Live Website:</span> <a href="{{ website }}">{{ website }}</a>
                            </li>
                        {% endif %}
                        {% if repo %}
                            <li><span class="bold">Repository:</span> <a href="{{ repo }}">{{ repo }}</a></li>
                        {% endif %}
                    </ul>
                </section>
            </div>
        </div>
    </main>
{% endblock %}

<style>
    {% set css %}
    .work-solo h2 {
        font-size: var(--step-4);
    }

    @media (min-width: 60em) {
        .work-solo {
            grid-template-areas:
            "img summary"
            "details summary"
        }

        .work-solo__img {
            grid-area: img;
        }

        .work-solo__summary {
            grid-area: summary;
            place-self: center;
        }

        .work-solo__details {
            grid-area: details;
        }
    }

    {% endset %}
</style>

<script type="module">
    {% set js %}
    import Zooming from 'https://cdn.skypack.dev/zooming';

    document.addEventListener('DOMContentLoaded', function () {
        const zooming = new Zooming({
            bgColor: 'rgb(0, 0, 0)',
            bgOpacity: .5,
            customSize: '135%'
        })
        zooming.listen('.img-zoomable')
    })
    {% endset %}
</script>