/* ======================
  Contact Form Styles
  ======================= */
.contact-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 1px solid currentColor;
    padding: 1ch;
    max-width: 31.25rem;
}

.contact-form label {
    display: flex;
    flex-direction: column;
    margin: 0.5ex 0;
    font-family: var(--headings);
    font-weight: 500;
}

#email,
#message,
#name {
    padding: 1ex;
}

#message {
    height: 10em;
}

#submit {
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
}
