/* ======================
  Globals
  ======================= */
html {
    line-height: 1.5;
    word-wrap: anywhere;
    background: var(--blackPrimary);
    color: var(--whitePrimary);
    font-family: var(--body);
}

body {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    font-size: var(--step-0);
}

img {
    display: block;
    /* width: 100%; */
    /* if you remove the above width rule, remember to clean up the full width classes on all your images. you commented it out so that your blog post images would stay their normal size, but also so small images would not be overly large. */
    max-width: 100%;
    margin: auto;
    height: auto;
}

img[height] {
    height: auto;
}

a {
    color: var(--goldPrimary);
}

a:hover {
    color: var(--bluePrimary);
}

.code,
code,
pre {
    font-family: var(--code);
}

pre {
    white-space: pre-wrap;
    font-size: var(--step--2);
    font-weight: 300;
}

blockquote {
    border-inline-end: 2px solid var(--goldPrimary);
    border-inline-start: 2px solid var(--goldPrimary);
    font-style: italic;
}

blockquote p {
    padding: 1ch;
}

a.animated-link {
    text-decoration: underline;
}

/* ======================
  Composition
  ======================= */
.flex {
    display: flex;
}

.col {
    flex-direction: column;
}

.wrapper {
    width: 95%;
    max-width: 100rem;
    margin: auto;
}

.wrapper[data-constrain="some"] {
    max-width: 81.25rem !important;
}

.wrapper[data-constrain="more"] {
    max-width: 68.75rem !important;
}

.wrapper[data-constrain="most"] {
    max-width: 37.5rem !important;
}

.full {
    width: 100%;
}

.tall {
    height: 100%;
}

.marginalize {
    margin: auto;
}

.rm-m-bs {
    margin-block-start: 0;
}

.rm-m-be {
    margin-block-end: 0;
}

*[data-state="reversed"] {
    flex-direction: column-reverse !important;
}

img[data-state="stay"] {
    transition: none !important;
}

img[data-state="stay"]:hover {
    transition: none !important;
    transform: none !important;
}

picture {
    display: inline-block;
}

.grid {
    display: grid;
    gap: var(--gap);
}

.two-col {
    grid-template-columns: repeat(2, minmax(0, 1fr));
}

.place-center {
    place-items: center;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrap {
    flex-wrap: wrap;
}

.layout {
    display: grid;
    gap: 2em;
}

body:not(.homepage) main.layout {
    margin-block-start: 1em;
    margin-block-end: 2em;
}

.skewed-background {
    position: relative;
    padding: var(--skew-padding, 1em 0 2em);
    display: inline-flex;
}

.skewed-background::before {
    position: absolute;
    top: -10px;
    content: "";
    width: 100%;
    height: 100%;
    background: var(--skew-color, currentColor);
    transform: var(--skew-direction, var(--skewUp));
}

.skewed-background .content {
    position: relative;
    color: var(--skew-text, currentColor);
    background: var(--skew-color);
}

.video-embed {
    display: block;
    margin-block-end: clamp(1ex, 5vw, 6ex);
    contain: content;
    position: relative;
    width: 100%;
}

.video-embed::after {
    content: "";
    display: block;
    padding-block-end: calc(100% / (16 / 9));
}

.video-embed iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.caption-overlay {
    position: relative;
    margin: 0;
}

.caption-link {
    display: grid;
    height: 100%;
    place-content: center;
}

.caption-overlay .caption-link .caption-image {
    transition: 0.3s ease;
}

.caption-overlay .caption {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: 0.3s ease;
}

.caption-overlay:hover > .caption-link .caption-image {
    filter: brightness(0.5);
}

.caption-overlay:hover > .caption-link .caption {
    opacity: 1;
}

.caption-overlay .caption figcaption {
    background: var(--whitePrimary);
    padding: 0 1ch;
    color: var(--blackPrimary);
}

.project-solo h2 {
    font-size: var(--step-4);
}

.masonry-flex {
    display: flex;
    flex-wrap: wrap;
}

.masonry-flex div {
    margin-inline-start: 1rem;
    margin-inline-end: 1rem;
    flex: 1 0 auto;
    width: var(--masonryWidth);
}

/* ======================
  Content Styles
  ======================= */
.center {
    text-align: center;
}

.italic {
    font-style: italic;
}

.bold {
    font-weight: 700;
}

.button {
    --buttonColor: currentColor;
    display: inline-block;
    background-color: transparent;
    border: 1px solid var(--buttonColor);
    padding: 1ex 2ex;
    color: currentColor;
    text-decoration: none;
    transition: 0.3s ease-out;
}

.button:hover {
    --buttonColor: var(--goldPrimary);
    background: var(--buttonColor);
    color: var(--blackPrimary);
}

.no-list {
    list-style: none;
    padding: 0;
}