/* Only using @import because Netlify will consolidate on build with my current config settings */
@import "normalize.css";
@import "fonts.css";
@import "variables.css";
@import "globals.css";
@import "headings.css";
@import "navigations.css";
@import "composition.css";
@import "contactform.css";
@import "posts.css";

@media only screen and (min-width: 720px) {
  /* ======================
    Navigation Styles
    ======================= */
  .main-navigation {
    text-align: start;
  }

  .main-navigation__links {
    padding-inline-start: 1ch;
  }

  .main-navigation__links li:not(:first-of-type) {
    margin-inline-start: 0;
    margin-inline-end: 1ch;
  }
}

@media (prefers-reduced-motion: no-preference) {
  a.animated-link {
    position: relative;
    text-decoration: none;
  }

  a.animated-link::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 0.06em;
    width: 100%;
    background-color: currentColor;
    transition: transform 400ms ease-out;
    transform: var(--linkStateRest);
    transform-origin: var(--linkStartRest);
  }

  a.animated-link:hover::before {
    transform: var(--linkStateHover);
    transform-origin: var(--linkStartHover);
  }
}

@media (prefers-color-scheme: light) {
  html {
    background: var(--whitePrimary);
    color: var(--blackPrimary);
  }

  a {
    color: var(--bluePrimary);
  }

  a:hover {
    color: var(--redPrimary);
  }

  blockquote {
    border-color: currentColor;
  }

  #eleventy {
    color: var(--redPrimary);
  }

  .button {
    font-weight: bold;
  }

  .button:hover {
    --buttonColor: var(--bluePrimary);
    color: var(--whitePrimary);
  }

  .contact-form {
    color: var(--whitePrimary);
    background-color: var(--blackPrimary);
  }
}
