@media (min-width: 45em) {
    /* ======================
      Navigation Styles
      ======================= */
    .main-navigation {
        text-align: start;
    }

    .main-navigation__links {
        padding-inline-start: 1ch;
    }

    .main-navigation__links li:not(:first-of-type) {
        margin-inline-start: 0;
        margin-inline-end: 1ch;
    }
}

@media (min-width: 60em) {
    .project-solo {
        grid-template-areas:
        "img summary"
        "details summary"
    }

    .project-solo__img {
        grid-area: img;
    }

    .project-solo__summary {
        grid-area: summary;
        place-self: center;
    }

    .project-solo__details {
        grid-area: details;
    }
}

@media (prefers-reduced-motion: no-preference) {
    a.animated-link {
        position: relative;
        text-decoration: none;
    }

    a.animated-link::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        height: 0.06em;
        width: 100%;
        background-color: currentColor;
        transition: transform 400ms ease-out;
        transform: var(--linkStateRest);
        transform-origin: var(--linkStartRest);
    }

    a.animated-link:hover::before {
        transform: var(--linkStateHover);
        transform-origin: var(--linkStartHover);
    }
}

@media (prefers-color-scheme: light) {
    html {
        background: var(--whitePrimary);
        color: var(--blackPrimary);
    }

    a {
        color: var(--bluePrimary);
    }

    a:hover {
        color: var(--redPrimary);
    }

    blockquote {
        border-color: currentColor;
    }

    #eleventy {
        color: var(--redPrimary);
    }

    .button {
        font-weight: bold;
    }

    .button:hover {
        --buttonColor: var(--bluePrimary);
        color: var(--whitePrimary);
    }

    .contact-form {
        color: var(--whitePrimary);
        background-color: var(--blackPrimary);
    }
}
