/* ======================
  Navigation Styles
  ======================= */
.main-navigation {
    text-align: center;
}

.main-navigation__links {
    padding: 0;
    list-style: none;
}

.main-navigation li:first-of-type {
    margin-block-start: 1ch;
    margin-block-end: 1ch;
}

.main-navigation__links li:not(:first-of-type) {
    display: inline-flex;
    margin-inline-start: 1ch;
    margin-inline-end: 1ch;
}

.main-navigation__link {
    color: currentColor;
    text-decoration: none;
}

.main-navigation__link:hover {
    color: currentColor;
}

.main-navigation__link::before {
    --linkStateRest: scaleX(0);
    --linkStartRest: right;
}

.main-navigation__link:hover::before {
    --linkStateHover: scaleX(1);
    --linkStartHover: left;
}

#link__home::before {
    background-color: var(--homeColor);
}

#link__posts::before {
    background-color: var(--postsColor);
}

#link__music::before {
    background-color: var(--musicColor);
}

#link__projects::before {
    background-color: var(--projectsColor);
}

#link__about::before {
    background-color: var(--aboutColor);
}

/* ======================
  Footer Styles
  ======================= */
.site-footer {
    text-align: end;
    padding-inline-start: 1ch;
    padding-inline-end: 1ch;
    font-size: var(--step--1);
    margin-block-start: auto;
}

.footer-navigation__links {
    padding: 0;
    list-style: none;
}

.footer-navigation__links li {
    display: inline-flex;
    margin-inline-start: 1ex;
    margin-inline-end: 1ex;
}

.footer-navigation__link {
    color: currentColor;
    text-decoration: none;
}

.footer-navigation__link:hover {
    color: currentColor;
}

.footer-navigation__link::before {
    --linkStateRest: scaleX(1);
    --linkStartRest: left;
}

.footer-navigation__link:hover::before {
    --linkStateHover: scaleX(0);
    --linkStartHover: right;
}

#eleventy {
    color: var(--goldPrimary);
}
