---
title: Résumé
description: An online version of my résumé. Downloadable versions are available as well, probably.
layout: primary
pageName: resumePage
pageCSS: resume
---
<main class="resume">
  <section class="name">
    <h1 class="heading">Troy Vassalotti</h1>
    <p class="personalInfo">
      <a href="/">https://www.troyv.dev/</a> | <a href="../resume.pdf">View PDF</a>
    </p>
  </section>
  <section class="photo">
    <img class="profile" src="/assets/img/professional.jpg" alt="This is me. I look like this." />
  </section>
  <section class="skills">
    <h2 class="section-title">Skills</h2>
    <div class="content skills__list">
      <ul class="skillset" data-state="tight">
        <li>Email Marketing & Design</li>
        <li>SEO & Content Strategy</li>
        <li>Front End Web Development</li>
      </ul>
      <ul class="skillset" data-state="tight">
        <li>Static Site Generators</li>
        <li>Web Analytics</li>
        <li>A/B & QA Testing</li>
      </ul>
    </div>
  </section>
  <section class="work">
    <h2 class="section-title">Work Experience</h2>
    <div class="content">
      <article class="job">
        <h3>NewMarket Health</h3>
        <header class="dated-header">
          <h4>Tech Compliance Specialist</h4>
          <p>2019 - Present</p>
        </header>
        <ul>
          <li>Conduct QA testing for new and returning product funnels, ensuring best practices in performance, development, and accessibility to keep our sites fast, usable, and maintainable.</li>
          <li>Monitor the health of all our domains, paying particular attention to blacklisting reports.</li>
          <li>Review external 3rd party emails to enforce compliance of our advertising guidelines and CAN-SPAM.</li>
          <li>Research the latest updates in browsers and front end technologies so we are always prepared for changes and aware of new optimizations.</li>
        </ul>
      </article>
      <article class="job">
        <h3>Terra's Kitchen</h3>
        <header class="dated-header">
          <h4>Marketing Production Coordinator</h4>
          <p>2017 - 2019</p>
        </header>
        <ul>
          <li>Managed the email channel to drive conversions and engagement. Implemented automated workflows, list management, and improved our HubSpot deliverability score from a 1 to a 67 (avg. score = 50), greatly improving effectiveness of channel.</li>
          <li>Designed and built custom HTML promotional, transactional, and automated emails. Transitioned templates to responsive designs to improve user experience on mobile devices.</li>
          <li>Analyzed open, click, and conversion rates regularly to assess trends and identify areas to test and optimize.</li>
          <li>Maintained our keyword database and SEO reporting in Moz Pro. Identified opportunities for dietary-specific landing pages that greatly increased organic performance.</li>
        </ul>
        <header class="dated-header">
          <h4>Marketing Intern</h4>
          <p>05/2017 - 09/2017</p>
        </header>
        <ul>
          <li>Researched relevant topics for writing and publishing blogs.</li>
          <li>Responsible for cataloging inventory of content and creative to allow team to quickly find necessary assets.</li>
        </ul>
      </article>
      <article class="job">
        <h3>Front Royal</h3>
        <header class="dated-header">
          <h4>Songwriter, Guitarist</h4>
          <p>2014 - Present</p>
        </header>
        <ul>
          <li>Completed two independent summer tours across 11 states.</li>
          <li>Designed, developed, and actively maintain our personal website - <a href="https://frontroyalband.com" rel="noopener" target="_blank">https://frontroyalband.com/</a> - through a GitHub repository deployed on Netlify.</li>
        </ul>
      </article>
      <article class="job">
        <h3>Weis Markets</h3>
        <header class="dated-header">
          <h4>Bakery Service and Production</h4>
          <p>2013 - 2017</p>
        </header>
        <ul>
          <li>I worked in a bakery; that's about all you need to know.</li>
        </ul>
      </article>
    </div>
  </section>
  <section class="education">
    <h2 class="section-title">Education</h2>
    <div class="content">
      <h3>B.S., Business Administration</h3>
      <p>Marketing Concentration<br>Towson University - Towson, MD</p>
    </div>
  </section>
  <section class="certifications">
    <h2 class="section-title">Certifications</h2>
    <div class="content">
      <ul>
        <li><strong>HubSpot:</strong> Inbound, Email, and Content Marketing</li>
        <li><strong>Moz:</strong> SEO Fundamentals</li>
        <li><strong>Google:</strong> Advanced Google Analytics, Google Tag Manager Fundamentals</li>
        <li><strong>freeCodeCamp.org:</strong> Responsive Web Design, JavaScript Algorithms and Data Structures, Front End Frame Works, Data Visualization</li>
      </ul>
    </div>
  </section>
</main>
