/** @format */

html {
	accent-color: var(--accent);
	background-color: var(--background);
	color: var(--foreground);
	color-scheme: light;
	scrollbar-gutter: stable;

	&:not(.no-js) {
		[data-undefined="visibility"]:not(:defined) {
			visibility: hidden;
		}
	}
}

@supports (color: lch(from red l c h)) {
	html {
		color: lch(from var(--background) calc((49.44 - l) * infinity) 0 0);
	}
}

@media (prefers-color-scheme: dark) {
	html {
		color-scheme: dark;
	}

	body,
	pre {
		font-weight: 300;
	}

	strong,
	b {
		font-weight: 600;
	}

	.u-invertSvg--onDark svg {
		filter: invert(1);
	}
}

body {
	font-family: var(--body);
	font-size: var(--step-0);
}

.code,
code,
kbd,
pre {
	font-family: var(--code);
}

pre {
	font-size: var(--step--2);
	white-space: pre-wrap;
}

button {
	appearance: none;
	background: transparent;
	border: 0;
	cursor: pointer;
	padding: 0;
}

:is(h1, h2, h3, h4, h5, h6) {
	font-family: var(--headings);
	line-height: 1.1;
}

h1 {
	font-size: var(--step-5);
	font-weight: 800;
}

h2 {
	font-size: var(--step-4);
	font-weight: 750;
}

h3 {
	font-size: var(--step-3);
	font-weight: 700;
}

h4 {
	font-size: var(--step-2);
	font-weight: 700;
}

h5 {
	font-size: var(--step-1);
	font-weight: 600;
}

h6 {
	font-size: var(--step-0);
	font-weight: 500;
}

blockquote {
	border-inline-start: var(--space-3xs) solid currentColor;
	font-style: italic;
	inline-size: fit-content;
	margin: var(--space-s-m);
	position: relative;

	:is(p, q) {
		padding-block: var(--space-2xs);
		padding-inline: var(--space-xs-s);
	}
}

a {
	color: var(--links);
	text-decoration-skip-ink: none;

	&:not([data-cool-link]) {
		text-decoration-thickness: 0.1em;
		transition-duration: 150ms;
		transition-property: text-decoration-thickness;
		transition-timing-function: ease;

		&:hover,
		&:focus-visible {
			text-decoration-thickness: 0.15em;
		}
	}

	&:focus-visible {
		outline: 2px dashed currentColor;
		outline-offset: 2px;
	}
}

/* THIS MIGHT NOT FIT HERE */
main {
	container-type: inline-size;

	> :last-child:not(hr) {
		padding-block-end: var(--space-xl);
	}
}
/* END DEFAULTS */

.masthead {
	max-inline-size: 40ch;
	padding-block: var(--space-2xl-3xl);

	&.masthead--small {
		padding-block: var(--space-l-xl);
	}

	&.masthead--no-contain {
		max-inline-size: none;
	}
}

.button,
beats-per button,
de-tune::part(note) {
	--surface: var(--background);
	--button-background: var(--primary);
	--button-color: var(--background);
	--button-focus-background: var(--foreground);
	--button-focus-color: var(--background);

	background-color: var(--button-background);
	border-radius: 0.25em;
	color: var(--button-color);
	cursor: pointer;
	font-weight: bold;
	padding-block: 0.75em;
	padding-inline: 1em;
	text-decoration: none;

	&:focus {
		background-color: var(--button-focus-background);
		color: var(--button-focus-color);
	}
}
