/** @format */

:root {
	--headings: "Poiret One", cursive;
	--body: "Baloo 2", sans-serif;
}

html {
	font-family: var(--body);
	min-height: 100vh;
	background-color: #52aef4;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cpolygon fill='%23cc0000' points='957 450 539 900 1396 900'/%3E%3Cpolygon fill='%23aa0000' points='957 450 872.9 900 1396 900'/%3E%3Cpolygon fill='%23d6002b' points='-60 900 398 662 816 900'/%3E%3Cpolygon fill='%23b10022' points='337 900 398 662 816 900'/%3E%3Cpolygon fill='%23d9004b' points='1203 546 1552 900 876 900'/%3E%3Cpolygon fill='%23b2003d' points='1203 546 1552 900 1162 900'/%3E%3Cpolygon fill='%23d3006c' points='641 695 886 900 367 900'/%3E%3Cpolygon fill='%23ac0057' points='587 900 641 695 886 900'/%3E%3Cpolygon fill='%23c4008c' points='1710 900 1401 632 1096 900'/%3E%3Cpolygon fill='%239e0071' points='1710 900 1401 632 1365 900'/%3E%3Cpolygon fill='%23aa00aa' points='1210 900 971 687 725 900'/%3E%3Cpolygon fill='%23880088' points='943 900 1210 900 971 687'/%3E%3C/svg%3E");
	background-attachment: fixed;
	background-size: cover;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--headings);
}

.gallery {
	display: grid;
	gap: 1em;
	place-items: center;
	grid-template-columns: repeat(auto-fit, minmax(205px, 1fr));
}

.grid {
	display: grid;
}

.place-center {
	place-items: center;
}

.button {
	transition:
		background-color 0.1s linear,
		border-color 0.1s linear,
		color 0.1s linear,
		box-shadow 0.1s linear,
		transform 0.1s ease;
	cursor: pointer;
	color: #000000;
	background-color: #efefef;
	font-family: inherit;
	font-size: inherit;
	margin-right: 6px;
	margin-bottom: 6px;
	padding: 10px;
	border: none;
	border-radius: 6px;
	outline: none;
	-webkit-appearance: none;
	padding-right: 30px;
	padding-left: 30px;
}

.button:hover {
	background: #dddddd;
	text-decoration: none;
}
.button:focus {
	box-shadow: 0 0 0 2px #0096bfab;
}

.button:active {
	transform: translateY(2px);
}

.button:disabled {
	cursor: not-allowed;
	opacity: 0.5;
}
