/** @format */

*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
}

html {
	-moz-text-size-adjust: none;
	-webkit-text-size-adjust: none;
	text-size-adjust: none;
}

html:focus-within {
	scroll-behavior: smooth;
}

body {
	block-size: 100%;
	font-kerning: normal;
	font-optical-sizing: auto;
	font-variant-ligatures: common-ligatures no-discretionary-ligatures
		no-historical-ligatures contextual;
	line-height: 1.5;
	min-block-size: 100dvh;
	text-decoration-skip-ink: auto;
	text-rendering: optimizeSpeed;
	-webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
	block-size: auto;
	display: block;
	max-inline-size: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
}

button,
input,
label {
	line-height: 1.1;
}

ul[role="list"],
ol[role="list"] {
	list-style: none;
	padding: 0;
}

@support not (font-variant-position: sub) {
	sub,
	sup {
		font-size: 75%;
		line-height: 0;
		position: relative;
		vertical-align: baseline;
	}

	sub {
		bottom: -0.25em;
	}

	sup {
		top: -0.5em;
	}
}

@supports (font-variant-position: sub) {
	sub,
	.sub {
		vertical-align: baseline;
		font-size: 100%;
		line-height: inherit;
		font-variant-position: sub;
	}
}

@supports (font-variant-position: super) {
	sup,
	.sup {
		vertical-align: baseline;
		font-size: 100%;
		line-height: inherit;
		font-variant-position: super;
	}
}

@media (prefers-reduced-motion: reduce) {
	html:focus-within {
		scroll-behavior: auto;
	}

	*,
	*::before,
	*::after {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}
