/** @format */

.u-wrapper {
	inline-size: min(
		100% - var(--wrapper-padding, 2rem),
		var(--wrapper-size, 100rem)
	);
	margin-inline: auto;

	&.constrain--less {
		--wrapper-size: 115rem;
	}

	&.constrain--base {
		--wrapper-size: 100rem;
	}

	&.constrain--some {
		--wrapper-size: 81.25rem;
	}

	&.constrain--more {
		--wrapper-size: 68.75rem;
	}

	&.constrain--most {
		--wrapper-size: 41.5rem;
	}
}

.u-visually-hidden:not(:focus):not(:active) {
	block-size: 1px;
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	inline-size: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
}

.u-step-5 {
	font-size: var(--step-5);
}

.u-step-4 {
	font-size: var(--step-4);
}

.u-step-3 {
	font-size: var(--step-3);
}

.u-step-2 {
	font-size: var(--step-2);
}

.u-step-1 {
	font-size: var(--step-1);
}

.u-step-0 {
	font-size: var(--step-0);
}

.u-step--1 {
	font-size: var(--step--1);
}

.u-step--2 {
	font-size: var(--step--2);
}

.u-truncate :is(h1, h2, h3, h4, h5, h6, p, :is(ul, ol):not([role])) {
	max-inline-size: var(--readable-length, 70ch);
}

.u-text--normal {
	font-style: normal;
}

.u-text--italic {
	font-style: italic;
}

.u-text--bold {
	font-weight: bold;
}

.u-centered {
	text-align: center;
	text-wrap: balance;
}

.u-uppercase {
	text-transform: uppercase;
	--opentype-case: on;
}

.u-smallcaps {
	font-variant-caps: all-small-caps;
	font-variant-numeric: oldstyle-nums;
}

.u-font--headings {
	font-family: var(--headings);
}

.u-font--base {
	font-family: var(--body);
}

.u-font--code {
	font-family: var(--code);
}

.u-font--styled-heading {
	font-family: var(--styled-headings);
}

.u-flex {
	display: flex;
	gap: var(--space-s);

	&[data-align="center"] {
		align-items: center;
	}

	&[data-wrap] {
		flex-wrap: wrap;
	}
}

.u-grid {
	--grid-layout-gap: var(--space-m);
	--grid-column-count: 4;
	--grid-item--min-width: 150px;

	--gap-count: calc(var(--grid-column-count) - 1);
	--total-gap-width: calc(var(--gap-count) * var(--grid-layout-gap));
	--grid-item--max-width: calc(
		(100% - var(--total-gap-width)) / var(--grid-column-count)
	);

	display: grid;
	gap: var(--grid-layout-gap);
	grid-template-columns: repeat(
		auto-fill,
		minmax(max(var(--grid-item--min-width), var(--grid-item--max-width)), 1fr)
	);

	&[data-grid-columns="2"] {
		--grid-column-count: 2;
	}

	&[data-grid-columns="3"] {
		--grid-column-count: 3;
	}

	&[data-grid-columns="5"] {
		--grid-column-count: 5;
	}

	&[data-grid-columns*="auto"] {
		grid-template-columns: repeat(
			var(--fluid-type),
			minmax(var(--grid-item--min-width), 1fr)
		);
	}

	&[data-grid-columns="auto-fill"] {
		--fluid-type: auto-fill;
	}

	&[data-grid-columns="auto-fit"] {
		--fluid-type: auto-fit;
	}
}

.u-inline {
	display: inline;
}

.u-flow > *:not(style, script) + *:not(style, script) {
	margin-block-start: var(--flow-space, 1em);
}

.u-prose {
	-webkit-hyphens: auto;
	-webkit-hyphenate-limit-before: 4;
	-webkit-hyphenate-limit-after: 3;
	-webkit-hyphenate-limit-lines: 2;

	font-size-adjust: 0.507;
	font-variant-numeric: oldstyle-nums proportional-nums;
	hyphens: auto;
	hyphenate-limit-chars: 7 4 3;
	hyphenate-limit-lines: 2;
	hyphenate-limit-zone: 8%;
	hyphenate-limit-last: always;
	text-wrap: pretty;

	&:is(pre, code, var, samp, kbd, h1, h2, h3, h4, h5, h6) {
		-webkit-hyphens: manual;
		hyphens: manual;
	}
}

/* Remove extra space since the masthead already has padding around it */
.u-flow .masthead + * {
	margin-block-start: 0;
}

.u-prose * + :is(h2, h3, h4) {
	--flow-space: var(--space-xl);
}

.u-hide {
	display: none;
}

/*
OpenType utility classes
*/

.case {
	--opentype-case: on;
}

.sinf {
	--opentype-sinf: on;
}

.dlig {
	font-variant-ligatures: discretionary-ligatures;
}

.hlig {
	font-variant-ligatures: historical-ligatures;
}

.dlig.hlig {
	font-variant-ligatures: discretionary-ligatures historical-ligatures;
}

.pnum {
	font-variant-numeric: proportional-nums;
}

.tnum {
	font-variant-numeric: tabular-nums;
}

.lnum {
	font-variant-numeric: lining-nums;
}

.onum {
	font-variant-numeric: oldstyle-nums;
}

.zero {
	font-variant-numeric: slashed-zero;
}

.pnum.zero {
	font-variant-numeric: proportional-nums slashed-zero;
}

.tnum.zero {
	font-variant-numeric: tabular-nums slashed-zero;
}

.onum.zero {
	font-variant-numeric: oldstyle-nums slashed-zero;
}

.lnum.zero {
	font-variant-numeric: lining-nums slashed-zero;
}

.tnum.lnum.zero {
	font-variant-numeric: tabular-nums lining-nums slashed-zero;
}

.frac {
	font-variant-numeric: diagonal-fractions;
}

.afrc {
	font-variant-numeric: stacked-fractions;
}

.ordn {
	font-variant-numeric: ordinal;
}

.smcp {
	font-variant-caps: small-caps;
}

.hist {
	font-variant-alternates: historical-forms;
}
