---
title: Music
description: Music is one of my passions. Check out all my musical projects here.
layout: primary.liquid
pageName: musicPage
inline: >
  :root {--banner:url('/images/guitar-on-bed.webp');}
  .hero-header {justify-content:flex-end;}
  .band {margin-bottom:5rem;}
  .album-description figure {margin:auto;}
  .album-description img {margin:1rem auto;}
  .album-description figcaption {font-size:1.6rem;}
  .album-description {
    padding:0 3rem;
    max-width:400px;}
  .album-listen {
    display:block;
    border:none;
    width:90%;
    max-width:350px;
    margin:auto auto 2rem;}
  #troy:nth-child(1), #frontRoyal:nth-child(1) {max-width:300px;}
  #tth {height:340px;}
  #aiacr {height:540px;}
  .view-more h3 {
    font-size:1.8rem;
    text-align:center;}
    .view-more .collection a {
      max-width: 123px;
      margin: 1rem;}
  @media only screen and (min-width:768px) {
    .view-more img {max-width: 150px;}
    .row {margin-bottom:0;}}
  @media only screen and (min-width:1152px) {
    .row-header p {max-width:70vw;}}
---
<main class="flex__centered-col">
  <section class="header">
    <h1 class="hero-header">{{title}}</h1>
  </section>
  <section class="row">
    <div class="row-header">
      <p>I first picked up guitar after 11 years of life surrounded by two musical brothers. Seven years later, I decided to learn drumming.</p>
      <p>I'm currently a guitarist and vocalist in Front Royal, and am the sole member of troy. (period included).</p>
      <p>Check out my music below.</p>
    </div>
  </section>
  <div class="grid__1-col__2-col">
    <section class="flex__centered-col left-column__margin">
      <div class="row__not-fixed-width" id="frontRoyal">
        {% hrefPic 'https://frontroyalmd.bandcamp.com/', 'front-royal-logo-white_400x240', 'The logo for my band, Front Royal.' %}
        <div class="icon-bar">
          <a class="icon-link" href="https://frontroyalmd.bandcamp.com/" target="_blank" rel="noopener" aria-label="Visit the Front Royal Bandcamp page."><img src="/images/bandcamp-button-bc-circle-black-64.png" alt="Bandcamp"></a>
          <a class="icon-link" href="https://www.instagram.com/frontroyal_official/" target="_blank" rel="noopener" aria-label="Visit the Front Royal Instagram."><img src="/images/instagram-black.svg" alt="Instagram"></a>
          <a class="icon-link" href="https://www.youtube.com/channel/UCm-KryhT3o9NZSbpG-M1qCQ/feed" target="_blank" rel="noopener" aria-label="Visit the Front Royal YouTube channel."><img src="/images/youtube-black.svg" alt="YouTube"></a>
          <a class="icon-link" href="https://www.facebook.com/FrontRoyalMD" target="_blank" rel="noopener" aria-label="Visit the Front Royal Facebook."><img src="/images/facebook-black.svg" alt="Facebook"></a>
        </div>
      </div>
      <div class="flex__centered-col band">
        <h2>Latest Release</h2>
        <div class="album-player">
          <div class="album-description">
            {% hrefPic 'https://frontroyalmd.bandcamp.com/album/these-things-happen', 'FR_TTH_408x408', 'These Things Happen' %}
            <p><span class="italic">These Things Happen</span><br>6 Tracks</p>
            <p>Our 3rd EP. Full Length LP debut The <span class="italic">Thought That Counts</span> coming 2020.</p>
          </div>
          <div class="album-embed">
            <iframe title="Bandcamp album player for These Things Happen by Front Royal" class="album-listen" id="tth" loading="lazy" src="https://bandcamp.com/EmbeddedPlayer/album=3745012043/size=large/bgcol=333333/linkcol=f7f7ff/artwork=none/transparent=true/" seamless>
              <a href="http://frontroyalmd.bandcamp.com/album/these-things-happen" rel="noopener" target="_blank">These Things Happen by Front Royal</a>
            </iframe>
          </div>
        </div>
        <div class="view-more">
          <h3>view more on <a href="https://frontroyalmd.bandcamp.com/" rel="noopener" target="_blank">bandcamp &gt;&gt;</a></h3>
          <div class="collection">
            {% hrefPic 'https://frontroyalmd.bandcamp.com/album/all-down-hill-from-here', 'FR_EP2_Cover_408x408', 'All Down Hill From Here' %}
            {% hrefPic 'https://frontroyalmd.bandcamp.com/album/the-band-not-the-town', 'FR_TBNTT_408x408', 'The Band, Not The Town' %}
          </div>
        </div>
      </div>
    </section>
    <section class="flex__centered-col right-column__margin">
      <div class="row__not-fixed-width" id="troy">
        {% hrefPic 'https://justtroy.bandcamp.com/', 'troy-full', 'The logo for my band, troy.' %}
        <div class="icon-bar">
          <a class="icon-link" href="https://justtroy.bandcamp.com/" target="_blank" rel="noopener" aria-label="Visit the troy. Bandcamp page."><img src="/images/bandcamp-button-bc-circle-black-64.png" alt="Bandcamp"></a>
          <a class="icon-link" href="https://www.facebook.com/troyalllowercase/" target="_blank" rel="noopener" aria-label="Visit the troy. Facebook."><img src="/images/facebook-black.svg" alt="Facebook"></a>
        </div>
      </div>
      <div class="flex__centered-col band">
        <h2>Latest Release</h2>
        <div class="album-player">
          <div class="album-description">
            {% hrefPic 'https://justtroy.bandcamp.com/', 'aiacr', 'Alone In A Crowded Room' %}
            <p><span class="italic">Alone In A Crowded Room</span><br>12 Tracks</p>
            <p>My full length debut born from a summer of needing to make something of myself.</p>
          </div>
          <div class="album-embed">
            <iframe title="Bandcamp album player for Alone In A Crowded Room by troy." class="album-listen" id="aiacr" src="https://bandcamp.com/EmbeddedPlayer/album=1057370408/size=large/bgcol=333333/linkcol=f7f7ff/artwork=none/transparent=true/" seamless loading="lazy">
              <a href="http://justtroy.bandcamp.com/album/alone-in-a-crowded-room">Alone In A Crowded Room by troy.</a>
            </iframe>
          </div>
        </div>
      </div>
    </section>
  </div>
</main>
