div#calendar-heatmap {
  overflow: auto;
  background-color: var(--whitePrimary);
  color: var(--blackPrimary);
  -webkit-padding-before: 1em;
  padding-block-start: 1em;
  -webkit-padding-after: 1em;
  padding-block-end: 1em;
}

div#calendar-heatmap svg.calendar {
  width: max(900px, 100%);
}
