:is(.music-player header, .bands-container .section-header) p {
  max-width: 60ch;
  -webkit-margin-start: auto;
  margin-inline-start: auto;
  -webkit-margin-end: auto;
  margin-inline-end: auto;
}

.bands {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
}

.band {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  -webkit-margin-start: 1ex;
  margin-inline-start: 1ex;
  -webkit-margin-end: 1ex;
  margin-inline-end: 1ex;
}

.band-logo img {
  max-width: 300px;
}

.icon-bar {
  background-color: currentColor;
  padding: 1ex 2ex;
  display: flex;
  justify-content: space-around;
  width: 100%;
  max-width: 325px;
  margin: auto;
  align-items: center;
}

.icon-bar img {
  max-width: 48px;
}

.music-player {
  -webkit-margin-before: 2em;
  margin-block-start: 2em;
  -webkit-margin-after: 2em;
  margin-block-end: 2em;
}

@media (prefers-color-scheme: light) {
  .band-logo img {
    filter: drop-shadow(2px 4px 6px black);
  }

  .icon-bar img {
    filter: invert(1);
  }
}
