---
title: About
description: Normal person stuck in a computer.
---

{% extends "layouts/base.njk" %}

{% block content %}
    <div class="wrapper constrain--some addLayoutMargin">
        <main id="main" class="flow">
            <header class="flow">
                <type-writer>
                <h1 class="leadingType">Hey, I'm Troy...</h1>
                </type-writer>
                <figure class="portrait">
                    <div class="gradient-mask">
                        <img src="{{ metadata.cloudinary }}/c_scale,f_auto,q_auto:eco,w_1450/v1646349104/blog/DSC00048-positive-2_iflhof.webp"
                             alt="Me holding my guitar on stage"
                             decoding="async"
                             width="1450"
                             height="600"
                             id="me"/>
                    </div>
                    <figcaption class="portrait__caption">
                        <a href="/music/">Musician</a>, engineer, and <tag-line taglines="insert your favorite descriptors here | hopeless romantic | rotten tomato | apple butter cheesecake | musician, engineer, and musician, engineer, and musician engineer... | I don't know anymore">loading...</tag-line>.
                        </figcaption>
                    </figure>
                </header>
                <section class="aboutMe flow u-truncate">
                    {% renderFile './src/_includes/partials/bio.md' %}
                    <ul class="c-socialMedia u-invertSvg--onDark flow" role="list">
                        {% for social in metadata.socials %}
                            <li>
                                <a class="c-link--icon" href="{{ social.url }}">{%- include "partials/" + social.name | lower + ".svg" -%}{{ social.name }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </section>
            </main>
        </div>
    {% endblock content %}

    {% block script %}
        {{ super() }}
        <script type="module">
import { Typewriter } from "typewriter";
import "/assets/js/tag-line.js";
        </script>
    {% endblock script %}

    {% block style %}
        {{ super() }}
        <style>
.leadingType {
    --kb-count-cursor: 10;

    font-size: var(--step-4);
}

.portrait {
    inline-size: fit-content;
    margin-inline: auto;
}

.portrait__caption {
    font-style: italic;
    text-align: end;
}

.portrait__caption::after,
.portrait__caption::before {
    content: " ↑ ";
    font-size: 1.25em;
}

.gradient-mask {
    mask-image: linear-gradient(to bottom, #000, #000),
        linear-gradient(to bottom, #000, #000),
        linear-gradient(to bottom, #000, #000),
        linear-gradient(to bottom, #000, #000),
        linear-gradient(to bottom, #000, #000);
    mask-size: 19% 70%;
    mask-position: 0 75%, 25% 25%, 50% 50%, 75% 0, 100% 100%;
    mask-repeat: no-repeat;
    
    -webkit-mask-image: linear-gradient(to bottom, #000, #000),
        linear-gradient(to bottom, #000, #000),
        linear-gradient(to bottom, #000, #000),
        linear-gradient(to bottom, #000, #000),
        linear-gradient(to bottom, #000, #000);
    -webkit-mask-size: 19% 70%;
    -webkit-mask-position: 0 75%, 25% 25%, 50% 50%, 75% 0, 100% 100%;
    -webkit-mask-repeat: no-repeat;
    max-inline-size: max-content;
}
        </style>
    {% endblock style %}
