---
title: Blog
description: I occasionally write about things that enter my mind or the excessive amounts of data I keep on myself.
layout: primary
pageName: blogPage
---
<main class="grid place-center">
  <section class="hero">
    <h1 class="hero__header">{{ title }}</h1>
  </section>
  <section class="grid full-width blog-listing__container">
  {%- for post in collections.post | reverse -%}
    <article class="blog-listing">
      <h2><a href="{{ post.url }}">{{ post.data.title }}</a></h2>
      <p>{{ post.data.description }}</p>
    </article>
  {%- endfor -%}
  </section>
</main>
