{% extends 'layouts/page.njk' %}

<script type="module">
    {% set js %}
    // This is for the handdrawn annotations from Rough Notation
    import { annotate } from "https://cdn.skypack.dev/rough-notation"

    const pageTitle = document.querySelector("#page-title")
    pageTitle.setAttribute("style", "color: var(--blackPrimary)")
    const projectsAnnotation = annotate(pageTitle, {
        type: "highlight",
        color: "var(--workColor)",
        padding: 15
    })

    projectsAnnotation.show()
    {% endset %}
</script>

{% block main %}
    <div class="wrapper">
        <section class="work__focus">
            {% for work in collections['work'] | reverse %}
                <div class="container neumorphism">
                    <div class="content">
                        <h2>{{ work.data.title }}</h2>
                        <p>{{ work.data.description }}</p>
                    </div>
                    <a href="{{ work.url }}">
                        {% image "https://screenshot.troyv.dev/" + work.data.website | urlencode + "/opengraph", work.data.title, [600, 900, 1200], ['webp', 'jpg'], '(max-width: 700px) 100vw, 1200px' %}
                    </a>
                </div>
            {% endfor %}
        </section>
    </div>
    <section class="misc">
        <header>
            <h2>Other Projects</h2>
        </header>
        <div class="projects__misc">
            {% set imgWidths = [300] %}
            {% set imgFormats = ['webp', 'png'] %}
            {% set imgSizes = '33vw' %}
            {% set imgClasses = 'caption-image' %}
            {% for project in collections['project'] | reverse %}
                <figure class="caption-overlay">
                    <a class="caption-link" href="{{ project.url }}">
                        {% if project.data.featuredImage %}
                            {% image project.data.featuredImage, project.data.title, imgWidths, imgFormats, imgSizes, imgClasses %}
                        {% else %}
                            {% image "https://screenshot.troyv.dev/" + project.data.website | urlencode, project.data.title, imgWidths, imgFormats, imgSizes, imgClasses %}
                        {% endif %}
                        <div class="caption">
                            <figcaption>
                                <h3>{{ project.data.shortname }}</h3>
                            </figcaption>
                        </div>
                    </a>
                </figure>
            {% endfor %}
        </div>
    </section>
{% endblock %}

<style>
    {% set css %}
    .work__focus {
        --min: clamp(20rem, 100%, 30rem);
        display: grid;
        gap: 2rem;
        grid-template-columns: repeat(auto-fill, minmax(var(--min), 1fr));
    }

    .work__focus h2 {
        font-size: var(--step-2);
    }

    .work__focus .container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 1rem;
    }

    .work__focus img {
        transition: 0.3s ease;
    }

    .work__focus img:hover {
        filter: brightness(0.5);
        transform: scale(1.02);
    }

    .misc {
        --padding: 3rem;
        padding-block-end: var(--padding);
        padding-block-start: var(--padding);
    }

    .misc h2 {
        --padding: 1rem;
        margin-block-end: 2rem;
        padding-inline-end: var(--padding);
        padding-inline-start: var(--padding);
    }

    .projects__misc {
        display: flex;
        gap: 5%;
        overflow-x: auto;
        padding-inline-end: 1rem;
        padding-inline-start: 1rem;
    }

    .projects__misc .caption-overlay {
        flex-shrink: 0;
    }

    .projects__misc .caption-overlay h3 {
        font-size: var(--step-1);
    }

    {% endset %}
</style>