---
title: I'll Be In Touch
description: Thanks for reaching out! I'll be in touch soon.
layout: primary
pageName: successPage
inline: >
  main {width: 95vw; max-width: 600px; margin: auto;}
  h1 {font-size: 5.3rem; margin: 0; text-align: center;}
  p {text-align: center;}
noindex: true
---
<main class="flex__centered-col">
  <h1>http:// 200</h1>
  <p><em>(that means success)</em></p>
  <p>Sit back, relax, and I'll be in touch soon.</p>
  {% button '/', 'Go to the homepage', 'Go Back Home', '' %}
</main>
