.wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(100px, auto);
  grid-template-areas:
    "h1 h2"
    "l1 l2";
}

.header1 {
  grid-area: h1;
}

.header2 {
  grid-area: h2;
}

.links1 {
  grid-area: l1;
}

.links2 {
  grid-area: l2;
}
