/* The side navigation menu */
.sidenav {
  height: 100%;
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  background-color: #131112; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 10vh; /* Place content 60px from the top */
  transition: .5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The side navigation menu links */
.sidenav a {
  color: #f7f7ff;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  text-decoration: none;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  overflow: hidden;
  width: 100%;
}
body {
  overflow-x: hidden;
}

/* Style the links inside the navigation bar */
#topNav a {
  float: left;
  padding: 14px 16px;
}

#desktopNav {
  display: none;
}

ul.navbar {
  display: block;
  list-style: none;
  margin-top: 0;
  height: 35px;
  margin: auto;
  font-size: 21px;
}

ul.navbar a:hover {
  background-color: #f7f7ff;
  color: #131112;
  transition: .3s;
}

ul.navbar li {
  display: block;
  white-space: nowrap;
}

ul.navbar a {
  color: #f7f7ff;
  display: block;
  padding: 10px;
  text-decoration: none;
  font-family: "Merriweather Sans", sans-serif;
}

@media only screen and (min-width: 850px){
  ul.navbar li {
    display: inline-block;
  }

  ul.navbar a {
    color: #131112;
    display: block;
    padding: 10px;
    text-decoration: none;
    font-family: "Merriweather Sans", sans-serif;
  }

  ul.navbar a:hover {
    background-color: #131112;
    color: #f7f7ff;
    transition: .3s;
  }

  #sideNavigation, #topNav {
    display: none;
  }

  #desktopNav {
    display: initial;
  }

  .sidenav {
    padding-top: 60px;
  }
}
