/* TESTING STYLES */
.test-container {
  width: 100%;
  margin: auto;
  padding: 2vh 0;
}

#test-header {}
#test-section2 {}

#test-easterEgg1 {
  z-index: 1;
  position: absolute;
  top: 0;
  right: 0;
  font-size: .6rem;
  padding: 5px 10px 0 0;
}
#egg1btn {
  color: var(--white-two);
  background-color: var(--white-two);
  border: none;
}
#egg1btn:hover {
  color: var(--black-one);
  border: 2px solid var(--black-one);
}

/* desktop styles */
@media only screen and (min-width: 850px) {

}

@media only screen and (min-width: 1024px) {

}

@media only screen and (min-width: 1440px) {

}

@media only screen and (min-width: 1800px) {

}
/* end desktop styles */
