/* TESTING STYLES */
.test-container {
  width: 100%;
  margin: auto;
  padding: 2vh 0;
}

#test-header {}
#test-section2 {}

#test-easterEgg1 {
  z-index: 1;
  position: fixed;
  top: 0;
  right: 0;
  font-size: .5rem;
  padding: 5px 5px 0 0;
}

/* desktop styles */
@media only screen and (min-width: 850px) {

}

@media only screen and (min-width: 1024px) {

}

@media only screen and (min-width: 1440px) {

}

@media only screen and (min-width: 1800px) {

}
/* end desktop styles */
