---
permalink: /assets/js/d3-modules.js
eleventyExcludeFromCollections: true
---
{%- include "js/d3-scale.min.js" -%}
{%- include "js/d3-array.min.js" -%}
{%- include "js/d3-axis.min.js" -%}
{%- include "js/d3-selection.min.js" -%}
{%- include "js/d3-time-format.min.js" -%}
{%- include "js/d3-time.min.js" -%}