---
title: Posts
description: I occasionally write about things that enter my mind or the excessive amounts of data I keep on myself.
layout: page
pageName: posts
---
<section class="all-posts full">
    <div class="wrapper">
        <div class="grid posts-container">
            {%- for post in collections.post | reverse -%}
                <article class="post-listing">
                    <h2><a href="{{ post.url }}">{{ post.data.title }}</a></h2>
                    <p>{{ post.data.description }}</p>
                </article>
            {%- endfor -%}
        </div>
    </div>
</section>
