---
title: Posts Archive
description: I occasionally write about things.
"override:layout": null
"override:tags": []
"override:permalink": /archive/
---

{% extends 'layouts/base.njk' %}

{% block script %}
  {{ super() }}
  <script type="module">
    import "/assets/js/post-item.js"
  </script>
{% endblock %}

{% block content %}
  <div class="wrapper constrain--more">
    <main id="main">
      <section>
        <header class="u-text--center">
          <h1 class="u-revertMargin--start">{{ title }}</h1>
          <div class="rss u-invertSvg--onDark">
            <span>{% include 'partials/rss.svg' %}</span>
            <span>Subscribe to the <a href="/feed.xml">RSS feed</a>.</span>
          </div>
        </header>
        <nav aria-label="tags" class="flow tags">
          <h2 class="u-step-1">Tags ({{ collections.allTagsList.length }}):</h2>
          <!-- TODO -->
          <!-- Create a WC out of this, use space delimited array as prop -->
          <ul role="list" class="c-tagCloud">
            {% for tag in collections.allTagsList | sort %}
              {% set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
              <li>
                <a href="{{ tagUrl }}" class="c-tag"><span class="visually-hidden">Posts tagged </span>{{ tag }}</a>
              </li>
            {% endfor %}
          </ul>
        </nav>
      </section>
      <section class="posts">
        <ul role="list" class="c-postList flow">
          {% for post in collections.post | reverse %}
            <li>
              <post-item date="{{ post.date | dateString }}"
                         url="{{ post.url }}"
                         heading="{{ post.data.title }}"></post-item>
            </li>
          {% endfor %}
        </ul>
      </section>
    </main>
  </div>
{% endblock %}

{% block style %}
  {{ super() }}
  <style>
    .tags {
      margin-block: var(--space-l-xl);
    }

    .c-tag {
      background-color: var(--foreground);
      border-radius: 4px;
      color: var(--background);
      display: inline-block;
      font-size: var(--step--1);
      padding-inline: 8px;
    }

    .c-tag::before {
      content: "#";
    }

    .c-tagCloud {
      display: flex;
      flex-wrap: wrap;
      gap: var(--space-2xs-xs);
    }

    .posts {
      margin-block: var(--space-m-l);
    }

    .c-postList {
      --flow-space: var(--space-s-m);
    }

    .rss {
      align-items: center;
      display: flex;
      gap: 1ch;
      justify-content: center;
    }

    .rss svg {
      max-inline-size: 1em;
    }
  </style>
{% endblock %}
