---
title: Posts Archive
description: I occasionally write about things.
"override:layout": null
"override:tags": []
"override:permalink": /archive/
---

{% extends "layouts/base.njk" %}
{% from "macros.njk" import postItem, tagCloud %}

{% block content %}
    <div class="wrapper constrain--more">
        <main id="main">
            <section>
                <header class="u-text--center">
                    <h1>{{ title }}</h1>
                    <div class="rss u-invertSvg--onDark">
                        <span>{% include "partials/rss.svg" %}</span>
                        <span>Subscribe to the <a href="/feed.xml">RSS feed</a>.</span>
                    </div>
                </header>
                {% set sortedTags = collections.allTagsList | sort %}
                {{ tagCloud("/tags/", tagList = sortedTags) }}
            </section>
            <section class="posts">
                <ol role="list" class="c-postList flow">
                    {% for post in collections.post | reverse %}{{ postItem(post.date, post.data.title, post.url) }}{% endfor %}
                </ol>
            </section>
        </main>
    </div>
{% endblock content %}

{% block style %}
    {{ super() }}
    <style>
    .c-tagCloud {
        margin-block: var(--space-l-xl);
    }

    .posts {
        margin-block: var(--space-m-l);
    }

    .c-postList {
        --flow-space: var(--space-s-m);
    }

    .rss {
        align-items: center;
        display: flex;
        gap: 1ch;
        justify-content: center;
    }

    .rss svg {
        max-inline-size: 1em;
    }
    </style>
{% endblock style %}
