---json
    {
        "permalink": "feed.xml",
        "eleventyExcludeFromCollections": true,
        "metadata": {
            "title": "Troy's Dev Blog",
            "subtitle": "Read along as Troy figures out how to be a developer.",
            "url": "https://www.troyv.dev/",
            "feedUrl": "https://www.troyv.dev/feed.xml",
            "author": {
                "name": "Troy Vassalotti",
                "email": "contact@mail.troyv.dev"
            }
        }
    }
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
    <title>{{ metadata.title }}</title>
    <subtitle>{{ metadata.subtitle }}</subtitle>
    <link href="{{ metadata.feedUrl }}" rel="self"/>
    <link href="{{ metadata.url }}"/>
    <updated>{{ collections.post | getNewestCollectionItemDate | dateToRfc3339 }}</updated>
    <id>{{ metadata.url }}</id>
    <author>
        <name>{{ metadata.author.name }}</name>
        <email>{{ metadata.author.email }}</email>
    </author>
    {%- for post in collections.post %}
        {% set absolutePostUrl %}{{ post.url | url | absoluteUrl(metadata.url) }}{% endset %}
        <entry>
            <title>{{ post.data.title }}</title>
            <link href="{{ absolutePostUrl }}"/>
            <updated>{{ post.date | dateToRfc3339 }}</updated>
            <id>{{ absolutePostUrl }}</id>
            <content type="html">{{ post.templateContent | htmlToAbsoluteUrls(absolutePostUrl) }}</content>
        </entry>
    {%- endfor %}
</feed>