{% extends 'layouts/base.html' %}

{% block content %}
<main id="main">
  <kb-typewriter>
    <h1>Hey, I'm Troy...</h1>
  </kb-typewriter>
  <kb-typewriter>
    <p>...this is a website.</p>
  </kb-typewriter>

  <img
    src="{{ metadata.cloudinary }}/c_scale,f_auto,q_auto:eco,w_600/v1646349104/blog/me-on-stage-waverly_hoxgvf.webp"
    alt="Me holding my guitar on stage"
    decoding="async"
    width="600"
    height="600"
    id="me"
  />

  <p>
    I'm glad you could make it. Peruse my wares* and <a href="/about/">send me a letter</a> if you're so inclined.
  </p>
  <p>
    *I only accept bottle caps as currency, sorry... (I'm kidding)
  </p>

  <h2>Recent Posts</h2>

  <div>
    {% for post in collections.post.slice(collections.post.length - 5,
    collections.post.length) | reverse %}
    <article class="post-listing">
      <h3><a href="{{ post.url }}">{{ post.data.title }}</a></h3>
      <p>{{ post.data.description }}</p>
    </article>
    {% endfor %}
  </div>

  <p>
    <a href="/posts/">View All Posts</a>
  </p>

  <cloudy-sky hillside>
    <div class="wrapper">
      <div id="music">
        <h2>I Also Have <a href="/music/">Music</a></h2>
        <p>
          When I’m not coding, maybe I'm writing songs. My friends and I
          started Front Royal with the desire to make a name
          for ourselves, and I started troy. to explore a new outlet.
        </p>
      </div>
      <div id="about">
        <h2>Looking For More?</h2>
        <p>
          You can probably find it on my <a href="/about/">about</a> page.
        </p>
      </div>
    </div>
  </cloudy-sky>
</main>
{% endblock %}
