---
title: Welcome
description: Watch as Troy Vassalotti learns his way around a computer.
---

{% extends "layouts/base.njk" %}
{% from "macros.njk" import postItem %}

{% block content %}
    <main id="main">
        <cloudy-sky hillside>
        <div class="wrapper flow">
            <div class="container--title u-text--center">
                <h1 id="welcome" class="u-step-5">Now Viewing: A Website</h1>
                <p>Please be resepectful of the grounds and don't feed the animals.</p>
            </div>
            <div class="container--read flow">
                <type-writer>
                <h2 id="read" class="typing--read">Read</h2>
                </type-writer>
                <ol role="list" class="c-postList flow">
                    {% for post in collections.post.slice(collections.post.length - 5, collections.post.length) | reverse %}
                        {{ postItem(post.date, post.data.title, post.url, excerpt = post.data.description, heading = "3") }}
                    {% endfor %}
                </ol>
                <p class="c-postList__more">
                    <a class="c-animatedLink" href="{{ nav.header[1].url }}">View All Posts</a>
                </p>
            </div>
            <div class="container--play flow">
                <type-writer>
                <h2 id="play" class="typing--play">Play</h2>
                </type-writer>
                <p>I made these things.</p>
                <ol role="list" class="list play u-grid" data-grid-columns="fluid">
                    {% for project in projects %}
                        {% if project.tags and project.tags | inArray("play") %}
                            <li class="play__item">
                                <article class="flow play__item-content">
                                    <p class="play__item-title u-step-2 u-text--bold">
                                        <a href="{{ project.url }}">{{ project.name }}</a>
                                    </p>
                                    <p class="play__item-description">{{ project.description }}</p>
                                </article>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ol>
            </div>
            <div class="container--listen flow">
                <type-writer>
                <h2 id="listen" class="typing--listen">Listen</h2>
                </type-writer>
                <p>insert music stuff here</p>
            </div>
        </div>
        </cloudy-sky>
    </main>
{% endblock content %}

{% block style %}
    {{ super() }}
    <style>
        .container--title {
            padding-block: var(--space-2xl);
            position: relative;
        }

        /* From https://css-generators.com/custom-corners/ */
        .container--title::before {
            background: var(--accent);
            clip-path: polygon(0 50.72px,40px 40px,50.72px 0,calc(100% - 50.72px) 0,calc(100% - 40px) 40px,100% 50.72px,100% calc(100% - 50.72px),calc(100% - 40px) calc(100% - 40px),calc(100% - 50.72px) 100%,50.72px 100%,40px calc(100% - 40px),0 calc(100% - 50.72px),0 50.72px,10px  calc(50.72px + 7.67px),10px calc(100% - 50.72px - 7.67px),calc(40px + 8.16px) calc(100% - 40px - 8.16px),calc(50.72px + 7.67px) calc(100% - 10px),calc(100% - 50.72px - 7.67px) calc(100% - 10px),calc(100% - 40px - 8.16px) calc(100% - 40px - 8.16px),calc(100% - 10px) calc(100% - 50.72px - 7.67px),calc(100% - 10px) calc(50.72px + 7.67px),calc(100% - 40px - 8.16px) calc(40px + 8.16px),calc(100% - 50.72px - 7.67px) 10px,calc(50.72px + 7.67px) 10px,calc(40px + 8.16px) calc(40px + 8.16px),10px calc(50.72px + 7.67px));
            content: "";
            inset: 0;
            position: absolute;
        }

        :is(.container--title, .container--read, .container--play) {
            margin-block-end: var(--space-xl-2xl);
        }

        :is(.typing--read, .typing--play, .typing--listen) {
            --kb-duration-typing: .75s;
            font-size: var(--step-6);
        }

        .typing--read {
            --kb-steps-typing: 15;
        }

        .typing--play {
            --kb-steps-typing: 15;
        }

        .typing--listen {
            --kb-steps-typing: 15;
        }

        .list.play {
            --fluid-col-size: 20ch;
        }

        .play__item-content {
            border-radius: var(--space-3xs);
            box-shadow: 1px 2px 1px 2px var(--foreground);
            padding-block: var(--space-s);
            padding-inline: var(--space-xs);
        }

        ::part(hillside) {
            fill: var(--accent);
        }

        @media(prefers-color-scheme: light) {
            cloudy-sky {
                --cloud-filter: hue-rotate(222deg);
            }
        }

        @media(prefers-color-scheme: dark) {
            cloudy-sky {
                --cloud-filter: hue-rotate(190deg);
            }
        }
    </style>
{% endblock style %}

{% block script %}
    {{ super() }}
    <script type="module">
        import {CloudySky} from "cloudysky"
        import {Typewriter} from "typewriter"
    </script>
{% endblock script %}
