<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {%- if noindex -%}<meta name="robots" content="noindex">{%- endif -%}
    <link rel="preconnect" href="https://d33wubrfki0l68.cloudfront.net">
    <link rel="dns-prefetch" href="https://d33wubrfki0l68.cloudfront.net">
    <link rel="canonical" href="https://www.troyv.dev{{page.url}}">
    <link rel="stylesheet" href="https://fonts.typotheque.com/WF-036345-011398.css" type="text/css" />
    <link rel="stylesheet" href="/assets/css/normalize.css">
    <link rel="stylesheet" href="/assets/css/main.css">
    {% if page.fileSlug === "" %}<link rel="stylesheet" href="/assets/css/homepage.css">{% endif %}

    {%- if addCSS or codeblock or plvylist -%}
    {%- set css -%}
      {%- if addCSS -%}
        {%- include "css/" + page.fileSlug + ".css" -%}
      {%- endif -%}

      {%- if codeblock -%}
        {%- include "css/prism.css" -%}
      {%- endif -%}

      {%- if plvylist -%}
        {%- include "css/plvylist.css" -%}
      {%- endif -%}
    {%- endset -%}
    <style>
      {{ css | cssmin | safe }}
    </style>
    {%- endif -%}

    {% if animation %}<script src="/assets/js/prefixfree.js"></script>{% endif %}
    <title>{{ title }} | Troy V.</title>
    <meta name="description" content="{{description}}">
    <meta name="og:locale" content="en_US">
    <meta name="og:type" content="article">
    <meta name="og:title" content="{{title}}">
    <meta name="og:description" content="{{description}}">
    <meta name="og:site_name" content="troyv.dev">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="{{title}}">
    <meta name="twitter:description" content="{{description}}">
    <meta name="twitter:creator" content="@validcharacters">
  </head>
  <body class="{{pageName}}">
    <header class="site-header hideOnPrint">
      <nav class="main-navigation" id="main-navigation">
        <ul class="main-navigation__links">
          <li id="link__home-container"><a class="main-navigation__link animated-link" href="/" aria-label="homepage" id="link__home">troy vassalotti.</a></li>
          <li id="link__posts-container"><a class="main-navigation__link animated-link" href="/posts/" id="link__posts">posts.</a></li>
          <li id="link__projects-container"><a class="main-navigation__link animated-link" href="/projects/" id="link__projects">projects.</a></li>
          <li id="link__music-container"><a class="main-navigation__link animated-link" href="/music/" id="link__music">music.</a></li>
          <li id="link__about-container"><a class="main-navigation__link animated-link" href="/about/" id="link__about">about.</a></li>
        </ul>
      </nav>
    </header>
    {{ content | safe }}
    <footer class="site-footer hideOnPrint" id="site-footer">
      <nav class="footer-navigation" id="footer-navigation">
        <ul class="footer-navigation__links">
          <li><a class="footer-navigation__link animated-link" href="https://github.com/troyvassalotti" target="_blank" rel="noopener">Github</a></li>
          <li><a class="footer-navigation__link animated-link" href="https://codepen.io/troyvassalotti" target="_blank" rel="noopener">CodePen</a></li>
          <li><a class="footer-navigation__link animated-link" href="https://www.linkedin.com/in/troyvassalotti" target="_blank" rel="noopener">LinkedIn</a></li>
          <li><a class="footer-navigation__link animated-link" href="https://twitter.com/validcharacters" target="_blank" rel="noopener">Twitter</a></li>
        </ul>
      </nav>
      <p>&copy; troy vassalotti. | Built with <a class="footer-navigation__link animated-link" id="eleventy" href="https://www.11ty.dev" target="_blank" rel="noopener">Eleventy</a>.</p>
    </footer>

    {# ADD ALL THE SCRIPTS #}
    {%- set mainJS -%}
      {%- include "js/main.js" -%}
    {%- endset -%}
    <script>
      {{ mainJS | safe }}
    </script>

    {%- if addJS or page.fileSlug === "" -%}
    {%- set js -%}
      {%- if addJS -%}
        {%- include "js/" + page.fileSlug + ".js" -%}
      {%- endif -%}

      {% if page.fileSlug === "" %}
        {%- include "js/homepage.js" -%}
      {% endif %}
    {%- endset -%}
    <script type="module" async>
      {{ js | jsmin | safe }}
    </script>
    {%- endif -%}

    {% if plvylist %}<script src="/assets/js/plvylist.js" defer></script>{% endif %}
  </body>
</html>
