/* Basics */
body {
  margin: 0 !important;
  padding: 0;
  background-color: #ffffff;
}
table {
  border-spacing: 0;
  font-family: "Montserrat", "Merriweather", serif;
  color: #333333;
}
td {
  padding: 0;
}
img {
  border: 0;
}
div[style*="margin: 16px 0"] {
  margin:0 !important;
}
.wrapper {
  width: 100%;
  table-layout: fixed;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
.webkit {
  max-width: 600px;
  margin: 0 auto;
}
.outer {
  Margin: 0 auto;
  width: 100%;
  max-width: 600px;
  padding-top: 20px;
}
.logo img {
  width: 100px;
  max-width: 100px;
  height: auto;
  margin: 0 auto 10px;
  display: block;
}
.full-width-image img {
  width: 100%;
  max-width: 600px;
  height: auto;
}
.inner {
  padding: 10px;
}
.center {
  text-align: center;
}
p {
  Margin: 0;
}
a {
  color: #279af1;
  text-decoration: none;
}
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-family: "Quicksand", serif;
  font-weight: bold;
}
.h1 {
  font-size: 42px;
  Margin-bottom: 18px;
  text-align: center;
}
.h2 {
  font-size: 36px;
  Margin-bottom: 10px;
}

/* One column layout */
.one-column p {
  font-size: 18px;
  Margin-bottom: 10px;
  text-align: center;
}
.one-column .footer {
  background-color: #60656f;
  color: #f7f7ff;
}

/*Two column layout*/
.two-column {
  text-align: center;
  font-size: 0;
}
.two-column .column {
  width: 100%;
  max-width: 300px;
  display: inline-block;
  vertical-align: top;
}
.contents {
  width: 100%;
}
.two-column .contents {
  font-size: 18px;
}
.two-column img {
  width: 100%;
  max-width: 280px;
  height: auto;
}
.two-column .text {
  padding-top: 10px;
}

/*Three column layout*/
.three-column {
  text-align: center;
  font-size: 0;
  padding-top: 10px;
  padding-bottom: 10px;
}
.three-column .column {
  width: 100%;
  max-width: 200px;
  display: inline-block;
  vertical-align: top;
}
.three-column .contents {
  font-size: 16px;
  text-align: center;
}
.three-column img {
  width: 100%;
  max-width: 180px;
  height: auto;
}
.three-column .text {
  padding-top: 10px;
}

/* Left sidebar layout */
.left-sidebar {
  text-align: center;
  font-size: 0;
}
.left-sidebar .column {
  width: 100%;
  display: inline-block;
  vertical-align: middle;
}
.left-sidebar .left {
  max-width: 100px;
}
.left-sidebar .right {
  max-width: 500px;
}
.left-sidebar .img {
  width: 100%;
  max-width: 80px;
  height: auto;
}
.left-sidebar .contents {
  font-size: 16px;
  text-align: center;
}
.left-sidebar a {
  color: #85ab70;
}

/* Right sidebar layout */
.right-sidebar {
  text-align: center;
  font-size: 0;
}
.right-sidebar .column {
  width: 100%;
  display: inline-block;
  vertical-align: middle;
}
.right-sidebar .left {
  max-width: 100px;
}
.right-sidebar .right {
  max-width: 500px;
}
.right-sidebar .img {
  width: 100%;
  max-width: 80px;
  height: auto;
}
.right-sidebar .contents {
  font-size: 16px;
  text-align: center;
}
.right-sidebar a {
  color: #70bbd9;
}

/*Button Styling*/
.button {
  width: 275px;
  text-align: center;
  background-color: #279af1;
  border-radius: 20px;
  font-size: 24px;
  padding: 10px;
  color: #f7f7ff;
  margin: 20px auto 10px;
}
.button:hover, #ah:hover, #fr:hover {
  transition: .3s;
  color: #131112;
  background-color: #f2c94c;
}
.buttonSpacing {
  margin: 0 auto;
}
.two-column .button {
  font-size: 20px;
  width: 80%;
}

/*Media Queries*/
@media screen and (max-width: 440px) {
  .two-column .column,
  .three-column .column {
      max-width: 100% !important;
  }
  .two-column img {
      max-width: 100% !important;
  }
  .three-column img {
      max-width: 50% !important;
  }
}

@media screen and (min-width: 441px) and (max-width: 640px) {
  .three-column .column {
    max-width: 33% !important;
  }
  .two-column .column {
    max-width: 50% !important;
  }
}
