{%- set logoWidths = [300, 600] -%}
{%- set logoFormats = ['webp', 'png'] -%}
{%- set logoSizes = '(max-width: 700px) 96vw, 300px' -%}
<section class="bands">
    <div class="band">
        <div class="band-logo">
            <a href="https://frontroyalmd.bandcamp.com/" target="_blank" rel="noopener">
                {% image './src/assets/img/front-royal-logo-white_400x240.png', 'the logo for my band, Front Royal', logoWidths, logoFormats, logoSizes, 'full' %}
            </a>
        </div>
        <div class="icon-bar">
            {%- for social in frontRoyalSocial -%}
                <a class="icon-link" href="{{ social.href }}" target="_blank" rel="noopener"><img
                            src="/assets/img/{{ social.img }}" alt="{{ social.alt }}" loading="lazy"
                            width="48" height="48"></a>
            {%- endfor -%}
        </div>
    </div>
    <div class="band">
        <div class="band-logo">
            <a href="https://justtroy.bandcamp.com/" target="_blank" rel="noopener">
                {% image './src/assets/img/troy-full.png', 'the logo for my band, troy', logoWidths, logoFormats, logoSizes, 'full' %}
            </a>
        </div>
        <div class="icon-bar">
            {%- for social in troySocial -%}
                <a class="icon-link" href="{{ social.href }}" target="_blank" rel="noopener"><img
                            src="/assets/img/{{ social.img }}" alt="{{ social.alt }}" loading="lazy"
                            width="48" height="48"></a>
            {%- endfor -%}
        </div>
    </div>
</section>