<header class="site-header hideOnPrint">
  <nav class="main-navigation" id="main-navigation">
    <ul class="main-navigation__links">
      <li id="link__home-container"><a class="main-navigation__link animated-link" href="/" aria-label="homepage" id="link__home">troy vassalotti.</a></li>
      <li id="link__posts-container"><a class="main-navigation__link animated-link" href="/posts/" id="link__posts">posts.</a></li>
      <li id="link__projects-container"><a class="main-navigation__link animated-link" href="/projects/" id="link__projects">projects.</a></li>
      <li id="link__music-container"><a class="main-navigation__link animated-link" href="/music/" id="link__music">music.</a></li>
      <li id="link__about-container"><a class="main-navigation__link animated-link" href="/about/" id="link__about">about.</a></li>
    </ul>
  </nav>
</header>