<modal-menu id="shortcuts" shortcut="shift + ?">
<p class="u-step-2 u-text--bold" slot="title">Keyboard Shortcuts</p>
<div class="shortcuts__list flow">
    <div class="shortcutItem">
        <span class="shortcutItem__name secret">Secret</span>
        <span class="shortcutItem__command">Konami Code</span>
    </div>
    <div class="shortcutItem">
        <span class="shortcutItem__name secret">Secret</span>
        <span class="shortcutItem__command">Green, Red, Green, Yellow, Green, Blue, Green, Orange, Tilt</span>
    </div>
</div>
<p class="shortcutsDisclaimer u-step--2">
    <em>Bet you weren't expecting these to exist, huh?</em>
</p>
</modal-menu>
<style>
	.shortcutItem {
		border-block-end: 1px solid var(--accent);
		font-size: var(--step--1);
		padding-block: .5ch;
	}

	.shortcutItem > * {
		display: inline-block;
	}

	.shortcutItem__name.secret {
		font-style: italic;
	}

	.shortcutItem__command {
		font-family: var(--code);
		margin-inline-start: 1.5ch;
	}

	.shortcutsDisclaimer {
		margin-block-start: var(--space-l);
		text-align: end;
	}
</style>
