<style>
  .main-navigation {
    font-size: var(--step--1);
    padding: 1ch;
  }

  .main-navigation__links {
    margin: 0;
    padding: 0;
  }

  .main-navigation__links li:first-of-type {
    margin-block-end: 1ch;
  }

  .main-navigation__links li:not(:first-of-type) {
    display: inline-flex;
    margin-inline-end: 1ch;
  }

  .main-navigation__link {
    color: currentColor;
    text-decoration: none;
  }

  @media (prefers-reduced-motion: no-preference) {
    .main-navigation__link::before {
      --linkStartRest: right;
      --linkStateRest: scaleX(0);
    }

    .main-navigation__link:hover::before {
      --linkStartHover: left;
      --linkStateHover: scaleX(1);
    }

    #link__home::before {
      background-color: var(--homeColor);
    }

    #link__posts::before {
      background-color: var(--postsColor);
    }

    #link__music::before {
      background-color: var(--musicColor);
    }

    #link__work::before {
      background-color: var(--workColor);
    }

    #link__about::before {
      background-color: var(--aboutColor);
    }

    [aria-current="page"]::before {
      --linkStartRest: left;
      --linkStateRest: scaleX(1);
    }

    [aria-current="page"]:hover::before {
      --linkStartHover: right;
      --linkStateHover: scaleX(0);
    }
  }
</style>

<nav class="main-navigation" id="main-navigation" aria-label="main">
  <ul class="main-navigation__links" role="list">
    {% for link in nav.header %}
    <li>
      <a href="{{ link.url }}"
         class="main-navigation__link animated-link" {% if link.url == page.url %} aria-current="page" {% endif %}
         id="link__{{ link.name }}">
        {{ link.name }}
      </a>
    </li>
    {% endfor %}
  </ul>
</nav>
