<style>
    div#calendar-heatmap {
        overflow: auto;
        padding-block-start: 1em;
        padding-block-end: 1em;
    }

    div#calendar-heatmap svg.calendar {
        width: max(56.25rem, 100%);
    }
</style>

<div id="calendar-heatmap"></div>
<script src="/assets/js/d3-modules.js" defer></script>

<script type="module">
    const migraines = [{Date: "2019-01-14", Time: "00:59"}, {Date: "2019-01-17", Time: "20:18"}, {
        Date: "2019-01-26",
        Time: "08:30"
    }, {Date: "2019-02-05", Time: "00:48"}, {Date: "2019-02-09", Time: "10:30"}, {
        Date: "2019-02-13",
        Time: "17:08"
    }, {Date: "2019-02-16", Time: "03:00"}, {Date: "2019-02-25", Time: "15:40"}, {
        Date: "2019-02-27",
        Time: "10:25"
    }, {Date: "2019-03-02", Time: "09:00"}, {Date: "2019-03-04", Time: "05:00"}, {
        Date: "2019-03-04",
        Time: "22:45"
    }, {Date: "2019-03-11", Time: "05:45"}, {Date: "2019-03-20", Time: "18:30"}, {
        Date: "2019-03-22",
        Time: "04:30"
    }, {Date: "2019-03-23", Time: "04:20"}, {Date: "2019-04-02", Time: "07:00"}, {
        Date: "2019-04-03",
        Time: "19:00"
    }, {Date: "2019-04-29", Time: "03:54"}, {Date: "2019-05-01", Time: "09:47"}, {
        Date: "2019-05-04",
        Time: "01:00"
    }, {Date: "2019-05-16", Time: "23:07"}, {Date: "2019-05-22", Time: "07:30"}, {
        Date: "2019-05-25",
        Time: "11:00"
    }, {Date: "2019-05-30", Time: "18:45"}, {Date: "2019-06-01", Time: "03:00"}, {
        Date: "2019-06-15",
        Time: "11:00"
    }, {Date: "2019-06-19", Time: "04:44"}, {Date: "2019-06-20", Time: "15:15"}, {
        Date: "2019-06-28",
        Time: "16:50"
    }, {Date: "2019-07-02", Time: "10:13"}, {Date: "2019-07-11", Time: "13:29"}, {
        Date: "2019-07-17",
        Time: "01:18"
    }, {Date: "2019-07-19", Time: "05:11"}, {Date: "2019-07-20", Time: "08:11"}, {
        Date: "2019-07-22",
        Time: "07:45"
    }, {Date: "2019-07-23", Time: "07:19"}, {Date: "2019-07-26", Time: "09:12"}, {
        Date: "2019-07-26",
        Time: "13:08"
    }, {Date: "2019-08-17", Time: "09:09"}, {Date: "2019-08-22", Time: "22:17"}, {
        Date: "2019-09-03",
        Time: "06:25"
    }, {Date: "2019-09-07", Time: "03:56"}, {Date: "2019-09-13", Time: "15:10"}, {
        Date: "2019-09-24",
        Time: "18:50"
    }, {Date: "2019-09-27", Time: "01:40"}, {Date: "2019-10-01", Time: "20:12"}, {
        Date: "2019-10-10",
        Time: "10:20"
    }, {Date: "2019-10-27", Time: "05:54"}, {Date: "2019-10-28", Time: "15:28"}, {
        Date: "2019-10-30",
        Time: "21:05"
    }, {Date: "2019-11-04", Time: "14:00"}, {Date: "2019-11-14", Time: "14:40"}, {
        Date: "2019-11-18",
        Time: "07:50"
    }, {Date: "2019-11-19", Time: "05:47"}, {Date: "2019-11-24", Time: "21:05"}, {
        Date: "2019-11-26",
        Time: "04:35"
    }, {Date: "2019-12-04", Time: "12:03"}, {Date: "2019-12-09", Time: "14:13"}, {
        Date: "2019-12-13",
        Time: "13:15"
    }, {Date: "2019-12-16", Time: "01:41"}, {Date: "2019-12-18", Time: "11:54"}, {
        Date: "2019-12-22",
        Time: "09:54"
    }, {Date: "2019-12-24", Time: "09:54"}, {Date: "2019-12-29", Time: "19:03"}, {
        Date: "2019-12-30",
        Time: "21:42"
    }, {Date: "2019-12-31", Time: "03:24"}, {Date: "2020-01-02", Time: "14:43"}, {
        Date: "2020-01-07",
        Time: "09:37"
    }, {Date: "2020-01-11", Time: "12:16"}, {Date: "2020-01-25", Time: "12:00"}, {
        Date: "2020-02-18",
        Time: "15:57"
    }, {Date: "2020-02-20", Time: "16:45"}, {Date: "2020-02-24", Time: "17:50"}, {
        Date: "2020-03-20",
        Time: "04:23"
    }, {Date: "2020-03-21", Time: "16:06"}, {Date: "2020-03-23", Time: "19:30"}, {
        Date: "2020-04-03",
        Time: "12:19"
    }, {Date: "2020-04-21", Time: "01:28"}, {Date: "2020-04-25", Time: "00:38"}, {
        Date: "2020-04-26",
        Time: "12:06"
    }, {Date: "2020-05-01", Time: "00:53"}, {Date: "2020-05-09", Time: "10:58"}, {
        Date: "2020-05-10",
        Time: "15:26"
    }, {Date: "2020-05-17", Time: "01:58"}, {Date: "2020-05-21", Time: "10:18"}, {
        Date: "2020-05-23",
        Time: "09:46"
    }, {Date: "2020-05-25", Time: "19:48"}, {Date: "2020-05-27", Time: "07:37"}, {
        Date: "2020-05-28",
        Time: "09:20"
    }, {Date: "2020-06-12", Time: "00:06"}, {Date: "2020-06-13", Time: "06:40"}, {
        Date: "2020-06-16",
        Time: "08:57"
    }, {Date: "2020-07-11", Time: "22:37"}, {Date: "2020-07-18", Time: "14:42"}, {
        Date: "2020-07-25",
        Time: "06:28"
    }, {Date: "2020-07-26", Time: "15:43"}, {Date: "2020-08-07", Time: "10:15"}, {
        Date: "2020-08-10",
        Time: "00:51"
    }, {Date: "2020-08-14", Time: "22:24"}, {Date: "2020-08-22", Time: "13:20"}, {
        Date: "2020-08-28",
        Time: "22:10"
    }, {Date: "2020-09-07", Time: "03:05"}, {Date: "2020-09-11", Time: "13:07"}, {
        Date: "2020-09-13",
        Time: "11:14"
    }, {Date: "2020-09-14", Time: "05:30"}, {Date: "2020-09-16", Time: "03:44"}, {
        Date: "2020-09-29",
        Time: "03:00"
    }, {Date: "2020-11-08", Time: "17:30"}, {Date: "2020-12-21", Time: "05:56"}, {
        Date: "2020-12-24",
        Time: "11:48"
    }, {Date: "2020-12-31", Time: "22:48"}];

    // Take the migraine data and turn it into a new array for D3 to work with
    const data = new Map(migraines.map((value) => [value["Date"], value["Time"]]));

    // Define all the variables
    // The svg are made responsive within setting the width and height attr to 100%
    const width = 960,
        height = 136,
        cellSize = 17,
        mainStrokeColor = "currentColor",
        defaultStrokeWidth = "0.1px",
        boldedStrokeWidth = "1px",
        outerBorderWidth = "1.5px",
        labelFontFamily = "Native";

    // Create the color scale
    const color = d3
        .scaleQuantize()
        .domain([0, 23])
        .range(["#b1deff", "#54b1f5", "#0264a9", "#002b4c"]);

    // Create the overall SVG element
    const svg = d3
        .select("#calendar-heatmap")
        .selectAll("svg")
        .data(d3.range(2019, 2021))
        .enter()
        .append("svg")
        .attr("viewBox", `0 0 ${width} ${height}`)
        .attr("width", "100%")
        .attr("height", "100%")
        .attr("class", "calendar")
        .append("g")
        .attr(
            "transform",
            `translate(${(width - cellSize * 53) / 2}, ${height - cellSize * 7 - 1})`
        );

    // Create the rectangles on the chart
    svg
        .append("g")
        .attr("fill", "none")
        .attr("stroke", mainStrokeColor)
        .attr("stroke-width", defaultStrokeWidth)
        .selectAll("rect")
        .data((d) => d3.timeDays(new Date(d, 0, 1), new Date(d + 1, 0, 1)))
        .enter()
        .append("rect")
        .attr("class", "day")
        .attr("width", cellSize)
        .attr("height", cellSize)
        .attr("x", (d) => d3.timeWeek.count(d3.timeYear(d), d) * cellSize)
        .attr("y", (d) => d.getDay() * cellSize)
        .datum(d3.timeFormat("%Y-%m-%d"))
        .attr("fill", (d) => color(parseInt(data.get(d))));

    // Check if there's a filled in day and then attach the even handlers to it
    const Days = document.querySelectorAll(".day");
    Days.forEach((day) => {
        if (day.hasAttribute("fill")) {
            d3.select(day)
                .on("mouseover", function () {
                    d3.select(this).attr("stroke-width", boldedStrokeWidth);
                })
                .on("mouseout", function () {
                    d3.select(this).attr("stroke-width", defaultStrokeWidth);
                })
                .append("title")
                .text(
                    (d) => `Date: ${d}
        Time: ${data.get(d)}`
                );
        }
    });

    // Create the year labels
    svg
        .append("text")
        .attr("transform", `translate(-6, ${cellSize * 3.5})rotate(-90)`)
        .attr("font-family", labelFontFamily)
        .attr("font-size", "1em")
        .attr("text-anchor", "middle")
        .attr("fill", mainStrokeColor)
        .text((d) => d);

    // Create the borders between the months
    svg
        .append("g")
        .attr("fill", "none")
        .attr("stroke", mainStrokeColor)
        .attr("stroke-width", outerBorderWidth)
        .selectAll("path")
        .data((d) => d3.timeMonths(new Date(d, 0, 1), new Date(d + 1, 0, 1)))
        .enter()
        .append("path")
        .attr("class", "month")
        .attr("d", function (d) {
            const t1 = new Date(d.getFullYear(), d.getMonth() + 1, 0),
                d0 = d.getDay(),
                w0 = d3.timeWeek.count(d3.timeYear(d), d),
                d1 = t1.getDay(),
                w1 = d3.timeWeek.count(d3.timeYear(t1), t1);
            return `M${
                (w0 + 1) * cellSize
            }, ${d0 * cellSize}H${w0 * cellSize}V${7 * cellSize}H${w1 * cellSize}V${(d1 + 1) * cellSize}H${(w1 + 1) * cellSize}V0H${(w0 + 1) * cellSize}Z`;
        });

    // Create the month labels above the blocks
    const axisScale = d3
        .scaleBand()
        .domain([
            "January",
            "February",
            "March",
            "April",
            "May",
            "June",
            "July",
            "August",
            "September",
            "October",
            "November",
            "December"
        ])
        .range([0, width - 50]);

    const xAxis = d3.axisTop(axisScale).tickSize(0).tickPadding("3");
    svg
        .append("g")
        .attr("id", "x-axis")
        .attr("style", `font-family: ${labelFontFamily}`)
        .call(xAxis)
        .selectAll("path")
        .attr("stroke", "transparent");
</script>