<link rel="preload" href="https://fonts.typotheque.com/WF-036345-011398.css" as="style">
<link rel="stylesheet" href="https://fonts.typotheque.com/WF-036345-011398.css" media="not all" onload="this.media='all'">
<link rel="stylesheet" href="/assets/css/style.css">
<noscript>
    <link rel="stylesheet" href="https://fonts.typotheque.com/WF-036345-011398.css">
</noscript>
{% if home -%}
    <link rel="stylesheet" href="/assets/css/homepage.css">
{%- endif %}

{%- if addCSS -%}
    {%- set css -%}
        {%- if addCSS -%}
            {%- include "../css/" + page.fileSlug + ".css" -%}
        {%- endif -%}
    {%- endset -%}

    {%- if site.environment == "production" -%}
        <style>{{ css | cssmin | safe }}</style>
    {%- else -%}
        <style>{{ css | safe }}</style>
    {%- endif -%}

{%- endif -%}