{%- if addCSS or codeblock or plvylist -%}
    {%- set css -%}
        {%- if addCSS -%}
            {%- include "../css/" + page.fileSlug + ".css" -%}
        {%- endif -%}
        {%- if codeblock -%}
            {%- include "../css/prism.css" -%}
        {%- endif -%}
    {%- endset -%}
    {%- if site.environment == "production" -%}
        <style>{{ css | cssmin | safe }}</style>
    {%- else -%}
        <style>{{ css | safe }}</style>
    {%- endif -%}
{%- endif -%}