<script type="module" src="/assets/js/script.js"></script>
{%- if addJS or home -%}
    {%- set js -%}
        {%- if addJS -%}
            {%- include "../js/" + page.fileSlug + ".js" -%}
        {%- endif -%}
        {%- if home -%}
            {%- include "../js/homepage.js" -%}
        {%- endif -%}
    {%- endset -%}
    <script type="module">
        {%- if site.environment == "production" -%}
        {{ js | jsmin | safe }}
        {%- else -%}
        {{ js | safe }}
        {%- endif -%}
    </script>
{%- endif -%}

{%- if lightbox -%}
    <script type="module">
        import Zooming from 'https://cdn.skypack.dev/zooming';
        document.addEventListener('DOMContentLoaded', function () {
            const zooming = new Zooming({
                bgColor: 'rgb(0, 0, 0)',
                bgOpacity: .5,
                customSize: '135%'
            })
            zooming.listen('.img-zoomable')
        })
    </script>
{%- endif -%}