<div class="wrapper">
    <section class="projects__focus">
        {% for project in collections['featured project'] | reverse %}
            <div class="container">
                <div class="content">
                    <h2>{{ project.data.title }}</h2>
                    <p>{{ project.data.description }}</p>
                </div>
                <a href="{{ project.url }}">
                    {% image project.data.featuredImage, project.data.title, [600, 900, 1200], ['webp', 'jpg'], '(max-width: 700px) 100vw, 1200px' %}
                </a>
            </div>
        {% endfor %}
    </section>
</div>