{%- for location in syndication -%}
	{%- if location === 'mastodon' -%}
		<a rel="syndication noreferrer" class="u-syndication" href="https://brid.gy/publish/mastodon"></a>
	{%- endif -%}
{%- endfor -%}