{%- set webmentionUrl = page.url | url | absoluteUrl(metadata.url) -%}
{%- set mentions = webmentions.children | webmentionsForUrl(webmentionUrl) -%}
<section class="webmentions" id="webmentions">
    <h2>Webmentions</h2>
    <p class="italic">🚧 This section is a work in progress 🚧</p>

    {% if mentions.length %}
        <div class="webmentions__facepile">
            {% for webmention in mentions | reverse %}
                <img src="{% if webmention.author.photo %}{{ webmention.author.photo }}{% else %}{{ '/assets/img/user.svg' }}{% endif %}"
                     title="{{ webmention.author.name }}" alt="" class="webmentions__face"/>
            {% endfor %}
            {% if mentions.length > 5 %}
                <span>+{{ mentions.length - 5 }}</span>
            {% endif %}
        </div>

        <ol class="webmentions__list" role="list">
            {% for webmention in mentions | reverse %}
                <li class="webmentions__item">
                    {% include 'partials/webmention.njk' %}
                </li>
            {% endfor %}
        </ol>

    {% else %}
        <p>No mentions yet.</p>
    {% endif %}
</section>