---
title: Projects
description: These are a few of the projects I've made, but there are many more.
pageName: projects
---
{% extends 'layouts/page.njk' %}

{% block main %}
    <div class="wrapper">
        <section class="projects__focus">
            {% for project in collections['featured project'] | reverse %}
                <div class="container neumorphism">
                    <div class="content">
                        <h2>{{ project.data.title }}</h2>
                        <p>{{ project.data.description }}</p>
                    </div>
                    <a href="{{ project.url }}">
                        {% image project.data.featuredImage, project.data.title, [600, 900, 1200], ['webp', 'jpg'], '(max-width: 700px) 100vw, 1200px', 'has-box-shadow' %}
                    </a>
                </div>
            {% endfor %}
        </section>
    </div>
    <section class="codepen">
        <div class="wrapper">
            <h3>View More on CodePen</h3>
            <p>I've made a lot of things - bigger and smaller - that would be impossible to keep track of on here. From
                experimenting with JavaScript frameworks, to making things animate for no good reason, to even coding
                emails (yikes!). You could say I'm winging it <a href="https://codepen.io/troyvassalotti">over there</a>.
            </p>
        </div>
    </section>
    <section class="misc">
        <header>
            <h2>Other Fun Stuff</h2>
        </header>
        {# This partial doesn't use the CaptionOverlay component because caching remote images in the Image plugin requires asynchronous functionality, but the paired shortcode requires synchronous functions #}
        <div class="projects__misc">
            {%- for project in collections['small project'] | reverse -%}
                <figure class="caption-overlay">
                    <a class="caption-link" href="{{ project.url }}">
                        {%- image project.data.featuredImage, project.data.title, [300, 600], ['webp', 'jpg'], '33vw', 'caption-image' -%}
                        <div class="caption">
                            <figcaption>
                                <h3>{{ project.data.shortname }}</h3>
                            </figcaption>
                        </div>
                    </a>
                </figure>
            {%- endfor -%}
        </div>
    </section>
{% endblock %}

<style>
    {% set css %}
    #proj-title {
        display: inline-block;
    }

    .projects__focus {
        --min: 20rem;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(var(--min), 1fr));
        gap: 2rem;
    }

    .projects__focus h2 {
        font-size: var(--step-2);
    }

    .projects__focus .container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 1rem;
    }

    .projects__focus img {
        transition: 0.3s ease;
    }

    .projects__focus img:hover {
        filter: brightness(0.5);
        transform: scale(1.02);
    }

    .codepen .wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    .codepen .wrapper p {
        max-width: 45ch;
        text-align: end;
    }

    .misc h2 {
        margin-block-end: 2rem;
    }

    .projects__misc {
        display: flex;
        overflow-x: auto;
    }

    .projects__misc .caption-overlay {
        flex: 0 0 clamp(12.5rem, 20vw, 30rem);
        margin-inline-start: 1em;
        margin-inline-end: 1em;
    }

    .projects__misc .caption-overlay h3 {
        font-size: var(--step-1);
    }

    .misc header {
        padding-inline-start: 1em;
    }

    @media (min-width: 1200px) {
        .projects__focus {
            --min: 30rem;
        }
    }

    {% endset %}
</style>

<script type="module">
    {% set js %}
    // This is for the handdrawn annotations from Rough Notation
    import {annotate} from 'https://cdn.skypack.dev/rough-notation';

    const pageTitle = document.querySelector('#page-title');
    pageTitle.setAttribute("style", "color: var(--blackPrimary)");
    const projectsAnnotation = annotate(pageTitle, {
        type: 'highlight',
        color: 'var(--projectsColor)',
        padding: 15,
    });

    projectsAnnotation.show();
    {% endset %}
</script>